/* -----------------------------------
SP　ログインスタイル　ver.1
sp_login.css
-----------------------------------*/
*{
	margin: 0;
	padding:0;
	list-style-type:none;
	} 
#loginArea  {
	font-size:12px;
}
#loginArea h2 {
	background: #4b4b4b;
	border-top: 1px solid #fff;
	font-size: 18px;
	color: #fff !important;
	text-align: center;
	line-height: 1.2em;
	margin: 0;
	padding: .5em 0;
}
#loginArea form {
	margin: 0;
	padding: 0;
}
#loginArea input {
	border: 1px solid #dfdfdf;
	font-size: 14px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 8px;
	margin: 5px 0;
}
#loginArea .loginTopArea {
	padding: 10px;
}
#loginArea .attention {
	color: #d8263c;
}
#loginArea .btnArea {
	text-align: center;
	padding: .6em;
	border-top: 1px solid #ededed;
}
#loginArea .wide {
	width: 100%;
}
#loginArea .half {
	width: 48%;
}
#loginArea .short {
	width: 28%;
}
#loginArea .memory label {
	width: 100%;
	padding: 8px;
	font-size: 125%;
	background: #dfdfdf;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 5px 0;
}
#loginArea .arrowRtxt {
	display: inline;
	clear: both;
	margin: 5px auto;
	padding-right: 15px;
	background: url(../img/common/ico_arrowR.png) right center no-repeat;
}
#loginArea .textLink {
	text-align: center;
	padding: .8em;
}
#loginArea .btn_area input.button {
	width: 100%;
	background: #3498db;
	color: #fff;
	font-size: 144%;
	padding: 1em 0;
}
#loginArea .loginBtmArea {
	background: #dfdfdf;
	padding: 10px;
}
#loginArea .txtArea {
	background: #fff;
	padding: 10px;
	margin-top: 10px;
	font-size: 125%;
	line-height: 1.6em;
}
#loginArea h3 {
	border-left-color: #4b4b4b !important;
	border-left: 5px solid;
	padding-left: .6em;
	padding-top: .2em;
	padding-bottom: .2em;
	font-size: 144%;
	line-height: 1.6em;
	font-weight: bold;
}
#loginArea .btnGray {
	margin: 10px 0;
}
#loginArea .btnGray a {
	width: 100%;
	padding: .6em;
	font-size: 125%;
	display: block;
	background: #ffffff;
	border: 1px solid #ABABAB;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#loginArea .btnWhite {
	margin: 10px 0;
}
#loginArea .btnWhite a {
	width: 100%;
	padding: 1em;
	font-size: 144%;
	display: block;
	background: #ffffff url(../img/common/ico_arrowR.png) 98% center no-repeat;
	border: 1px solid #ABABAB;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-decoration: none;
}
#loginArea .btnSub {
	margin: 10px 0;
	width: 100%;
	padding: .6em 1em;
	font-size: 15px;
	display: block;
	background: #ffffff;
	text-align: center;
	border: 1px solid #ABABAB;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-weight: bold;
}

.login-close{
	position:absolute;
	display:inline-block;
	transform: scale(1);
	top:-12px;
	right:-10px;
	background-color: #4b4b4b;
	border-radius: 36px;
	box-shadow: 1px 1px 5px rgba(0,0,0,1);
	border: 3px solid #999;
	height: 36px;
	width: 36px;
}
.login-close:before,.login-close:after{
	position:absolute;
	display:inline-block;
	content: '';
	width: 4px;
	height: 25px;
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background-color: white;
	top: 3px;
	left: 13px;
}
.login-close:after{
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
