/* -----------------------------------
sp_style.scss
-----------------------------------*/
.sp_only {
  display: block; }

.pc_only {
  display: none; }

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1039; }

.pointArea {
  padding: 1%;
  font-size: 10px;
  background: #ededed url(../img/common/ico_point.png) no-repeat 6px center;
  background-size: 6% auto;
  padding: 10px 4px 10px 3.4em; }
  .pointArea .point {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
    padding: 4px;
    font-size: 9px; }

#sb-site {
  background-color: transparent;
}

header {
  box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.6);
  width: 100%;
  font-size: 62.5%;
  padding: 0; }
  header #topArea {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #ededed), color-stop(0, #fff));
    background: -webkit-linear-gradient(#fff, #ededed);
    background: -moz-linear-gradient(#fff, #ededed);
    background: -o-linear-gradient(#fff, #ededed);
    background: -ms-linear-gradient(#fff, #ededed);
    background: linear-gradient(#fff, #ededed);
    overflow: hidden; }
  header .red {
    color: #d8263c; }
  header .bg {
    /*background: #4b4b4b url(../img/common/head_bg.png) no-repeat right center;*/
    padding: 2% 3% 3% 0;
    float: left;
    width: 50%; }
  header .sb-toggle-left {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #fefc06), color-stop(0, #fffff8));
    background: -webkit-linear-gradient(#fffff8, #fefc06);
    background: -moz-linear-gradient(#fffff8, #fefc06);
    background: -o-linear-gradient(#fffff8, #fefc06);
    background: -ms-linear-gradient(#fffff8, #fefc06);
    background: linear-gradient(#fffff8, #fefc06);
    border: 2px solid #fff;
    box-shadow: 1px 2px 3px 1px #9ca19d;
    -moz-box-shadow: 1px 2px 3px 1px #9ca19d;
    -webkit-box-shadow: 1px 2px 3px 1px #9ca19d;
    border-radius: 0px 6px 6px 0px;
    -moz-border-radius: 0px 6px 6px 0px;
    -webkit-border-radius: 0px 6px 6px 0px;
    float: left;
    padding: 1em;
    text-align: center;
    font-size: 125% !important; }
  @media screen and (min-width: 600px) and (max-width: 960px) {
    header .sb-toggle-left {
      font-size: 258% !important; } }
  header .sb-toggle-left a {
    text-decoration: none;
    font-weight: bold;
    color: #4b4b4b; }
  header h1 {
    background-size: 50% auto;
    display: block;
    text-indent: -9999px;
    width: 200px;
    /*padding: 35px 0 0 0 !important;*/
    line-height: 1.1;
    margin: 0 0 0 35%; }
    header h1 a {
      width: 120px;
      display: inline-block;
      height: 40px;
      float: left;
      margin-top: -40px; }
  header ul {
    margin-top: -5%; }
  header li {
    float: left;
    width: 15%;
    white-space: nowrap; }
    header li a {
      padding-top: 48px;
      display: inline-block; }
    @media screen and (min-width: 600px) and (max-width: 960px) {
      header li a {
        padding-top: 88px; } }
  header .login {
    background: url(../img/common/ico_login.png) no-repeat center center;
    background-size: 60% auto;
    text-align: center; }
  header .mypage {
    background: url(../img/common/ico_name.png) no-repeat center center;
    background-size: 60% auto;
    text-align: center; }
  header .cart {
    background: url(../img/common/ico_cart.png) no-repeat center center;
    background-size: 60% auto;
    text-align: center;
    position: relative; }
    header .cart span {
      position: absolute;
      top: 10%;
      right: 0;
      background: #ff0004;
      color: #fff;
      border-radius: 100px;
      padding: 2px 4px; }
  header .sb-toggle-right {
    float: left;
    background: url(../img/common/ico_menu.png) no-repeat center center;
    background-size: 50% auto;
    text-align: center;
    padding-top: 13%;
    width: 15%; }

.name {
  text-align: center;
  padding: 1em; }

#searchArea {
  background: #ededed;
  padding: 1em; }
  #searchArea #searchform {
    position: relative; }
    #searchArea #searchform #keywords {
      padding: 0.5em;
      background: #fff;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      width: 90%; }
    @media screen and (min-width: 600px) and (max-width: 960px) {
      #searchArea #searchform #keywords {
        width: 98%; } }
    #searchArea #searchform #searchBtn {
      position: absolute;
      top: 0;
      right: 0.2em;
      padding: 0; }

.accordion_dl dt {
  background: #fff url(../img/common/ico_info.png) no-repeat 1em center;
  background-size: 6% auto;
  border-bottom: solid 1px #ededed;
  margin-bottom: 1px;
  padding: 1.4em 1em 1.4em 3em;
  cursor: pointer;
  position: relative;
  font-size: 11px; }

.accordion_dl .info {
  padding-right: 3.4em;
}

@media screen and (min-width: 600px) and (max-width: 960px) {
  .accordion_dl dt {
    padding-left: 5em; } }
.accordion_dl dt:before {
  display: block;
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  right: 15px;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  background: #cccccc; }

.accordion_dl dt:after {
  display: block;
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  right: 15px;
  width: 16px;
  height: 16px;
  margin-top: -16px;
  background: #fff; }

.accordion_dl dt.active:before {
  margin-top: -2px; }

.accordion_dl dt.active:after {
  margin-top: 6px; }

.accordion_dl dd {
  background-color: #EDEDED;
  border-bottom: solid 1px #D6D6D6;
  padding: 0.6em; }

.accordion_dl dt a {
  position: relative;
  display: block; }

.accordion_dl dt a:before {
  display: block;
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  right: 17px;
  width: 10px;
  height: 10px;
  margin-top: -5px; }

.accordion_dl dt a:after {
  display: block;
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  right: 22px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  background: #EDEDED; }

section {
  padding-bottom: 1em; }

h2 {
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 1.2em;
  margin: 0;
  padding: .5em 0; }
footer li {
  background: #ededed url(../img/common/nav_arrowr.png) no-repeat 98% center;
  padding: 1.4em 3em 1.4em 1.4em;
  border-bottom: 1px solid #D9D9D6;
  font-size: 12px; }
  footer li span {
    font-size: 8px;
    display: block; }
footer .blank {
  background: #ededed url(../img/common/ico_blank.png) no-repeat 98% center !important;
  background-size: 4% !important; }
footer .tw {
  background: url(../img/common/ico_tw.png) no-repeat right center;
  background-size: 14%;
  padding-right: 3em;
  display: inline-block; }
footer .copy {
  background: #4b4b4b;
  color: #fff;
  text-align: center;
  line-height: 4em; }

/**/
.sb-left {
  font-size: 12px; }
  .sb-left .title {
    background: #4b4b4b;
    color: #fff;
    text-align: center;
    line-height: 2.4em;
    font-size: 10px; }
  .sb-left .groupList {
    padding: 0;
    margin: 0 auto 1em;
    font-size: 14px; }
    .sb-left .groupList li {
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 0;
      border-bottom: 1px solid #cccccc; }
    .sb-left .groupList .akb a {
      color: #e5007f; }
    .sb-left .groupList .team8 a {
      color: #2c549a; }
    .sb-left .groupList .ske a {
      color: #f7b500; }
    .sb-left .groupList .nmb a {
      color: #744f1a; }
    .sb-left .groupList .hkt a {
      color: #000; }
    .sb-left .groupList .ngt a {
      color: #e50009; }
    .sb-left .groupList .jkt a {
      color: #e70012; }
    .sb-left .groupList .gstop a {
      color: #4b4b4b; }
    .sb-left .groupList a {
      background: #fff url(../img/common/nav_arrowrw.png) no-repeat 98% center;
      background-size: 8% !important;
      padding: 1em 3em 1em 1em;
      display: block;
      font-size: 14px; }

/**/
.sb-right {
  font-size: 12px; }
  .sb-right .title {
    background: #4b4b4b;
    color: #fff;
    text-align: center;
    line-height: 2.4em;
    font-size: 10px; }
  .sb-right .accordion_dl .name {
    padding: 1em 1em 1em 3em;
    text-align: left !important;
    background: url(../img/common/ico_name.png) no-repeat 0.4em 0.6em;
    background-size: 10% auto;
    border-bottom: 1px solid #D9D9D6; }
  .sb-right li a {
    background: #fff url(../img/common/nav_arrowrw.png) no-repeat 98% center;
    background-size: 8%;
    padding: 1em 3em 1em 1em;
    border-bottom: 1px solid #D9D9D6;
    display: block;
    font-size: 12px; }
    .sb-right li a span {
      font-size: 9px;
      display: block; }
  .sb-right .accordion_dl dt {
    background: #fff url(https://izone-shop.com/assets/css/none);
    border-bottom: solid 1px #D9D9D6;
    margin-bottom: 1px;
    padding: 1em;
    font-size: 12px;
    cursor: pointer;
    position: relative; }
  .sb-right .accordion_dl dt:before {
    display: block;
    content: "";
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 40%;
    right: 15px;
    width: 18px;
    height: 18px;
    margin-top: -6px;
    background: #cccccc; }
  .sb-right .accordion_dl dt:after {
    display: block;
    content: "";
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 38%;
    right: 15px;
    width: 18px;
    height: 18px;
    margin-top: -13px;
    background: #fff; }
  .sb-right .accordion_dl dt.active:before {
    margin-top: -3px; }
  .sb-right .accordion_dl dt.active:after {
    margin-top: 6px; }
  .sb-right .accordion_dl dd {
    background-color: #ededed;
    border-bottom: solid 1px #D6D6D6;
    padding: 0; }
    .sb-right .accordion_dl dd li a {
      background: #ededed url(../img/common/nav_arrowr.png) no-repeat 98% center;
      background-size: 10%;
      display: block;
      font-size: 12px;
      text-indent: 2em; }
  .sb-right .menu li {
    background: #fff url(../img/common/nav_arrowrw.png) no-repeat 98% center;
    background-size: 8%;
    display: block;
    font-size: 12px; }
    .sb-right .menu li span {
      font-size: 9px; }
  .sb-right .menu a {
    padding: 1em 1em 1em 3em; }
  .sb-right .menu .name {
    padding: 0; }
    .sb-right .menu .name a {
      padding: 1em 1em 1em 3em;
      text-align: left;
      background: url(../img/common/ico_name.png) no-repeat 0.4em center;
      background-size: 10% auto; }
  .sb-right .menu .login a {
    background: url(../img/common/ico_login.png) no-repeat 0.4em center;
    background-size: 10% auto; }
  .sb-right .menu .logout a {
    background: url(../img/common/ico_logout.png) no-repeat 0.4em center;
    background-size: 10% auto; }
  .sb-right .menu .cart a {
    background: url(../img/common/ico_cart.png) no-repeat 0.4em center;
    background-size: 10% auto; }
  .sb-right .menu .topics a {
    background: url(../img/common/ico_topics.png) no-repeat 0.4em center;
    background-size: 10% auto; }
  .sb-right .navArrow a {
    background: #fff url(../img/common/nav_arrowrw.png) no-repeat 98% center;
    background-size: 8%;
    padding: 1em 3em 1em 1em;
    border-bottom: 1px solid #D9D9D6;
    display: block; }

.sideNav li a {
  background: #ededed url(../img/common/nav_arrowr.png) no-repeat 98% center;
  padding: 1em 3em 1em 1em;
  border-bottom: 1px solid #D9D9D6; }
.sideNav .blank a {
  background: #ededed url(../img/common/ico_blank.png) no-repeat 98% center !important;
  background-size: 10% !important; }
.sideNav .tw {
  background: url(../img/common/ico_tw.png) no-repeat right center;
  background-size: 13%;
  display: inline-block;
  padding-right: 2em; }

.sb-close-btn {
  width: 60%;
  margin: 0 auto;
  background: #4b4b4b url(../img/common/ico_close.png) no-repeat 32% center;
  background-size: 10% auto;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: .8em 1em;
  margin: 2em auto; }

section {
  margin-bottom: 1em; }
  section .inner {
    padding: .6em; }
    section .inner li {
      margin-bottom: 0.6em;
      line-height: 1.4em; }
      section .inner li img {
        margin-bottom: .6em; }

.level2, .level3 {
  display: none; }

#categoryList .level1 {
  background-size: 6% auto;
  border-bottom: solid 1px #D9D9D6;
  margin-bottom: 1px;
  padding: 1em;
  cursor: pointer;
  position: relative;
  font-size: 14px; }
#categoryList .level2 li {
  background-color: #ededed;
  border-bottom: 1px solid #D9D9D6;
  background: #ededed url(../img/common/nav_arrowr.png) no-repeat 98% 16px;
  background-size: 8%;
  padding: 1.4em 3em 1.4em 1.4em;
  font-size: 12px;
  position: relative; }
#categoryList .level1 span, #categoryList .level2 span {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
  top: 0;
  text-indent: -9999px; }
#categoryList .level1 span:before {
  display: block;
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  right: 15px;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  background: #cccccc; }
#categoryList .level1 span:after {
  display: block;
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  right: 15px;
  width: 16px;
  height: 16px;
  margin-top: -16px;
  background: #fff; }
#categoryList .level2 span {
  background: url(../img/common/level2_down.png) no-repeat 70% top;
  background-size: 80% auto; }
#categoryList .level1 span.active:before {
  margin-top: -4px; }
#categoryList .level1 span.active:after {
  margin-top: 5px; }
#categoryList .level2 span.active {
  background: url(../img/common/level2_up.png) no-repeat 70% top;
  background-size: 80% auto; }
#categoryList .level3 li {
  background-color: #ededed;
  border-bottom: 1px solid #D9D9D6;
  background: #ededed url(../img/common/nav_arrowr.png) no-repeat 98% center;
  background-size: 8%;
  padding: 1.4em 3em 1.4em 1.4em;
  font-size: 12px; }
#categoryList a {
  position: relative;
  display: block; }
#categoryList a:before {
  display: block;
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  right: 17px;
  width: 10px;
  height: 10px;
  margin-top: -5px; }

.halfList {
  overflow: hidden; }
  .halfList li {
    width: 48%;
    margin-right: 2%;
    float: left; }
    .halfList li img {
      width: 100%; }
  .halfList li:nth-child(even) {
    margin-right: 0; }
  .halfList li:nth-child(odd) {
    clear: left; }

.groupList {
  padding: 0;
  margin: 0 auto 1em; }
  .groupList li {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #cccccc; }
  .groupList a {
    background: #fff url(../img/common/nav_arrowrw.png) no-repeat 98% center;
    background-size: 5%;
    padding: 1em 3em 1em 1em;
    display: block;
    font-size: 14px; }

.groupList .akb a {
  color: #e5007f !important; }

.groupList .team8 a {
  color: #2c549a !important; }

.groupList .ske a {
  color: #f7b500 !important; }

.groupList .nmb a {
  color: #744f1a !important; }

.groupList .hkt a {
  color: #000 !important; }

.groupList .ngt a {
  color: #e50009 !important; }

.groupList .jkt a {
  color: #e70012 !important; }

.groupList .gstop a {
  color: #4b4b4b !important; }

#officialArea ul {
  margin: .6em; }
  #officialArea ul li {
    float: left;
    width: 17%;
    margin-right: 3%; }
    #officialArea ul li img {
      width: 100%; }
  #officialArea ul li:last-child {
    margin-right: 0; }

.small {
  font-size: 9px; }

.sb-right #categoryList .level1 {
  background-size: 6% auto;
  border-bottom: solid 1px #D9D9D6;
  margin-bottom: 1px;
  padding: 1.2em;
  cursor: pointer;
  position: relative;
  font-size: 12px;
  background-color: #ededed; }
.sb-right #categoryList .level2 li {
  background-color: #ededed;
  border-bottom: 1px solid #D9D9D6;
  background: #ededed url(../img/common/nav_arrowr.png) no-repeat 98% 16px;
  background-size: 8%;
  padding: 1.4em 3em 1.4em 1.4em;
  font-size: 12px;
  position: relative; }
.sb-right #categoryList .level1 span, .sb-right #categoryList .level2 span {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
  top: 0;
  text-indent: -9999px; }
.sb-right #categoryList .level1 span:before {
  display: block;
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  right: 15px;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  background: #cccccc; }
.sb-right #categoryList .level1 span:after {
  display: block;
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  right: 15px;
  width: 16px;
  height: 16px;
  margin-top: -16px;
  background: #ededed; }
.sb-right #categoryList .level2 span {
  background: url(../img/common/level2_down.png) no-repeat 70% top;
  background-size: 80% auto; }
.sb-right #categoryList .level1 span.active:before {
  margin-top: -4px; }
.sb-right #categoryList .level1 span.active:after {
  margin-top: 5px; }
.sb-right #categoryList .level2 span.active {
  background: url(../img/common/level2_up.png) no-repeat 70% top;
  background-size: 80% auto; }
.sb-right #categoryList .level3 li {
  background-color: #ededed;
  border-bottom: 1px solid #D9D9D6;
  background: #ededed url(../img/common/nav_arrowr.png) no-repeat 98% center;
  background-size: 8%;
  padding: 1.4em 3em 1.4em 1.4em;
  font-size: 12px; }
.sb-right #categoryList a {
  position: relative;
  display: block; }
.sb-right #categoryList a:before {
  display: block;
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  right: 17px;
  width: 10px;
  height: 10px;
  margin-top: -5px; }
.sb-right #categoryList .level2 a {
  background: url(https://izone-shop.com/assets/css/none);
  display: block;
  padding: 0;
  border-bottom: 0; }

#memberArea #tab {
  overflow: hidden;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #4b4b4b;
  margin: 1em auto;
  width: 90%;
  display: table; }
  #memberArea #tab li {
    background: #fff;
    padding: .4em 0;
    text-align: center;
    border-right: 1px solid #4b4b4b;
    display: table-cell;
    margin-bottom: 0 !important;
    font-size: 12px; }
  #memberArea #tab li:last-child {
    border-right: 0; }
  #memberArea #tab li.select {
    background: #4b4b4b;
    color: #fff; }
#memberArea .content {
  background: #fff;
  padding: 1em 0; }
#memberArea .memberslider li span {
  display: block; }
#memberArea .memberslider li .teama {
  color: #e05e9e; }
#memberArea .memberslider li .teamk {
  color: #64b000; }
#memberArea .memberslider li .teamb {
  color: #26a6e0; }
#memberArea .memberslider li .team4 {
  color: #fcc300; }

h3 {
  border-left: 5px solid;
  padding-left: .6em;
  padding-top: .2em;
  padding-bottom: .2em;
  font-size: 144%;
  line-height: 1.6em;
  font-weight: bold;
  margin: 1em 0; }

.btnWhite {
  margin: 10px 0; }
  .btnWhite a {
    width: 100%;
    padding: 1em;
    font-size: 144%;
    display: block;
    background: #ffffff url(../img/common/ico_arrowR.png) 98% center no-repeat;
    border: 1px solid #ABABAB;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-decoration: none; }

h4 {
  font-weight: bold;
  font-size: 125%; }

.fs {
  font-size: 10px;
  line-height: 1.2 !important; }

.fm {
  font-size: 125%; }

.fl {
  font-size: 144%; }

#orderArea {
  font-size: 125%; }
  #orderArea ul li {
    text-indent: -1em;
    margin-left: 1em;
    margin-bottom: 1em; }
  #orderArea table td {
    font-size: 72.5%; }
  #orderArea dt {
    margin: .6em;
    border-bottom: 1px dotted #ccc; }
  #orderArea dd {
    margin: .6em; }

#privacyArea {
  font-size: 125%; }
  #privacyArea h3 {
    font-size: 125%; }

#aboutArea {
  font-size: 125%; }
  #aboutArea h3 {
    font-size: 125%; }
  #aboutArea .guide_warpImg img {
    width: 100%; }

#termsArea {
  font-size: 125%; }
  #termsArea h3 {
    font-size: 125%; }

#guideArea {
  font-size: 125%; }
  #guideArea h3 {
    font-size: 125%; }
  #guideArea .back_btn {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
    padding: .4em;
    border: 1px solid #ddd; }
    #guideArea .back_btn a {
      color: #000 !important;
      display: block; }
  #guideArea p {
    margin-bottom: 2.5em; }
  #guideArea a {
    color: #4b4b4b !important;
    font-weight: bold; }

#contactArea {
  font-size: 125%; }
#contactArea .btnRed {
  font-size: 100%; }
#contactArea .contactTxt {
  text-align: center;
  color: #ff50a0;
  font-size: 144%;
  margin-bottom: 1em; }
#contactArea .txtBox {
  margin-bottom: 1em; }
#contactArea dl.form_entry {
  width: 100%;
  margin: 0 0 15px 0;
  padding: 0;
  position: relative; }
#contactArea dl.form_entry dt {
  border-radius: 6px;
  font-weight: bold;
  padding: 5px 0 5px 10px;
  background: #ededed;}
#contactArea dl.form_entry dd {
  padding: 0 0 10px;
  line-height: 1.2; }
#contactArea .contact_kiyaku {
  padding: 0 12px; }
#contactArea #privacy_policy_txt {
  width: 100%;
  margin: 4% auto 0px;
  padding: 3%;
  overflow: auto;
  height: 150px;
  border: 1px solid #ccc; }
#contactArea .privacy_warp {
  padding: 10px 3%; }
#contactArea #privacy_policy_txt .privacy_warp h3 {
  font-size: 100% !important;
  margin: 0; }
#contactArea #privacy_policy_txt .privacy_warp h4 {
  font-size: 100% !important; }

#contactArea .noteBox {
  background-color: white;
  border: 2px solid #ff50a0;
  padding: 10px}

#contactArea .s-text {
  font-size: 14px !important;
}

#contactArea .button {
  border: 2px solid #ff50a0;}

#contactArea .button {
  height: 68px;
  display: flex;
  margin-top: 20px;
  border: solid 1px #ff7fb8;
  border-radius: 6px;
  background-color: #ff7fb8;
  text-align: center;
  text-decoration:none;
  vertical-align: middle;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

#contactArea .button span {
  color: #fff;
  font-size: 20px;
  flex: 1;
}

#contactArea .contactBox {
  background-color: white;
  border-radius: 6px;
  margin-top: 40px;
  box-shadow: 0 0 8px gray;
  padding: 20px}

#contactArea .pageTitle {
  background-color: inherit;
  border-bottom: solid 2px gray;
  margin-left: 0.5em;
  margin-right: 0.5em;
  }

.btnCenter {
  margin: 20px 0;
  text-align: center; }

.thankstext {
  color: #d8263c;
  font-size: 125%;
  margin-bottom: 1em; }

#memberListArea #tab {
  overflow: hidden;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #4b4b4b;
  margin: 1em auto;
  width: 90%;
  display: table; }
  #memberListArea #tab li {
    background: #fff;
    padding: .4em 0;
    text-align: center;
    border-right: 1px solid #4b4b4b;
    display: table-cell;
    margin-bottom: 0 !important;
    font-size: 12px; }
  #memberListArea #tab li:last-child {
    border-right: 0; }
  #memberListArea #tab li.select {
    background: #4b4b4b;
    color: #fff; }
#memberListArea .disnon {
  display: none !important; }
#memberListArea .memberList li {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #ededed), color-stop(0, #fff));
  background: -webkit-linear-gradient(#fff, #ededed);
  background: -moz-linear-gradient(#fff, #ededed);
  background: -o-linear-gradient(#fff, #ededed);
  background: -ms-linear-gradient(#fff, #ededed);
  background: linear-gradient(#fff, #ededed);
  border-top: #FFF solid 1px;
  border-bottom: #CCC solid 1px;
  padding: 10px;
  overflow: hidden;
  cursor: pointer; }
#memberListArea .memberList .listPhoto {
  float: left;
  width: 23%; }
  #memberListArea .memberList .listPhoto img {
    width: 100%; }
#memberListArea .memberList .listRight {
  float: right;
  width: 74%;
  text-align: left; }
#memberListArea .memberList p.name {
  font-size: 144%;
  display: block;
  font-weight: bold;
  text-align: left;
  margin: 0 0 1em;
  padding: 0; }
  #memberListArea .memberList p.name span {
    display: block;
    font-size: 68.5%;
    font-weight: normal; }

.goodsList {
  padding: 0;
  margin: 0 auto 1em; }
  .goodsList li {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #cccccc; }
  .goodsList a {
    background: #fff url(../img/common/nav_arrowrw.png) no-repeat 98% center;
    background-size: 7%;
    padding: 1em 3em 1em 1em;
    display: block;
    font-size: 14px; }

.alnC {
  text-align: center; }

.attention_text {
  background: url(../img/common/ico_info.png) no-repeat left top;
  background-size: 24px auto;
  font-size: 125%;
  padding: 3px 0 3px 32px;
  padding-left: 32px;
  color: #ff50a0;
  font-weight: bold; }

.btnRed {
  background: #DE0000;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  text-align: center; }
  .btnRed a {
    padding: .8em 1em;
    font-size: 125%;
    color: #fff !important;
    display: block;
    text-decoration: none; }

.clear {
  clear: both; }

h2 {
  clear: both; }

#stageArea {
  padding: 8px; }
  #stageArea .meter {
    border: 1px solid #999;
    width: 100%;
    display: block;
    margin-bottom: 1em; }
    #stageArea .meter span {
      border: 10px solid #F0529A;
      width: 80%;
      display: block; }

.nameFukidashi {
  width: 100%;
  background-color: #EDEDED;
  border-radius: 6px;
  position: relative;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 115%; }

.nameFukidashi:after {
  border: 10px solid transparent;
  border-top-color: #EDEDED;
  border-bottom-width: 0;
  width: 0;
  bottom: -10px;
  content: "";
  display: block;
  left: 46%;
  position: absolute; }

.stageImg {
  float: left;
  margin: 10px 0;
  width: 24%; }

.stageTxt {
  float: left;
  font-size: 115%;
  margin: 10px 0 0 0;
  width: 74%; }

.stageTxt02 {
  padding-top: 1em;
  clear: both;
  font-weight: bold; }

.stageTxt03 {
  color: #F0529A;
  font-size: 125%;
  font-weight: bold;
  padding: 0.6em 0 1em 0; }

.pink {
  color: #F0529A; }

.stageBtn {
  clear: both; }
  .stageBtn a {
    width: 100%;
    padding: 1em;
    font-size: 115%;
    display: block;
    background: #ededed;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-decoration: none;
    text-align: center; }

.tblstyle {
  width: 100%; }
  .tblstyle td {
    padding: .6em;
    text-align: center;
    border: 1px solid #999;
    font-weight: bold; }

.mini {
  font-size: 82.5%; }

.blue {
  color: #010cff; }

h2.title {
  background-image: none;
  background-color: #4b4b4b;
  color: #fff; }

#subNav {
  background: #ededed;
  border-top: 1px solid #fff;
  clear: both;
  overflow: hidden;
  text-align: center; }
#subNav ul {
  width: auto;
  margin: 0.6em auto;
  border-left: 1px solid #4b4b4b;
  float: inherit;
  overflow: hidden;
  display: inline-block; }
#subNav ul li {
  float: left;
  border-right: 1px solid #4b4b4b;
  width: auto;
  margin: 0; }
#subNav ul li a {
  padding-top: 0;
  color: #4b4b4b; }
@media screen and (max-width: 600px) {
  #subNav ul {
    font-size: 10px !important;
  }
  #subNav ul li {
    padding: 0 1.0em;
  }
}
@media screen and (min-width: 600px) and (max-width: 960px) {
  #subNav ul {
    font-size: 16px !important;
  }
  #subNav ul li {
    padding: 0 1.6em;
  }
}

.itemBox {
  padding: 10px 5px 15px 10px;
  border-top: #FFF solid 1px;
  border-bottom: #CCC solid 1px;
  display: block;
  clear: both;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  font-size: 13px; }

.photo {
  float: left;
  position: relative;
  margin: 0 0.6em 0 0;
  width: 80px; }

.photo img {
  width: 100%; }

.photo span img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80px; }

.rightBox {
  float: right;
  width: 70%; }

.itemBox h3 {
  font-weight: bold;
  font-size: 100%;
  margin: 0;
  border: none; }

.price {
  color: #4b4b4b;
  font-weight: bold; }

.mini {
  font-size: 12px; }

.disnon {
  display: none !important; }

.topGroupTab {
  overflow: hidden;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #4b4b4b;
  margin: 1em auto;
  display: table;
  width: 90%; }
  .topGroupTab li {
    background: #fff;
    padding: .4em 0;
    text-align: center;
    border-right: 1px solid #4b4b4b;
    display: table-cell;
    margin-bottom: 0 !important;
    font-size: 12px; }
  .topGroupTab li:last-child {
    border-right: 0; }
  .topGroupTab li.select {
    background: #4b4b4b;
    color: #fff; }

.BannerArea ul {
  width: 100%;
  float: none;
  margin-right: 0;
  margin-bottom: 2%;
}

.threeImageSlider {
  margin-bottom: 2em;
}

.threeImageSlider .bx-wrapper .bx-viewport {
  margin-top: 0;
}

.threeImageSlider .bx-wrapper{
  width: 80vw;
}

.threeImageSlider .bx-viewport{
  overflow: visible !important;
}

.threeImageSlider .bx-wrapper .bx-prev {
  left: -10vw;
}

.threeImageSlider .bx-wrapper .bx-next {
  right: -10vw;
}

.horizontal_scroll {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.horizontal_scroll_contents {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.horizontal_scroll_content {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: center;
  width: 30vw;
  min-height: 40vw;
}

.horizontal_scroll .itemBox {
  width: 30vw;
  margin: 0;
}

@media screen and (min-width: 600px) and (max-width: 960px) {
  .horizontal_scroll_content {
    width: 18vw;
    min-height: 24vw;
  }

  .horizontal_scroll .itemBox {
    width: 18vw;
  }
}

.horizontal_scroll .rightBox, .horizontal_scroll .photo, .horizontal_scroll .photo img {
  width: 100%;
  margin: 0;
}

.horizontal_scroll .itemBox h3 {
  width: 100%;
  font-size: 75%;
}

.horizontal_scroll_more_button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
}

.horizontal_scroll_more_button:hover {
  text-decoration: none;
}

.horizontal_scroll_more_button_description {
  color: #4b4b4b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.horizontal_scroll_more_button_description_main {
  font-size: 5rem;
  line-height: 5rem;
}

.horizontal_scroll_more_button_description_sub {
  font-size: 1rem;
}

.horizontal_scroll_more_button_wrap {
  background: linear-gradient(180deg, white, #EEEEEE);
  border-bottom: #CCC solid 1px;
  padding: 10px 5px 15px 10px;
}

/* scroll to top button */
.pagetop {
  display: none;
  position: fixed;
  z-index: 210;
  text-indent: -9999px;
}
.pagetop_default {
  bottom: 0;
  right: -15px;
  width: 26vw;
  height: 39vw;
  max-width: 186px;
  max-height: 279px;
}
.pagetop_error {
  bottom: 30px;
  right: 10px;
  width: 50px;
  height: 50px;
}
.nekoposCaution {
  color: #d8263c;
}
.nekoposCautionBlock {
  border: solid 1px #4b4b4b;
  margin-top: 10px;
}
.nekoposHelpLink {
  color:#3498db !important;
  text-decoration:underline;
  cursor: pointer;
}
.nekoposHelpLink:active {
  opacity: 0.8;
}

.mgT20 {
  margin-top: 20px; }
/*# sourceMappingURL=sp_style.css.map */
