<!doctype html>
<html lang="ja" ng-app="memecApp.main">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="IZ*ONE(アイズワン)の日本公式通販サイト IZ*ONE JAPAN OFFICIAL SHOPのよくあるご質問ページです。">
    <meta name="keywords" content="IZ*ONE JAPAN OFFICIAL SHOP,アイズワンジャパンオフィシャルショップ,IZ*ONE,IZONE,アイズワン,IZ*ONE グッズ,IZ*ONE CD,IZ*ONE メンバー,チャン・ウォニョン,宮脇咲良,チョ・ユリ,チェ・イェナ,アン・ユジン,矢吹奈子,クォン・ウンビ,カン・ヘウォン,本田仁美,キム・チェウォン,キム・ミンジュ,イ・チェヨン">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="よくあるご質問 | IZ*ONE JAPAN OFFICIAL SHOP">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://izone-shop.com">
    <meta property="og:image" content="https://izone-shop.com/ogp_img.png">
    <meta property="og:site_name" content="IZ*ONE JAPAN OFFICIAL SHOP">
    <meta property="og:description" content="IZ*ONE(アイズワン)の日本公式通販サイト IZ*ONE JAPAN OFFICIAL SHOPのよくあるご質問ページです。">
    <meta name="application-name" content="IZ*ONE JAPAN OFFICIAL SHOP">
    <link rel="manifest" href="../manifest.json">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="../favicons/apple-touch-icon-180x180-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../favicons/apple-touch-icon-152x152-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../favicons/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../favicons/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../favicons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="../favicons/apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../favicons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="../favicons/apple-touch-icon-60x60-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../favicons/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" href="../favicons/apple-touch-icon-57x57.png">

    <title>よくあるご質問 | IZ*ONE JAPAN OFFICIAL SHOP</title>

    
    
    <!--AngularJS-->
    	<script type="text/javascript" src="../assets/js/angular.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/angular-resource.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/angular-cookies.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/angular-animate.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/angular-sanitize.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/angular-locale_ja-jp.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/angular-touch.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/ng-infinite-scroll.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/ui-bootstrap-tpls-1.3.2.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/index.js@1613975655"></script>
    <!--ALL-->
    	<script type="text/javascript" src="../assets/js/jquery-1.10.2.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/jquery-ui-1.10.2.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/default.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/slidebars.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/scroll-top.js@1613975599"></script>

    <!--各ページ個別-->
    	<link media="screen" type="text/css" rel="stylesheet" href="../assets/css/bootstrap.min.css@1613975599.css" />
	<link media="screen" type="text/css" rel="stylesheet" href="../assets/css/bootstrap-theme.min.css@1613975599.css" />
	<link type="text/css" rel="stylesheet" href="../assets/css/slidebars.css@1613975599.css" />
<!--PCのみ-->
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/reset_pc.css@1613975599.css" />
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_style.css@1613975599.css" />
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_gsstyle.css@1613975599.css" />
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_form.css@1613975599.css" />
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_faq.css@1613975599.css" />
<!--SPのみ-->
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/reset.css@1613975599.css" />
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/sp_style.css@1613975599.css" />
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/sp_gsstyle.css@1613975599.css" />
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/sp_form.css@1613975599.css" />
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/sp_faq.css@1613975599.css" />
    <!--他のcssに影響されたくない全体最終適用css-->
    	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_login.css@1613975599.css" />
    	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/sp_login.css@1613975599.css" />
    	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_uibmodal.css@1613975599.css" />

    	<link type="text/css" rel="stylesheet" href="../assets/css/jquery-ui-1.10.2.min.css@1613975599.css" />
    	<link type="text/css" rel="stylesheet" href="../assets/css/izone/izone.css@1613975599.css" />
    	<link type="text/css" rel="stylesheet" href="../assets/css/whole.css@1613975599.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131006903-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131006903-1');
</script>

    
</head>
<body ng-controller="GlobalConfigController as globalConfigCtrl" class="ng-cloak c-section--aggregate" ng-cloak>

<div ng-controller="SearchPageRedirectController as searchPageRedirectCtrl">
    <div id="header" class="l-header p-header">
        <div class="l-header__nav l-header__nav--sns">
            <img ng-click="searchPageRedirectCtrl.hide = !searchPageRedirectCtrl.hide" class="l-header__nav--search__icon p-header__search__icon" src="../assets/img/izone/icon_serch.png" alt="cart">
            <div class="p-header__sns">
                <div class="c-sns">
    <a href="http://cafe.daum.net/official-izone" target="_blank">
        <span class="c-sns__icon c-sns__icon--daum-cafe"></span>
    </a>
    <a href="https://twitter.com/official_izone" target="_blank">
        <span class="c-sns__icon c-sns__icon--twitter"></span>
    </a>
    <a href="https://www.youtube.com/channel/UCe_oTYByLWQYCUmgmOMU_xw" target="_blank">
        <span class="c-sns__icon c-sns__icon--youtube"></span>
    </a>
    <a href="https://www.facebook.com/official.izone/" target="_blank">
        <span class="c-sns__icon c-sns__icon--facebook"></span>
    </a>
    <a href="https://www.instagram.com/official_izone/" target="_blank">
        <span class="c-sns__icon c-sns__icon--instagram"></span>
    </a>
    <a href="https://channels.vlive.tv/C1B7AF/home" target="_blank">
        <span class="c-sns__icon c-sns__icon--v-live"></span>
    </a>
    <a href="https://www.weibo.com/officializone" target="_blank">
        <span class="c-sns__icon c-sns__icon--weibo"></span>
    </a>
</div>
            </div>
        </div>
        <div class="l-header__logo">
            <a href="../mypage/top.html">
                <img class="l-header__img" src="../assets/img/izone/logo_1.png" alt="logo">
            </a>
        </div>
        <div class="l-header__nav l-header__nav--search c-search p-header__search">
            <form action="https://izone-shop.com/site-info/" onsubmit="return false;" ng-submit="searchPageRedirectCtrl.redirectToSearchPage()">
                <input type="search" id="inTextPc" class="c-search__text" placeholder="Search" ng-model="searchPageRedirectCtrl.searchKeyword">
                <div class="c-search__button" ng-click="searchPageRedirectCtrl.redirectToSearchPage()">
                    <img src="../assets/img/izone/icon_serch_pc.png" alt="logo">
                </div>
            </form>
        </div>
        <div class="l-header__nav l-header__nav--cart">
            <a href="../selection/cart.html">
                <img class="l-header__nav--cart__icon" src="../assets/img/izone/icon_cart.png" alt="cart">
            </a>
        </div>
        <div class="l-header__nav l-header__nav--menu p-header__menu"
             ng-controller="GlobalMenuController as globalMenuCtrl"
             ng-click="globalMenuCtrl.openMenu()">
            <img class="l-header__nav--menu__icon" src="../assets/img/izone/icon_menu.png" alt="menu">
        </div>
    </div>
    <div ng-hide="searchPageRedirectCtrl.hide" class="p-search p-header__search__icon">
        <form action="https://izone-shop.com/site-info/" onsubmit="return false;" ng-submit="searchPageRedirectCtrl.redirectToSearchPage()" class="c-search__form">
            <div class="c-search__button" ng-click="searchPageRedirectCtrl.redirectToSearchPage()">
                <img src="../assets/img/izone/icon_serch_pc.png" alt="logo">
            </div>
            <div class="c-search__textbox">
                <input type="search" id="inTextSp" class="c-search__text" placeholder="Search" ng-model="searchPageRedirectCtrl.searchKeyword">
            </div>
        </form>
    </div>
</div><div class="dummyHeader"></div><!-- 固定ヘッダ分の高さを確保 -->

<div class="c-buyee">
    <script type="text/javascript">
  (function() {
    var _buyee = { ac: 'izone-to-page' };
    var _bqs = {};
    _bqs['v'] = (new Date()).getTime();
    var vars = [];
    for (key in _bqs) {
      vars.push(key + '=' + _bqs[key]);
    }
    var e = document.createElement('script'); e.type = 'text/javascript'; e.defer = true;
    var scheme = 'https:' == document.location.protocol ? 'https' : 'http';
    e.src = scheme + '://banner.buyee.jp/script/' + _buyee['ac'] + '.js?' + vars.join('&');
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s);
  })();
</script>

<div id="for_izone-to-page" style="display: none; width: 0px; height: 0px;">
    <input type="hidden" id="h_izone-to-page" value="to-page" />
</div>
</div>

<div id="wrap">
    <div id="sb-site">
        <h2 class="pageTitle">よくあるご質問</h2>
        <div class="p-faq">
            <p class="topTxt">お客様からよくお問い合わせいただく内容を以下にて掲載しております。<br>
                お問い合わせ前にこちらをご覧ください。（最終更新日：2020/9/7）<br>
    <a href="help-list.html">⇒ご利用ガイドはこちら</a>
    </p>
       <h3>特にお問い合わせの多い質問</h3>
       <dl class="acc c-accordion">
            <dt class="c-accordion__title">注文を間違えてしまった・キャンセルしたい・変更したい・追加したい</dt>
            <dd class="c-accordion__description">ご注文完了後のお客様都合によるご注文内容・お支払い方法などの変更及びキャンセルはできません。<br>
                <dt class="c-accordion__title">引っ越した、または注文時とは異なる配送先に届けたい</dt>
                <dd class="c-accordion__description">
                    ご注文完了後のお届け先変更は出荷準備に入らせていただく前に限り、マイページよりご変更いただけます。商品の出荷準備開始後のお届け先変更はできません。<br>出荷完了後のお届け先変更は、配送業者へ転送対応が可能かお客様ご自身でご相談ください。<br>
                    ※転送時にかかる送料は、別途お客様ご負担となります。予めご了承ください。<br>
                    ※代金引換のご注文商品の転送はできません。
                </dd>
       <dt class="c-accordion__title">メールが届かない</dt>
       <dd class="c-accordion__description">
            下記の内容をご参照の上、受信設定をご確認ください。<br>
            ※設定方法のお問い合わせは、各携帯キャリアまたはご利用のプロバイダへお問い合わせください。<br>
            <span style="color:#d8263c;">なお、「申込内容の確認」「抽選結果の確認」「当選分の注文手続き」はすべてマイページからご確認・お手続きいただけますのでご利用ください。</span><br>
            <br>
            <b>(1)迷惑メールフォルダに振り分けられていませんか？</b><br>
            迷惑メールフィルタ機能により、メールが迷惑メール扱いとなり『迷惑メール』フォルダや『ごみ箱』に移動されている可能性があります。<br>
            一度、『迷惑メール』フォルダや『ごみ箱』をご確認ください。<br>
            <br>
            <b>(2)受信拒否設定の見直しをお願いします。</b><br>
            お客様側の受信設定や、プロバイダの設定で自動で迷惑メールへ振り分けられているケースが大変多くございます。<br>
            「@izone-shop.com」「@izone-wizone-cd.com」こちらの2点のドメインを受信できるよう、設定の見直しをお願いいたします。<br>
            <br>
            【docomo】受信拒否が強になっていませんか？<br>
            【au】なりすまし規制の設定が「高」になっていませんか？<br>
            【softbank】「迷惑メールフィルター」の設定が「強」になってませんか？<br>
            「ケータイ/PHSからのみ許可」や「URLリンク付きメール拒否」が「利用する」になっていませんか？<br>
    
        </dd>
       <dt class="c-accordion__title">【WIZ*ONE盤CD】申込内容をキャンセルしたい</dt>
       <dd class="c-accordion__description">
        お申込み内容は、該当の申込期間中のみご自身でIZ*ONE JAPAN OFFICIAL SHOPマイページ内よりキャンセル手続きいただけます。<br>
        お問い合わせでのキャンセルご対応は行っておりませんのでご了承ください。<br>
        なお、申込期間終了後のキャンセルはお手続きいただけませんのでご注意ください。
       </dd>
       <dt class="c-accordion__title">【WIZ*ONE盤CD】当選内容・注文を変更・キャンセルしたい</dt>
       <dd class="c-accordion__description">
        ご当選内容、及びご注文内容の変更・キャンセルは不可です。<br>
        ご当選されたお申込分は必ずお支払い（ご注文）をお願いしておりますので、お支払い可能な範囲での計画的なお申込をお願いいたします。<br>
        お支払いいただけませんでした際は、ご当選内容は全て失効となり、以後のIZ*ONE OFFICIAL SHOPのご利用、及びWIZ*ONE盤CDのお申込に制限を設けさせていただく場合がございますのでご了承ください。
       </dd>
    
       <dt class="c-accordion__title">【WIZ*ONE盤CD】参加券が入っていない</dt>
       <dd class="c-accordion__description">
            オンライン特典会に関しましては、シリアルコードでのご参加となるため参加券のお届けはありません。<br>
ご参加方法に関しましては各種WIZ*ONE盤CD特典会特設ページ及び別途ご当選者様へ参加方法をご案内いたしますので、そちらよりご参照ください。<br>
なお、オンライン特典会のご参加に必要なシリアルコードは、準備でき次第別途ご案内いたします。<br>
       </dd>
       <dt class="c-accordion__title">【WIZ*ONE盤CD】本人確認書類は何を準備すればいい？</dt>
       <dd class="c-accordion__description">
                    下記をご確認の上、ご持参いただけるものを「必要な数」を必ずご持参ください。<br>
                    ご用意いただけない場合、特典会にご参加いただけませんのでご注意ください。<br><br>
           <b>▼本人確認書類(身分証)として使用できるもの</b><br>
            ・「顔写真付きの本人確認書類をお持ちの方」は、以下<span style="color:#d8263c;">いずれか1点</span>でご参加いただけます。<br>
            （1）パスポート（2）運転免許証（3）写真付き学生証（名前が手書きでも可）<br>
            （4）住民基本台帳カード（5）障害者手帳（6）在留カード<br>
            （7）マイナンバーカード（個人番号が見えない専用カードケースをご利用ください。※通知カードは不可です。）<br>
            <br>
            ・「顔写真付き本人確認書類を持っていない方」は、下記<span style="color:#d8263c;">【（a）～（f）の2点】</span>、もしくは<span style="color:#d8263c;">【（a）～（f）の1点と＜名前が印字されているものの例＞1点以上】</span>でご参加いただけます。<br>
            （a）保険証（b）住民票の写し（c）戸籍謄本（d）戸籍抄本（e）印鑑登録証明書（f）年金手帳<br>
            ＜名前が印字されているものの例＞社員証・顔写真の無い学生証・クレジットカード・キャッシュカード・診察券 <br>
            <br>
            ※名前が手書きのものはすべて不可です。<br>
            ※＜名前が印字されているものの例＞だけではご参加いただけません。必ず（a）～（f）のいずれか1点と合わせて2点以上となるようご用意ください。<br>
                <br>
                <b>▼本人確認書類(身分証)として使用できないものの例</b><br>
                以下はすべて本人確認書類(身分証)として使用できません。<br>
                ・電車やバスなどの定期券(Suicaなど)<br>
                ・郵便物<br>
                ・公共料金の請求書<br>
                ・名前が異なる身分証(両親や家族もすべて不可)<br>
                ・お店のポイントカード<br>
            </dd>
            <dt class="c-accordion__title">【WIZ*ONE盤CD】子供の分を申込みたい</dt>
            <dd class="c-accordion__description">
                『お子様名義のWIZ*ONEアカウントをご登録』の上、お申込みください。<br>
                <br>
                <b>▼親御様がお子様の分をお申込みする際のご注意</b><br>
                ・必ず「お子様名義の会員IDでお申込み」ください。<br>
                ・<span style="color:#d8263c;">親御様名義のWIZ*ONEアカウントIDでお申込みされ当選いただいた参加権利でお子様が参加することはできません。</span><br>
                ・参加権利をご家族内で譲渡することはできません。親子、兄弟、姉妹間でも名前が異なる方の参加はできません。<br>
                ・小学生以下のお子様は、1人で特典会に参加することはできません。必ずお申込みの際に「付添い保護者名」をご入力ください。<br>
                ・中学生以上のお子様は、1人で特典会にご参加いただけます。保護者が同行しない場合は付添い保護者のご入力は不要です。<br>
            </dd>
       <dt class="c-accordion__title">【WIZ*ONE盤CD】「IZ*ONE WithLIVE」って何？</dt>
       <dd class="c-accordion__description">
            「IZ*ONE WithLIVE」はIZ*ONEメンバーとWIZ*ONEをつなぐ専用のオンライントークアプリです。<br>
WIZ*ONEは自分の順番になるまで待機いただき、順番が来るとIZ*ONEメンバーとオンライントークをすることができます。IZ*ONEメンバーとのリアルタイムでのオンライントークをお楽しみいただけますと幸いです。<br>
※「IZ*ONE WithLIVE」は、App Store／Google Playよりダウンロードいただけます。<br>
※IZ*ONEとWIZ*ONE専用アプリ「IZ*ONE WithLIVE」はスマートフォンおよびタブレット端末よりご参加いただけます。PCではご利用いただけませんのでご了承ください。<br>
※本代替イベントご参加には「IZ*ONE WithLIVE」でのアカウント登録（無料）が必要です。予めご了承ください。<br>
※ご参加に際しての通信料および通信デバイス環境に関する責にはご対応できかねますのでご了承の上ご参加くださいますようお願いいたします。<br>
※「IZ*ONE WithLIVE」ご利用におかれましては、iOS 11.0、Android 6.0以上の環境が必須となりますので事前のご確認・ご対応をお願いいたします。<br>
※お住いの地域における視聴不可能な事態やその他事由による閲覧不能が生じました際はご対応できかねますのでご了承のほどお願い申し上げます。<br>
       </dd>
       <dt class="c-accordion__title">【WIZ*ONE盤CD】シリアルコードがわからない</dt>
       <dd class="c-accordion__description">
           オンライン特典会のご参加に必要なシリアルコードは、準備でき次第別途ご案内いたします。<br>
       </dd>
    </dl>
    
        <ul class="c-button-menu">
            <li><a href="faq.html#account">アカウント登録について</a></li>
            <li><a href="faq.html#cd">WIZ*ONE盤CDについて</a></li>
            <li><a href="faq.html#application">お申込について</a></li>
            <li><a href="faq.html#order">ご注文・お支払いについて</a></li>
            <li><a href="faq.html#delivery">お届けについて</a></li>
            <li><a href="faq.html#day">特典会当日について</a></li>
            <li><a href="faq.html#trouble">トラブルについて</a></li>
        </ul>
        <div id="account" class="p-help-adjust-link"></div>
        <h3>アカウント登録について</h3>
        <dl class="acc c-accordion">
                <dt class="c-accordion__title">会員登録がしたい</dt>
                <dd class="c-accordion__description">WIZ*ONEアカウントサービスよりお手続きください。<br>
                    ※WIZ*ONEアカウントサービスは、IZ*ONE JAPAN OFFICIALSHOPやIZ*ONEチケットセンターなどIZ*ONEの様々なサービスをご利用いただけるアカウントサービスです。（IZ*ONEチケットセンターのOPENは2019年度を予定しております）<br>
                    <a href="https://member.izone-official.com/top/" target="_blank"><span style="color:blue"><u>＞＞新規会員登録はコチラ</u></span></a>
            </dd>
    
            <dt class="c-accordion__title">ID・パスワードを忘れてしまった、ログインできない</dt>
            <dd class="c-accordion__description">
                内容に応じて以下よりお問い合わせください。<br>
                ◆IDをお忘れの方はこちら：<a href="https://member.izone-official.com/idremind/" target="_blank"><span style="color:blue"><u>https://member.izone-official.com/idremind/</u></a><br>
                ◆パスワードをお忘れの方はこちら：<a href="https://member.izone-official.com/passreset/" target="_blank"><span style="color:blue"><u>https://member.izone-official.com/passreset/</u></a><br>
                ◆ログインできない方はこちら：<a href="https://member.izone-official.com/contact/" target="_blank"><span style="color:blue"><u>https://member.izone-official.com/contact/</u></a>
            </dd>
    
            <dt class="c-accordion__title">登録内容を修正・変更したい、または退会したい</dt>
            <dd class="c-accordion__description">
                WIZ*ONEアカウントサービス内よりお手続きください。<br>
                ※お名前/生年月日/性別はご登録後の変更＆修正は出来ません。<br>
                <a href="https://member.izone-official.com/top/" target="_blank"><span style="color:blue"><u>https://member.izone-official.com/top/</u></a>
            </dd>
    
            <dt class="c-accordion__title">アカウントは複数作っても問題ないですか？</dt>
            <dd class="c-accordion__description">
                アカウントを複数登録しての各種IZ*ONEサービスのご利用は原則として禁止しております。<br>
                複数アカウントでWIZ*ONE盤CDをお申込された際は、以後のご利用に制限を設けさせていただく場合がありますのでご注意ください。
            </dd>
    
            <dt class="c-accordion__title">機種変更したら再登録しないといけないですか？</dt>
            <dd class="c-accordion__description">機種変更後も同じログインID、パスワードでご利用いただけます。</dd>
            <dt class="c-accordion__title">アカウント登録しないで商品を購入したい</dt>
            <dd class="c-accordion__description">IZ*ONE JAPAN OFFICIAL SHOPのご利用には、WIZ*ONEアカウントサービスご登録が必要です。
            </dd>
    
            <dt class="c-accordion__title">旧字体（旧漢字）でアカウント登録できない</dt>
            <dd class="c-accordion__description">
                WIZ*ONEアカウント上では新字体（新漢字）でご登録ください。<br>
                お名前が旧字体の方はお手数をおかけいたしますが、各種特典会場インフォメーションにお越しいただきご本人様確認をさせていただきました上で特典会にご参加ください。<br>
                ※一部旧字体(旧漢字)に限り、インフォメーションにお立ち寄りいただく必要がない漢字もございます。イベント会場に貼り出されております案内をご確認ください。
            </dd>
        </dl>
    
        <div id="cd" class="p-faq-adjust-link"></div>
            <h3>WIZ*ONE盤CDについて</h3>
            <dl class="acc c-accordion">
                <dt class="c-accordion__title">WIZ*ONE盤CDって何ですか？</dt>
                <dd class="c-accordion__description">
                    ご希望メンバーとのハイタッチ会やサイン会など各種特典会にご参加いただける「参加券(オンライン特典会の場合はシリアルコード)」が付いたIZ*ONEのCDです。一般のCDショップ等では販売は行っておらず、IZ*ONE JAPAN OFFICIAL SHOPでのみお申込・ご注文いただけるCDです。<br>
※特典会の参加権利が付かないWIZ*ONE盤CDのみの販売もございます。
                </dd>
                <dt class="c-accordion__title">WIZ*ONE盤CDは必ず買えるのですか？</dt>
                <dd class="c-accordion__description">
                    ご注文いただけない場合があります。WIZ*ONE盤CDは、各種特典会の会場/日程/メンバー/枚数などご希望内容をお申込いただいた後に抽選を実施させていただき、ご当選された方のみご注文いただけるCDとなっております。
                </dd>
                <dt class="c-accordion__title">通常盤CDと何が違うのですか？</dt>
                <dd class="c-accordion__description">
                    仕様/収録内容/金額/ご参加いただける特典会内容などが異なります。特典会の詳細は各商品ページなどからご確認ください。また、通常盤CDは一般のCDショップ等でもお買い求めいただけますが、WIZ*ONE盤CDはIZ*ONE JAPAN OFFICIAL SHOPでのみお申込・ご注文いただけるCDです。
                </dd>
                <dt class="c-accordion__title">金額はいくらですか？</dt>
                <dd class="c-accordion__description">
                    WIZ*ONE盤CDのタイプによって金額が異なります。<br>
                    ※各種特設ページ内「商品情報」からご確認いただけます。<br>
                    『シングルCD』<br>
                    ◆CD1枚：1,100円(税込)個別ハイタッチ会参加券1枚付き<br>
                    ◆CD3枚セット：3,300円(税込)：個別メッセージカードお渡し会参加券1枚付き<br>
                    ◆CD-BOX[13CD]：14,300円(税込)：個別サイン会参加券1枚付き<br>
                    『アルバムCD』<br>
                    ◆CD1枚：2,750円(税込)WithLIVE特典会 個別トーク（日替わりデジタルメッセージカード付）参加シリアルコード1回分付き<br>
                    ◆CD3枚セット：8,250円(税込)：WithLIVE特典会 個別トーク（日替わり動画コメント付）参加シリアルコード1回分付き<br>
                    ◆CD3枚セット：8,250円(税込)：WithLIVE特典会 3人ユニットトーク参加シリアルコード1回分付き<br>
                    ◆CD5枚セット：13,750円(税込)：WithLIVE特典会 個別サイン参加シリアルコード1回分付き<br>
                </dd>
                <dt class="c-accordion__title">買い方をおしえてください。</dt>
                <dd class="c-accordion__description">
                    WIZ*ONEアカウントサイトでアカウント登録いただき、その上でIZ*ONE JAPAN OFFICIAL SHOPのWIZ*ONE盤特設サイト上からご希望内容（特典会/会場/日程/メンバー/枚数など）をお申込ください。<br>
                    お申込後、指定期日に抽選を実施しご当選された場合は当選分のみをお買い求めいただけます。
                </dd>
    
                <dt class="c-accordion__title">シングルCDの特典会はどんなイベントですか？</dt>
                <dd class="c-accordion__description">
▼個別ハイタッチ会<br>
                    ご希望のメンバー1人とハイタッチをしていただける特典会です。各参加券は一度にご使用いただける枚数は1枚です。複数枚お持ちの方も、お手持ちの参加券は1枚ずつ分けてのご使用になりますのでご了承ください。<br>
▼個別メッセージカードお渡し会<br>
                    ご希望のメンバー1人からメッセージカードを受け取れる特典会です。各参加券は一度にご使用いただける枚数は1枚です。複数枚お持ちの方も、お手持ちの参加券は1枚ずつ分けてのご使用になりますのでご了承ください。<br>
▼個別サイン会<br>
                    ご希望のメンバー1人からサインをもらえる特典会です。各参加券は一度にご使用いただける枚数は1枚です。複数枚お持ちの方も、お手持ちの参加券は1枚ずつ分けてのご使用になりますのでご了承ください。
                </dd>
                <dt class="c-accordion__title">いつ、どこで開催していますか？</dt>
                <dd class="c-accordion__description">
                    WIZ*ONE盤CD特設ページ上でご案内しておりますのでご確認ください。<br>
※オンライン特典会につきましてはご参加希望日時・メンバー・イベントをご指定の上「IZ*ONE WithLIVE」アプリをお客様のご利用端末にダウンロードの上ご参加となります。
                </dd>
                <dt class="c-accordion__title">参加するには何が必要ですか？</dt>
                <dd class="c-accordion__description">
                    参加券(オンライン特典会の場合はシリアルコード)と本人確認書類の2点をご用意ください。本人確認書類の詳細はWIZ*ONE盤CD特設ページよりご確認ください。<br>
※オンライン特典会につきましては、「IZ*ONE WithLIVE」アプリがダウンロードいただけるスマートフォンまたはタブレットが必要となります。<br>パソコンからのご参加はできませんのでご注意ください。
                </dd>
                <dt class="c-accordion__title">特典会参加で気を付けた方がいいことはありますか？</dt>
                <dd class="c-accordion__description">
                    皆様に安全に安心に楽しくご参加いただけますよう各種禁止事項を設定させていただいています。<br>
                    また、本人確認書類(身分証)などのお客様にご用意いただく必要がある物またはご参加いただける環境をご用意いただけなかった場合は、特典会にご参加いただけません。<br>
                    詳細はWIZ*ONE盤CD特設ページよりご確認ください。
                </dd>
            </dl>
    
            <div id="application" class="p-faq-adjust-link"></div>
            <h3>WIZ*ONE盤CDのお申込について</h3>
            <dl class="acc c-accordion">
                <dt class="c-accordion__title">どうやって申込めばいいですか？</dt>
                <dd class="c-accordion__description">
                    申込受付期間になりますとWIZ*ONE盤CD特設ページ上でお申込可能となります。ご希望内容（特典会/会場/日程/メンバー/枚数など）をお申込みください。
                </dd>
                <dt class="c-accordion__title">どの端末からでも申込めますか？</dt>
                <dd class="c-accordion__description">
                    パソコンまたはスマートフォンよりご利用ください。恐縮ですがフィーチャーフォンからは基本的にご利用いただけません。タブレットご利用の際は端末によりましてはサイト上のレイアウトが崩れて表示される場合がございますことご了承ください。
                </dd>
                <dt class="c-accordion__title">何枚でも申込んでいいのですか？</dt>
                <dd class="c-accordion__description">
                    各特典会付きCDまた各受付期間によって、お申込の枠数や枚数の上限が設定されています。上限数以内であれば何枚でもお申込みいただけます。<br>
                    お支払い可能な枚数、ご使用いただける枚数分を計画的にお申込みください。
                </dd>
                <dt class="c-accordion__title">友人分を一緒に申し込みたい</dt>
                <dd class="c-accordion__description">お申込みいただいた際の会員情報にて本人確認を行いますため、ご友人分を一緒にお申込みいただくことはできません。<br>
                    ご友人と参加をご希望の際は、必ずご参加いただく方の会員IDで各自お申込みいただきますようお願いいたします。                
                </dd>
                <dt class="c-accordion__title">申込んだ内容を確認したい</dt>
                <dd class="c-accordion__description">
                    申込内容は、申込完了時にお届けするご案内メール、またはIZ*ONE JAPAN OFFICIAL SHOPマイページ内のいずれかよりご確認ください。
                </dd>
                <dt class="c-accordion__title">申込完了メールが届かない</dt>
                <dd class="c-accordion__description">
                        下記の内容をご参照の上、受信設定をご確認ください。<br>
                        ※設定方法のお問い合わせは、各携帯キャリアまたはご利用のプロバイダへお問い合わせください。<br>
                        <span style="color:#d8263c;">なお、「申込内容の確認」「抽選結果の確認」「当選分の注文手続き」はすべてマイページからご確認・お手続きいただけますのでご利用ください。</span><br>
                        <br>
                        <b>(1)迷惑メールフォルダに振り分けられていませんか？</b><br>
                        迷惑メールフィルタ機能により、メールが迷惑メール扱いとなり『迷惑メール』フォルダや『ごみ箱』に移動されている可能性があります。<br>
                        一度、『迷惑メール』フォルダや『ごみ箱』をご確認ください。<br>
                        <br>
                        <b>(2)受信拒否設定の見直しをお願いします。</b><br>
                        お客様側の受信設定や、プロバイダの設定で自動で迷惑メールへ振り分けられているケースが大変多くございます。<br>
                        「@izone-shop.com」「@izone-wizone-cd.com」こちらの2点のドメインを受信できるよう、設定の見直しをお願いいたします。<br>
                        <br>
                        【docomo】受信拒否が強になっていませんか？<br>
                        【au】なりすまし規制の設定が「高」になっていませんか？<br>
                        【softbank】「迷惑メールフィルター」の設定が「強」になってませんか？<br>
                        「ケータイ/PHSからのみ許可」や「URLリンク付きメール拒否」が「利用する」になっていませんか？<br>
            
                </dd>
                <dt class="c-accordion__title">申込んだ内容は全部購入しないといけないのですか？</dt>
                <dd class="c-accordion__description">
                    申込みいただき当選された内容は全てご注文いただく形となります。<br>
                    当選内容の中から一部のみを選択してご注文いただくことはできませんため、お支払い可能な内容でお申込みください。<br>
                    ご当選されながらお支払い手続きをされなかった際は、以後のご利用に制限を設けさせていただく場合がありますのでご注意ください。
                </dd>
                <dt class="c-accordion__title">サイトが混み合っていてアクセスできない</dt>
                <dd class="c-accordion__description">
                    お申込は先着順ではございませんので、お手数をおかけしますが受付期間内に時間を置いてから再度のお申込みをお願いします。
                </dd>
                <dt class="c-accordion__title">申込中に「同時に申込できる種類は～」とエラーメッセージが出る</dt>
                <dd class="c-accordion__description">
                    各特典会付きCDまた各受付期間によって、お申込の枠数や枚数の上限が設定されています。エラーメッセージが表示された際は、お申込内容の見直しをお願いいたします。
                </dd>
                <dt class="c-accordion__title">申込内容を間違えてしまった</dt>
                <dd class="c-accordion__description">
                    お申込み内容は、該当の申込期間中のみご自身でIZ*ONE JAPAN OFFICIAL SHOPマイページ内よりキャンセル手続きいただけます。<br>
                        キャンセルお手続きの上、再度お申込みください。<br>
                        お問合せでの申込内容の変更・キャンセルは受け付けておりませんのでご了承ください。
                </dd>
                <dt class="c-accordion__title">申込内容をキャンセルしたい</dt>
                <dd class="c-accordion__description">
                    お申込み内容は、該当の申込期間中のみご自身でIZ*ONE JAPAN OFFICIAL SHOPマイページ内よりキャンセル手続きいただけます。<br>
                    お問い合わせでのキャンセルご対応は行っておりませんのでご了承ください。<br>
                    なお、申込期間終了後のキャンセルはお手続きいただけませんのでご注意ください。
                </dd>
                <dt class="c-accordion__title">再販売はありますか？</dt>
                <dd class="c-accordion__description">
                    当選された方がお支払い手続きをされなかった際は、後日に完売済みの枠を再度お申込みいただける形として受け付ける場合がございます。
                </dd>
                <dt class="c-accordion__title">申込受付期間に間に合わなかった…</dt>
                <dd class="c-accordion__description">
                    申し訳ございませんが次回以降の申込受付期間でお申込みください。
                </dd>
                <dt class="c-accordion__title">子供の分を申し込みたい</dt>
                <dd class="c-accordion__description">
                    <b>お子様名義のWIZ*ONEアカウントをご登録</b>の上、お申込みください。<br>
                    <br>
                    <b>▼親御様がお子様の分をお申込みする際のご注意</b><br>
                    ・必ず「お子様名義の会員IDでお申込み」ください。<br>
                    ・<span style="color:#d8263c;">親御様名義のWIZ*ONEアカウントIDでお申込みされた参加権利でお子様が参加することはできません。</span><br>
                    ・参加権利をご家族内で譲渡することはできません。親子、兄弟、姉妹間でも名前が異なる方の参加はできません。<br>
                    ・小学生以下のお子様は、1人で特典会に参加することはできません。必ずお申込みの際に「付添い保護者名」をご入力ください。<br>
                    ・中学生以上のお子様は、1人で特典会にご参加いただけます。保護者が同行しない場合は付添い保護者のご入力は不要です。<br>
                </dd>
                <dt class="c-accordion__title">海外からも申込めますか？</dt>
                <dd class="c-accordion__description">
                    WIZ*ONEアカウントに海外の住所をご登録いただいている方は、恐縮ですがお申込みいただけません。
                </dd>
                <dt class="c-accordion__title">抽選結果はどうやって分かるの？</dt>
                <dd class="c-accordion__description">
                    抽選(当落)結果が確定次第、抽選結果ご案内メール、またはIZ*ONE JAPAN OFFICIAL SHOPマイページ内「各種特典会付き WIZ*ONE盤CD(ハイタッチ会など)」からも抽選結果をご確認いただけます。
                </dd>
                <dt class="c-accordion__title">抽選結果メールが届かない</dt>
                <dd class="c-accordion__description">
                        下記の内容をご参照の上、受信設定をご確認ください。<br>
                        ※設定方法のお問い合わせは、各携帯キャリアまたはご利用のプロバイダへお問い合わせください。<br>
                        <span style="color:#d8263c;">なお、「申込内容の確認」「抽選結果の確認」「当選分の注文手続き」はすべてマイページからご確認・お手続きいただけますのでご利用ください。</span><br>
                        <br>
                        <b>(1)迷惑メールフォルダに振り分けられていませんか？</b><br>
                        迷惑メールフィルタ機能により、メールが迷惑メール扱いとなり『迷惑メール』フォルダや『ごみ箱』に移動されている可能性があります。<br>
                        一度、『迷惑メール』フォルダや『ごみ箱』をご確認ください。<br>
                        <br>
                        <b>(2)受信拒否設定の見直しをお願いします。</b><br>
                        お客様側の受信設定や、プロバイダの設定で自動で迷惑メールへ振り分けられているケースが大変多くございます。<br>
                        「@izone-shop.com」「@izone-wizone-cd.com」こちらの2点のドメインを受信できるよう、設定の見直しをお願いいたします。<br>
                        <br>
                        【docomo】受信拒否が強になっていませんか？<br>
                        【au】なりすまし規制の設定が「高」になっていませんか？<br>
                        【softbank】「迷惑メールフィルター」の設定が「強」になってませんか？<br>
                        「ケータイ/PHSからのみ許可」や「URLリンク付きメール拒否」が「利用する」になっていませんか？<br>
                </dd>
                <dt class="c-accordion__title">当選内容を変更したい</dt>
                <dd class="c-accordion__description">
                    ご当選後の変更は一切お受けできませんのでご了承ください。
                </dd>
                <dt class="c-accordion__title">思っていた以上に当選してしまった…</dt>
                <dd class="c-accordion__description">
                        ご当選されたお申込分は必ずお支払い（ご注文）をお願いしておりますので、お支払い可能な範囲での計画的なお申込をお願いいたします。<br>
                        お支払いいただけませんでした際は、ご当選内容は全て失効となり、以後のIZ*ONE OFFICIAL SHOPのご利用、及びWIZ*ONE盤CDのお申込に制限を設けさせていただく場合がございますのでご了承ください。
                </dd>
                <dt class="c-accordion__title">抽選方法についておしえてほしい</dt>
                <dd class="c-accordion__description">
                    恐縮ですが抽選方法についてのご質問にはお答えできませんのでご了承ください。
                </dd>
                <dt class="c-accordion__title">落選してもCDは買わないといけない？</dt>
                <dd class="c-accordion__description">
                    抽選結果が落選となりました際はWIZ*ONE盤CDはご注文いただけませんので購入の必要は発生いたしませんのでご安心ください。
                </dd>
       <dt class="c-accordion__title">シリアルコードがわからない</dt>
       <dd class="c-accordion__description">
           オンライン特典会のご参加に必要なシリアルコードは、準備でき次第別途ご案内いたします。<br>
       </dd>
            </dl>
            <div id="order" class="p-faq-adjust-link"></div>
            <h3>ご注文・お支払いについて</h3>
            <dl class="acc c-accordion">
                    <dt class="c-accordion__title">注文が完了しているか確認したい</dt>
                    <dd class="c-accordion__description">
                            注文完了メール、またはマイページ内の購入履歴よりご確認ください。<br>
                            ※マイページの反映には数分お時間がかかる場合がございます。<br>
                            数十分お待ちいただいても反映されない場合は、ご注文が完了されていません。再度ご注文お手続きをお願いします。<br>
                            <br>
                              ◆マイページ：<a href="../mypage/top.html"target="_blank">https://izone-shop.com/mypage/top</a><br>
                              ※必ずご注文いただいた際のWIZ*ONEアカウントでログインください。 <br>
                              ※上記URLをクリックした際トップページに戻る場合は、下記手順でご確認ください。<br>
                              【手順】<br>
                              画面右上のメニューをクリック<br> 
                              ↓<br>
                              MYPAGEをクリック<br>
                              ※ログインされていない方はLOGINをクリックしてからお進みください<br>
                              ↓<br>
                              購入履歴をクリック <br>
                              ↓<br>
                              確認したい注文の「詳細を見る」をクリック <br>
                    </dd>
                    <dt class="c-accordion__title">注文を間違えてしまった・キャンセルしたい・変更したい・追加したい</dt>
                    <dd class="c-accordion__description">ご注文完了後のお客様都合によるご注文内容・お支払い方法などの変更及びキャンセルはできません。<br>
                      </dd>
                    <dt class="c-accordion__title">別々に注文したものをまとめてほしい</dt>
                    <dd class="c-accordion__description">別々にご注文が完了となりました分をまとめることはできません。</dd>
                    <dt class="c-accordion__title">支払い方法は何がありますか？</dt>
                    <dd class="c-accordion__description">
                        決済方法は、クレジットカード支払い/コンビニ支払い/代引き支払いの3種類がございますが、決済方法を制限させていただく場合がありますので事前に特設サイトや商品ページよりご確認ください。<br>
                        （クレジットカード支払い/コンビニ支払いのみ、など）
                    </dd>
                    <dt class="c-accordion__title">コンビニ支払い番号がわからない</dt>
                    <dd class="c-accordion__description">
                            注文完了メール内「◆コンビニ決済お支払い情報」よりご確認ください。<br>
                            マイページ内購入履歴からもご確認いただけます。 <br>
                            <br>
                            ◆マイページ：<a href="../mypage/top.html" target="_blank">https://izone-shop.com/mypage/top</a><br>
                            ※必ずご注文お手続きいただいた際のWIZ*ONEアカウントでログインください。 <br>
                            ※トップページに戻る場合は、下記手順でご確認ください。<br>
                            【手順】<br>
                            画面右上のメニューをクリック<br>
                            ↓<br>
                            MYPAGEをクリック<br>
                            ※ログインされていない方はLOGINをクリックしてからお進みください<br>
                            ↓<br>
                            購入履歴をクリック <br>
                            ↓<br>
                            確認したい注文の「詳細を見る」をクリック <br>
                            ↓<br>
                            お支払い方法内をご確認ください。<br>
                            ※ページ下部にございます「メール配信履歴一覧」の注文完了メールからもご確認いただけます。
                    </dd>
                    <dt class="c-accordion__title">コンビニ決済の支払い期限がわからない</dt>
                    <dd class="c-accordion__description">
                        ご注文完了時にお届けしておりますメール内またはマイページ内購入履歴よりお支払い期限をご確認いただけます。<br>
                        コンビニ決済のお支払期限（入金期限）は都度異なる場合がありますのでご注意ください。<br>
                        ※コンビニ決済の「お支払方法ご選択期限」と「コンビニ決済自体のお支払期限（入金期限）」は異なりますのでご注意ください。
                    </dd>
                    <dt class="c-accordion__title">コンビニ決済期限内に入金できなかった</dt>
                    <dd class="c-accordion__description">
                        恐縮ですが期限内にご入金完了いただけなかった際は再購入お手続きはできません。
                    </dd>
                    <dt class="c-accordion__title">海外からも注文できますか？</dt>
                    <dd class="c-accordion__description">WIZ*ONEアカウントに海外の住所をご登録いただいている方は、恐縮ですがご利用いただけません。<br>
                        日本国内の住所でご登録いただきますか、代理購入サービス「Buyee」をご利用ください。
                    </dd>   
                    <dt class="c-accordion__title">クーリングオフはできますか？</dt>
                    <dd class="c-accordion__description">
                        クーリングオフは、訪問販売・電話勧誘販売などにおいて消費者を保護するための制度です。IZ*ONE JAPAN OFFICIAL SHOPを含む通信販売にクーリングオフは適用されません。
                    </dd>
                    <dt class="c-accordion__title">WIZ*ONEアカウント退会前に注文した商品はどうなりますか？</dt>
                    <dd class="c-accordion__description">配送準備が完了次第お届けいたします。キャンセルとはなりませんのでご了承ください。</dd>
                    <dt class="c-accordion__title">タブレットからも注文できますか？</dt>
                    <dd class="c-accordion__description">ご注文いただけますが、ご利用いただく端末によりましてはサイト上のレイアウトが崩れて表示される場合がございますことご了承ください。</dd> 
                <dt class="c-accordion__title">【WIZ*ONE盤CD】当選分をどうやって支払い手続きをするかおしえてほしい</dt>
                <dd class="c-accordion__description">
                    抽選結果発表後に準備が出来次第、お支払い手続き開始のご案内メールをお届けします。<br>
                    メール内掲載URLまたはマイページ内よりごお支払い手続きのページへお進みください。
                </dd>
    
                <dt class="c-accordion__title">【WIZ*ONE盤CD】おまとめ決済ってなに？</dt>
                <dd class="c-accordion__description">
                    同一WIZ*ONEアカウントでの指定期間内の全当選商品をまとめてお支払いいただく方式です。<br>
                    まとめてお支払い手続きいただけますので、決済手数料や送料が余分にかかることがございません。お届けについてもまとめて発送いたします。<br>
                    例：第1次受付～第3次受付分でご当選となった分はおまとめ決済、など
                </dd>
            <dt class="c-accordion__title">【WIZ*ONE盤CD】追加販売で当選した場合、1回目の抽選で購入済でも再度送料と決済手数料でかかりますか？</dt>
            <dd class="c-accordion__description">
               お届け時期が同一であっても、各おまとめ決済毎(注文手続き毎)に送料・決済手数料がかかります。<br>
               予めご了承の上お申込みください。
            </dd>
                <dt class="c-accordion__title">【WIZ*ONE盤CD】支払いをしなかった・支払いできなかった・支払いし忘れた場合どうなりますか？</dt>
                <dd class="c-accordion__description">
                    指定期間内にお支払い手続きを完了されなかった際は当選権利は全て無効となります。<br>
                    また、以後のご利用に制限を設けさせていただく場合がありますのでご注意ください。
                </dd>
    
            </dl>
            <div id="delivery" class="p-faq-adjust-link"></div>
            <h3>お届けについて</h3>
            <dl class="acc c-accordion">
                <dt class="c-accordion__title">商品はいつ届きますか？</dt>
                <dd class="c-accordion__description">
                        予約商品に関しましては、商品ページに記載のお届け目安に合わせて配送いたします。<br>
                        その他商品は、ご注文完了（コンビニ決済は入金完了）された土日祝祭日・指定休業日を除く翌営業日から約7日間以内の配送となります。<br>
                        ※製造・出荷・配送状況によってお届けにお時間がかかる場合がございます。<br>
                        ※参加シリアルコード付きWIZ*ONE盤CDはおまとめ決済毎にお届け目安が異なります。ご注意ください。<br>
                </dd>    
                <dt class="c-accordion__title">どのような送り主名で届きますか？</dt>
                <dd class="c-accordion__description">
                    「IZ*ONE JAPAN OFFICIAL SHOP」よりお届けいたします。
                </dd>
                <dt class="c-accordion__title">何個口で届きますか？</dt>
                <dd class="c-accordion__description">
                    ご注文枚数により異なります。また枚数に限らず梱包や安全面の関係上で複数個口での配送となる場合がございますことご了承ください。
                </dd>
                <dt class="c-accordion__title">納品書は入っていますか？</dt>
                <dd class="c-accordion__description">
                    参加券付きWIZ*ONE盤CDは納品書を同梱いたしませんのでご了承ください。<br>
                    参加券の付かないオンライン特典会及び通常盤CDなどは納品書を同梱いたします。
                </dd>
                <dt class="c-accordion__title">どの配送業者から届きますか？</dt>
                <dd class="c-accordion__description">
                        特典会付きWIZ*ONE盤CDは佐川急便株式会社よりお届けいたします。<br>
                        その他商品はヤマト運輸よりお届けいたします。
                </dd>
                <dt class="c-accordion__title">配送日時を指定したい</dt>
                <dd class="c-accordion__description">
                    恐縮ですがご注文時にお届け日の指定はできません。ご希望の方は、出荷後にお知らせいたしますご案内メール内の配送番号をご参照の上お届け日時指定をお願いいたします。<br>
                    配送時間帯はご注文手続き時にご指定いただけます。交通状況等により指定時間帯の配送をお約束するものではございませんことをご了承ください。ご注文完了後のお届け時間帯変更は出来ませんのでご注意ください。
                </dd>
    
                </dd>
                <dt class="c-accordion__title">登録住所とは異なる住所（転居先、お勤め先等）に送ってほしい</dt>
                <dd class="c-accordion__description">
                    ご注文手続き時にご登録住所以外へのお届け先をご設定いただけます。<br>
                    ※特典会のご参加に必要なお客様情報は「WIZ*ONEアカウントサービス」ご登録の住所となります。<br>ご本人確認書類とは異なる住所へお届けをご希望の場合は、WIZ*ONEアカウントは本人確認書類と同一住所でご登録いただき、配送先はご注文手続き時の配送先追加からご設定ください。
                </dd>
                <dt class="c-accordion__title">引っ越した、または注文時とは異なる配送先に届けたい</dt>
                <dd class="c-accordion__description">
                    ご注文完了後のお届け先変更は出荷準備に入らせていただく前に限り、マイページよりご変更いただけます。商品の出荷準備開始後のお届け先変更はできません。<br>出荷完了後のお届け先変更は、配送業者へ転送対応が可能かお客様ご自身でご相談ください。<br>
                    ※転送時にかかる送料は、別途お客様ご負担となります。予めご了承ください。<br>
                    ※代金引換のご注文商品の転送はできません。
                </dd>
                <dt class="c-accordion__title">コンビニで受け取りたい</dt>
                <dd class="c-accordion__description">
                    恐縮ですがコンビニ受け取りはご利用いただけません。配送業者のコンビニ受け取りサービスについても対象外とさせていただいておりますのでご了承ください。
                </dd>
                <dt class="c-accordion__title">出荷したらメールを送ってくれますか？</dt>
                <dd class="c-accordion__description">出荷準備ができ次第、メールにて出荷完了メールをご案内します。</dd>
                <dt class="c-accordion__title">受取れなかったので再配送してほしい</dt>
                <dd class="c-accordion__description">
                    返品となった商品の再出荷はお受けしておりません。再度ご注文をお願いします。<br>
                    完売済み商品や販売終了商品は再注文いただけませんのでご了承ください。<br>
                    お支払い済みで商品をお受取りいただけていない際は、お問い合わせフォームよりご連絡ください。
                </dd>
                <dt class="c-accordion__title">不在伝票を受け取ったがその後受け取れなかった</dt>
                <dd class="c-accordion__description">
                    商品発送から1週間以上商品を受け取られなかった際は一度返品扱いとなります。再出荷をご希望の際はお問合せフォームよりご相談ください。
                </dd>
                <dt class="c-accordion__title">返品したい</dt>
                <dd class="c-accordion__description">
                    商品お届け完了後の返品はお受けできません。<br>
                    ※不良・商品間違いなどの場合は交換ご対応いたします。
                </dd>
                <dt class="c-accordion__title">海外に配送したい</dt>
                <dd class="c-accordion__description">海外への配送対応はしておりません。</dd>
       <dt class="c-accordion__title">【WIZ*ONE盤CD】参加券が入っていない</dt>
       <dd class="c-accordion__description">
            オンライン特典会に関しましては、シリアルコードでのご参加となるため参加券のお届けはありません。<br>
ご参加方法に関しましては各種WIZ*ONE盤CD特典会特設ページ及び別途ご当選者様へ参加方法をご案内いたしますので、そちらよりご参照ください。<br>
なお、オンライン特典会のご参加に必要なシリアルコードは、準備でき次第別途ご案内いたします。<br>
       </dd>
            </dl>
    
            <div id="day" class="p-faq-adjust-link"></div>
            <h3>WIZ*ONE盤CD特典会当日について</h3>
            <dl class="acc c-accordion">
                <dt class="c-accordion__title">特典会当日は何が必要ですか？</dt>
                <dd class="c-accordion__description">
                    「IZ*ONE WithLIVE」をダウンロードしたスマートフォンまたはタブレット、「主催者指定の本人確認書類」の2点をお忘れないよう必ずお持ちください。<br>
                    本人確認書類の不足・不備がありました際は特典会にご参加いただけませんのでご注意ください。<br>
                    ※主催者指定の本人確認書類については、WIZ*ONE盤CD特設ページ上よりご確認ください。
                </dd>
                <dt class="c-accordion__title">本人確認書類は何を準備すればいい？</dt>
                <dd class="c-accordion__description">
                    下記をご確認の上、ご持参いただけるものを「必要な数」を必ずご持参ください。<br>
                    ご用意いただけない場合、特典会にご参加いただけませんのでご注意ください。<br>
                    <span style="color:#d8263c;">※全てにおいてコピー・手書き・期限切れは不可です。現物を必ずご用意ください。</span><br>
                    <br>
                    <b>▼本人確認書類(身分証)として使用できるもの</b><br>
                     ・「顔写真付きの本人確認書類をお持ちの方」は、以下<span style="color:#d8263c;">いずれか1点</span>でご参加いただけます。<br>
                     （1）パスポート（2）運転免許証（3）写真付き学生証（名前が手書きでも可）<br>
                     （4）住民基本台帳カード（5）障害者手帳（6）在留カード<br>
                     （7）マイナンバーカード（個人番号が見えない専用カードケースをご利用ください。※通知カードは不可です。）<br>
                     <br>
                     ・「顔写真付き本人確認書類を持っていない方」は、下記<span style="color:#d8263c;">【（a）～（f）の2点】</span>、もしくは<span style="color:#d8263c;">【（a）～（f）の1点と＜名前が印字されているものの例＞1点以上】</span>でご参加いただけます。<br>
                     （a）保険証（b）住民票の写し（c）戸籍謄本（d）戸籍抄本（e）印鑑登録証明書（f）年金手帳<br>
                     ＜名前が印字されているものの例＞社員証・顔写真の無い学生証・クレジットカード・キャッシュカード・診察券 <br>
                     <br>
                     ※名前が手書きのものはすべて不可です。<br>
                     ※＜名前が印字されているものの例＞だけではご参加いただけません。必ず（a）～（f）のいずれか1点と合わせて2点以上となるようご用意ください。<br>
                         <br>
                         <b>▼本人確認書類(身分証)として使用できないものの例</b><br>
                         以下はすべて本人確認書類(身分証)として使用できません。<br>
                         ・電車やバスなどの定期券(Suicaなど)<br>
                         ・郵便物<br>
                         ・公共料金の請求書<br>
                         ・名前が異なる身分証(両親や家族もすべて不可)<br>
                         ・お店のポイントカード<br>
                     </dd>
                <dt class="c-accordion__title">本人確認書類(身分証)が用意できなかった場合でも参加できますか？</dt>
                <dd class="c-accordion__description">
                    恐縮ですが本人確認書類(身分証)でご購入者様の一致の確認ができない場合はご参加いただけません。必ずご用意ください。
                </dd>
                <dt class="c-accordion__title">特典会参加券(またはシリアルコード)は複数回数分を1度にまとめて使えますか？</dt>
                <dd class="c-accordion__description">
                    1回ずつのご参加となります。複数回数分お持ちの方はお手持ちの参加券(またはシリアルコード)回数分の都度のご使用にてお願いしております。
                </dd>
                <dt class="c-accordion__title">申込みした回数は使いきれますか？</dt>
                <dd class="c-accordion__description">
                        同一日の同一部を複数回お申込みいただきました分の全ての参加券(またはシリアルコード)をお使いいただけますかどうかは、お客様がご準備いただくお時間や当日の状況、お客様がご参加されるメンバー順などによりましても異なってまいりますため、私共より明確なご回答ができません。<br>
                        大変恐縮ではございますがご購入分を全てご使用いただけるかのご判断はお客様で管理いただきますようお願いいたします。<br>
                </dd>
                <dt class="c-accordion__title">譲ってもらった特典会参加券(またはシリアルコード)でも参加できますか？</dt>
                <dd class="c-accordion__description">
                    特典会参加券(またはシリアルコード)の譲渡や売買は禁止しております。ご友人・家族間においても同様ですのでご注意ください。
                </dd>
                <dt class="c-accordion__title">友人や家族の複数名と一緒に参加したい</dt>
                <dd class="c-accordion__description">
ご購入者様ご本人・付き添い保護者様または同伴者様以外のご購入者様以外の複数名でイベントにご参加いただくことはできません。<br>
本人確認の受付完了後に上記以外のご購入いただいていない方とご参加いただこうとしたことが確認できた場合や入れ替わったことが確認できた場合、規約に反する行為と見做しイベントにご参加いただくことはできません。
</dd>
                <dt class="c-accordion__title">都合が悪くなり参加できなくなってしまった場合どうなりますか？</dt>
                <dd class="c-accordion__description">
                    恐縮ですがお客様都合での振替/返品/キャンセルは一切お受けできませんのでご了承ください。
                </dd>
                <dt class="c-accordion__title">受付時間に間に合わなかった</dt>
                <dd class="c-accordion__description">
                    お客様都合によって間に合わなかった際は恐縮ですがご参加いただけません。ご注意ください。
                </dd>    
                <dt class="c-accordion__title">参加券(またはシリアルコード)をもっていない友人・家族と一緒に参加できますか？</dt>
                <dd class="c-accordion__description">
                    特典会参加券(またはシリアルコード)をお持ちでない方と一緒にご参加いただくことはできません。
                </dd>
                <dt class="c-accordion__title">会話の内容を撮影(写真・動画・録音・スマートフォン画面のスクリーンショット)してもいいですか？</dt>
                <dd class="c-accordion__description">
特典会中の録音・録画・撮影は固く禁じます。<br>また、それらの映像や音声を第三者に公開・譲渡する行為も、禁止いたします。<br>これらの行為が発覚した際は特典会の参加権利を没収させていただき、以後の各種特典会にご参加いただけなくなりますのでご注意ください。
                </dd>
                <dt class="c-accordion__title">当選メンバーが体調不良等で欠席になった場合は？</dt>
                <dd class="c-accordion__description">
                    後日に振替/返品等のご対応についてご案内いたします。
                </dd>
                <dt class="c-accordion__title">海外からでもオンライン特典会への参加は可能ですか？</dt>
                <dd class="c-accordion__description">
                    お客様のお住いの国や地域によってはご参加いただけない可能性がございますので、事前の対応環境のご確認をお願いいたします。<br>
お住いの国・地域における視聴不可能な事態やその他事由による閲覧不能が生じました際の返品・返金や日時変更等はご対応できかねますのでご了承ください。
                </dd>

                <dt class="c-accordion__title">通信制限やネット環境が悪く、会話ができず終了してしまった場合はどうなりますか？</dt>
                <dd class="c-accordion__description">
                    お客さまのご都合による接続の中断や音声/映像の不調等を理由とした振替対応、返品、返金、キャンセルは一切出来ません。必ず事前にお客さまご自身のネット接続環境をご確認いただきますようお願いします。
                </dd>
            </dl>
            <div id="trouble" class="p-faq-adjust-link"></div>
            <h3>トラブルについて</h3>
            <dl class="acc c-accordion">
                <dt class="c-accordion__title">商品に不良がある</dt>
                <dd class="c-accordion__description">
                    交換対応いたします。お問い合わせフォームより「ご注文者様のお名前」「ご注文番号」「商品名」「不良品の数量」「不良品の状態（出来るだけ詳しく）」をご連絡ください。<br>
                    ※商品お受取り日より7日間以内にご連絡いただかなかった際はご対応できませんのでご注意ください。<br>
                    ※返品いただく前に不良箇所のお写真をお送りいただきました上で、ご対応の流れをご案内いたします。（動作確認が必要な不良商品除く）<br>
                    ※お送りいただくお写真にて不良箇所が確認できなかった場合、良品と判断させていただく場合がございます。<br>
                    ※商品によりましてはメーカーでのご対応となる場合がございます。
                </dd>
                <dt class="c-accordion__title">商品が間違っていた</dt>
                <dd class="c-accordion__description">
                    交換対応いたします。お問い合わせフォームより「ご注文者様のお名前」「ご注文番号」「届いた商品」をご連絡ください。<br>
                    ※商品お受取り日より7日間以内にご連絡いただかなかった際はご対応できませんのでご注意ください。<br>
                    ※商品によりましてはメーカーでのご対応となる場合がございます。
                </dd>
                <dt class="c-accordion__title">注文した商品が入っていなかった</dt>
                <dd class="c-accordion__description">
                    ご注文内容とお届けした商品に相違がございませんか購入履歴よりご確認をお願いします。<br>
                    ご確認いただきました上で商品が不足しておりました際は、不足商品をお送りいたしますのでお問い合わせフォームよりご連絡ください。<br>
                    ※商品お受取り日より7日間以内にご連絡いただかなかった際はご対応できませんのでご注意ください。
                </dd>
                <dt class="c-accordion__title">注文していない商品が届いた</dt>
                <dd class="c-accordion__description">マイページ内より注文履歴をご確認ください。</dd>
                <dt class="c-accordion__title">出荷メールが届いたのに商品が届かない</dt>
                <dd class="c-accordion__description">出荷完了後の配送状況は「発送完了メール」内の配送伝票番号より配送業者へお問い合わせください。</dd>
                <dt class="c-accordion__title">配達完了になっているのに商品が届かない</dt>
                <dd class="c-accordion__description">「発送完了メール」内の配送伝票番号より配送業者へご確認ください。</dd>
                <dt class="c-accordion__title">コンサート・イベント会場で購入した商品に不良があった</dt>
                <dd class="c-accordion__description">会場でご購入された商品の不良交換等は会場でのご対応となります。</dd>
                <dt class="c-accordion__title">問い合わせ先がわからない</dt>
                <dd class="c-accordion__description">▼お申込み、ご購入に関するご質問<br>
IZ*ONE JAPAN OFFICIAL SHOP<br>
【受付時間　平日11:00～17:00（土日祝日を除く）】<br>
<a href="../contact/index.html" target="_blank">https://izone-shop.com/contact/</a><br>
※営業時間外のお問い合わせは翌営業日以降の回答とさせていただきます。<br>
※お問合せ内容によりましてはお返事にお時間をいただく場合がございます。<br>
<br>
▼イベントに関するご質問<br>
ユニバーサル ミュ－ジック カスタマー・サービスセンター<br>
TEL：0570-044-088 (代表)　月～金 10:00～18:00 (祝祭日を除く)<br>
<a href="http://www.universal-music.co.jp/faq/" target="_blank">http://www.universal-music.co.jp/faq/</a><br>
※営業時間外のお問い合わせは翌営業日以降の回答とさせていただきます。<br>
※お問い合わせ内容によってはお返事にお時間をいただく場合がございます。<br>
<br>
▼「IZ*ONE WithLIVE」 アプリに関するご質問<br>
IZ*ONE WithLIVE サポートセンター<br>
support-izone@withlive.jp<br>
※お問い合わせ内容によってはお返事にお時間をいただく場合がございます。<br>
</dd>
            </dl>

        </div>
    </div>
    </div>
<div class="js-to-page-top c-to-top-button glyphicon glyphicon-circle-arrow-up"></div>


<div id="footer" class="p-footer">
    <div class="p-footer__nav-list">
        <div class="p-footer__nav-list__column">
            <div class="p-footer__nav"
                 ng-model="footerNavServiceClosed"
                 ng-init="footerNavServiceClosed = true">
                <div class="p-footer__nav__head"
                     ng-click="footerNavServiceClosed = !footerNavServiceClosed"
                     ng-class="{'active': !footerNavServiceClosed}">
                    <span>Service</span>
                </div>
                <div class="p-footer__nav__link-list-wrapper" ng-class="{'p-footer__nav__link-list-wrapper--closed': footerNavServiceClosed}">
                    <div class="p-footer__nav__link-list" ng-class="{'p-footer__nav__link-list--closed': footerNavServiceClosed}">
                        <a class="p-footer__nav__link" href="registration.html">初めての方へ</a>
                        <a class="p-footer__nav__link" href="help-list.html">ご利用ガイド</a>
                        <a class="p-footer__nav__link" href="faq.html">よくあるご質問</a>
                        <a class="p-footer__nav__link" href="../selection/cart.html">カート</a>
                        <a class="p-footer__nav__link" href="../contact.html">お問い合わせ</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-footer__nav-list__column">
            <div class="p-footer__nav"
                 ng-model="footerNavAgreementAndOthersClosed"
                 ng-init="footerNavAgreementAndOthersClosed = true">
                <div class="p-footer__nav__head"
                     ng-click="footerNavAgreementAndOthersClosed = !footerNavAgreementAndOthersClosed"
                     ng-class="{'active': !footerNavAgreementAndOthersClosed}">
                    <span>Agreement / Others</span>
                </div>
                <div class="p-footer__nav__link-list-wrapper" ng-class="{'p-footer__nav__link-list-wrapper--closed': footerNavAgreementAndOthersClosed}">
                    <div class="p-footer__nav__link-list" ng-class="{'p-footer__nav__link-list--closed': footerNavAgreementAndOthersClosed}">
                        <a class="p-footer__nav__link" href="policy.html">WIZ*ONEアカウントサービス会員規約</a>
                        <a class="p-footer__nav__link" href="term.html">利用規約</a>
                        <a class="p-footer__nav__link" href="law.html">特定商取引に関する法律に基づく表示</a>
                        <a class="p-footer__nav__link" href="privacy.html">個人情報の取扱いに関して</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-footer__nav-list__column">
            <div class="p-footer__nav p-footer__nav--sns">
                <div class="p-footer__nav__head p-footer__nav__head--sns">
                    <span>SNS</span>
                </div>
                <div class="p-footer__nav__sns-wrapper p-footer__nav__link">
                    <div class="p-footer__nav__sns">
                        <div class="c-sns">
    <a href="http://cafe.daum.net/official-izone" target="_blank">
        <span class="c-sns__icon c-sns__icon--daum-cafe"></span>
    </a>
    <a href="https://twitter.com/official_izone" target="_blank">
        <span class="c-sns__icon c-sns__icon--twitter"></span>
    </a>
    <a href="https://www.youtube.com/channel/UCe_oTYByLWQYCUmgmOMU_xw" target="_blank">
        <span class="c-sns__icon c-sns__icon--youtube"></span>
    </a>
    <a href="https://www.facebook.com/official.izone/" target="_blank">
        <span class="c-sns__icon c-sns__icon--facebook"></span>
    </a>
    <a href="https://www.instagram.com/official_izone/" target="_blank">
        <span class="c-sns__icon c-sns__icon--instagram"></span>
    </a>
    <a href="https://channels.vlive.tv/C1B7AF/home" target="_blank">
        <span class="c-sns__icon c-sns__icon--v-live"></span>
    </a>
    <a href="https://www.weibo.com/officializone" target="_blank">
        <span class="c-sns__icon c-sns__icon--weibo"></span>
    </a>
</div>
                    </div>
                </div>
            </div>

            <div class="p-footer__nav p-footer__nav--banner" ng-controller="ImgUrlController as imgUrlCtrl">
                <div class="p-footer__nav__banner">
                    <div class="p-footer__nav__banner__row">
                        <div class="p-footer__nav__banner__row__column">
                            <a href="http://iz-one.co.kr/" target="_blank">
                                <img class="p-footer__nav__banner__row__column__img" ng-src="{{imgUrlCtrl.resourceUrl + 'memec/image/bnr_f_izone.png'}}" alt="official_banner">
                            </a>
                        </div>
                        <div class="p-footer__nav__banner__row__column">
                            <a href="https://www.izone-official.com/" target="_blank">
                                <img class="p-footer__nav__banner__row__column__img" ng-src="{{imgUrlCtrl.resourceUrl + 'memec/image/bnr_f_izone_jp.png'}}" alt="japan_official_banner">
                            </a>
                        </div>
                    </div>
                    <div class="p-footer__nav__banner__row">
                        <div class="p-footer__nav__banner__row__column">
                            <a href="https://shop.buyee.jp/izone-shop" target="_blank">
                                <img class="p-footer__nav__banner__row__column__img" ng-src="{{imgUrlCtrl.resourceUrl + 'memec/image/bnr_f_buyee.png'}}" alt="buyee_banner">
                            </a>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-footer__copyright">
        <p class="p-footer__copyright__text">
            <span class="p-footer__copyright__mark">&copy;</span><span>2018 OFF THE RECORD ENTERTAINMENT</span>
        </p>
        <div class="p-footer__copyright__note-wrapper">
            <p class="p-footer__copyright__note">
                <span>サイト内の文章、画像などの著作物はOFF THE RECORD ENTERTAINMENTに属します。</span>
                <span>複製、無断転載を禁止します。</span>
            </p>
        </div>
    </div>
</div>
</body>
</html>
