<!doctype html>
<html lang="ja" ng-app="memecApp.main">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="IZ*ONE(アイズワン)の日本公式通販サイト IZ*ONE JAPAN OFFICIAL SHOPのご利用ガイドページです。">
    <meta name="keywords" content="IZ*ONE JAPAN OFFICIAL SHOP,アイズワンジャパンオフィシャルショップ,IZ*ONE,IZONE,アイズワン,IZ*ONE グッズ,IZ*ONE CD,IZ*ONE メンバー,チャン・ウォニョン,宮脇咲良,チョ・ユリ,チェ・イェナ,アン・ユジン,矢吹奈子,クォン・ウンビ,カン・ヘウォン,本田仁美,キム・チェウォン,キム・ミンジュ,イ・チェヨン">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="ご利用ガイド | IZ*ONE JAPAN OFFICIAL SHOP">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://izone-shop.com">
    <meta property="og:image" content="https://izone-shop.com/ogp_img.png">
    <meta property="og:site_name" content="IZ*ONE JAPAN OFFICIAL SHOP">
    <meta property="og:description" content="IZ*ONE(アイズワン)の日本公式通販サイト IZ*ONE JAPAN OFFICIAL SHOPのご利用ガイドページです。">
    <meta name="application-name" content="IZ*ONE JAPAN OFFICIAL SHOP">
    <link rel="manifest" href="../manifest.json">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="../favicons/apple-touch-icon-180x180-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../favicons/apple-touch-icon-152x152-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../favicons/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../favicons/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../favicons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="../favicons/apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../favicons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="../favicons/apple-touch-icon-60x60-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../favicons/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" href="../favicons/apple-touch-icon-57x57.png">

    <title>ご利用ガイド | IZ*ONE JAPAN OFFICIAL SHOP</title>

    
    
    <!--AngularJS-->
    	<script type="text/javascript" src="../assets/js/angular.min.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/angular-resource.min.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/angular-cookies.min.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/angular-animate.min.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/angular-sanitize.min.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/angular-locale_ja-jp.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/angular-touch.min.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/ng-infinite-scroll.min.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/ui-bootstrap-tpls-1.3.2.min.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/index.js@1613981224"></script>
    <!--ALL-->
    	<script type="text/javascript" src="../assets/js/jquery-1.10.2.min.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/jquery-ui-1.10.2.min.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/default.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/slidebars.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/scroll-top.js@1613981170"></script>

    <!--各ページ個別-->
    	<link media="screen" type="text/css" rel="stylesheet" href="../assets/css/bootstrap.min.css@1613981170.css" />
	<link media="screen" type="text/css" rel="stylesheet" href="../assets/css/bootstrap-theme.min.css@1613981170.css" />
	<link type="text/css" rel="stylesheet" href="../assets/css/slidebars.css@1613981170.css" />
<!--PCのみ-->
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/reset_pc.css@1613981170.css" />
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_style.css@1613981170.css" />
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_gsstyle.css@1613981170.css" />
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_form.css@1613981170.css" />
<!--SPのみ-->
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/reset.css@1613981170.css" />
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/sp_style.css@1613981170.css" />
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/sp_gsstyle.css@1613981170.css" />
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/sp_form.css@1613981170.css" />
    <!--他のcssに影響されたくない全体最終適用css-->
    	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_login.css@1613981170.css" />
    	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/sp_login.css@1613981170.css" />
    	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_uibmodal.css@1613981170.css" />

    	<link type="text/css" rel="stylesheet" href="../assets/css/jquery-ui-1.10.2.min.css@1613981170.css" />
    	<link type="text/css" rel="stylesheet" href="../assets/css/izone/izone.css@1613981170.css" />
    	<link type="text/css" rel="stylesheet" href="../assets/css/whole.css@1613981170.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131006903-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131006903-1');
</script>

    
</head>
<body ng-controller="GlobalConfigController as globalConfigCtrl" class="ng-cloak c-section--aggregate" ng-cloak>

<div ng-controller="SearchPageRedirectController as searchPageRedirectCtrl">
    <div id="header" class="l-header p-header">
        <div class="l-header__nav l-header__nav--sns">
            <img ng-click="searchPageRedirectCtrl.hide = !searchPageRedirectCtrl.hide" class="l-header__nav--search__icon p-header__search__icon" src="../assets/img/izone/icon_serch.png" alt="cart">
            <div class="p-header__sns">
                <div class="c-sns">
    <a href="http://cafe.daum.net/official-izone" target="_blank">
        <span class="c-sns__icon c-sns__icon--daum-cafe"></span>
    </a>
    <a href="https://twitter.com/official_izone" target="_blank">
        <span class="c-sns__icon c-sns__icon--twitter"></span>
    </a>
    <a href="https://www.youtube.com/channel/UCe_oTYByLWQYCUmgmOMU_xw" target="_blank">
        <span class="c-sns__icon c-sns__icon--youtube"></span>
    </a>
    <a href="https://www.facebook.com/official.izone/" target="_blank">
        <span class="c-sns__icon c-sns__icon--facebook"></span>
    </a>
    <a href="https://www.instagram.com/official_izone/" target="_blank">
        <span class="c-sns__icon c-sns__icon--instagram"></span>
    </a>
    <a href="https://channels.vlive.tv/C1B7AF/home" target="_blank">
        <span class="c-sns__icon c-sns__icon--v-live"></span>
    </a>
    <a href="https://www.weibo.com/officializone" target="_blank">
        <span class="c-sns__icon c-sns__icon--weibo"></span>
    </a>
</div>
            </div>
        </div>
        <div class="l-header__logo">
            <a href="../mypage/top.html">
                <img class="l-header__img" src="../assets/img/izone/logo_1.png" alt="logo">
            </a>
        </div>
        <div class="l-header__nav l-header__nav--search c-search p-header__search">
            <form action="https://izone-shop.com/site-info/" onsubmit="return false;" ng-submit="searchPageRedirectCtrl.redirectToSearchPage()">
                <input type="search" id="inTextPc" class="c-search__text" placeholder="Search" ng-model="searchPageRedirectCtrl.searchKeyword">
                <div class="c-search__button" ng-click="searchPageRedirectCtrl.redirectToSearchPage()">
                    <img src="../assets/img/izone/icon_serch_pc.png" alt="logo">
                </div>
            </form>
        </div>
        <div class="l-header__nav l-header__nav--cart">
            <a href="../selection/cart.html">
                <img class="l-header__nav--cart__icon" src="../assets/img/izone/icon_cart.png" alt="cart">
            </a>
        </div>
        <div class="l-header__nav l-header__nav--menu p-header__menu"
             ng-controller="GlobalMenuController as globalMenuCtrl"
             ng-click="globalMenuCtrl.openMenu()">
            <img class="l-header__nav--menu__icon" src="../assets/img/izone/icon_menu.png" alt="menu">
        </div>
    </div>
    <div ng-hide="searchPageRedirectCtrl.hide" class="p-search p-header__search__icon">
        <form action="https://izone-shop.com/site-info/" onsubmit="return false;" ng-submit="searchPageRedirectCtrl.redirectToSearchPage()" class="c-search__form">
            <div class="c-search__button" ng-click="searchPageRedirectCtrl.redirectToSearchPage()">
                <img src="../assets/img/izone/icon_serch_pc.png" alt="logo">
            </div>
            <div class="c-search__textbox">
                <input type="search" id="inTextSp" class="c-search__text" placeholder="Search" ng-model="searchPageRedirectCtrl.searchKeyword">
            </div>
        </form>
    </div>
</div><div class="dummyHeader"></div><!-- 固定ヘッダ分の高さを確保 -->

<div class="c-buyee">
    <script type="text/javascript">
  (function() {
    var _buyee = { ac: 'izone-to-page' };
    var _bqs = {};
    _bqs['v'] = (new Date()).getTime();
    var vars = [];
    for (key in _bqs) {
      vars.push(key + '=' + _bqs[key]);
    }
    var e = document.createElement('script'); e.type = 'text/javascript'; e.defer = true;
    var scheme = 'https:' == document.location.protocol ? 'https' : 'http';
    e.src = scheme + '://banner.buyee.jp/script/' + _buyee['ac'] + '.js?' + vars.join('&');
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s);
  })();
</script>

<div id="for_izone-to-page" style="display: none; width: 0px; height: 0px;">
    <input type="hidden" id="h_izone-to-page" value="to-page" />
</div>
</div>

<div id="wrap">
    <div id="sb-site">
    <section id="guideArea">
        <h2 class="pageTitle">ご利用ガイド</h2>
        <div class="inner">
            <div class="guide_warp">
            <p class="topTxt">ご利用方法や商品のお届けなど、カテゴリ別にご案内しております。<br>
ご不明点がご利用ガイド内にて解決しない場合は、よくあるご質問もご参照ください。<br>
    <a href="faq.html">⇒よくあるご質問はこちら</a>
    </p>

                <ul class="c-button-menu">
                    <li><a href="help-list.html#account">WIZ*ONEアカウント登録</a></li>
                    <li><a href="help-list.html#wizone">WIZ*ONE盤CDについて</a></li>
                    <li><a href="help-list.html#payment">ご注文・お支払い方法</a></li>
                    <li><a href="help-list.html#delivery">配送について</a></li>
                    <li><a href="help-list.html#cancel">キャンセル・交換について</a></li>
                    <li><a href="help-list.html#other">その他</a></li>
                </ul>

                <p id="account" class="p-faq-adjust-link"></p>
                <h3>WIZ*ONEアカウント登録</h3>

                <h4>◆WIZ*ONEとは</h4>
                <p>
                    IZ*ONEのファンクラブ名称です。<br>
                    IZ*ONE の IZ を 12 という数字からアイデアを得たようにWIZ*ONE の WIZ を WEʼS から着案しています。<br>
                    ʻ私達(IZ*ONE とファンを指す)は一つだʼという意味、さらに WIZ はまた⻤才、魔法使いという意味で IZ*ONE
                    の魔法のように繰り広げられる未来をサポートする魔法使い達という意味を持っています。<br>
                    また IZ*ONE と WIZ*ONE の表記の類似性を見て、互いが連結していることを表現しています。
                </p>
                <h4>◆WIZ*ONEアカウントとは</h4>
                <p>
                    IZ*ONE JAPAN OFFICIAL SHOPや、IZ*ONEチケットセンター等をご利用いただける共通アカウントサービスです。<br>
                    IZ*ONE JAPAN OFFICIAL SHOPでWIZ*ONE盤CDをご購入いただくには、アカウント登録いただく必要がございます。<br>
                    また、イベント参加時にはご本人様確認を行わせていただくため、本人確認書類と同内容にてアカウント登録ください。<br>
                    ※海外にお住まいの方は、代理購入サービス等からのご利用をお願いいたします。
                </p>
                <h4>◆アカウント登録方法・登録情報変更</h4>
                <p>
                    下記WIZ*ONEアカウント登録サイト内よりご登録ください。<br>
                    会員情報変更ご希望の際もWIZ*ONEアカウント登録サイト内よりお手続きをお願いいたします。<br>
                    <a
                        href="https://member.izone-official.com/signup?client_id=HyHdYkn4bBFJkAFZcGsScJjKHXFZViNHK8uZ78qt">WIZ*ONEアカウント登録サイト</a><br>
                    ※WIZ*ONEアカウント登録サイトへ移動します。
                </p>
                <h4>◆パスワードを忘れた際は</h4>
                <p>
                    下記WIZ*ONEアカウント登録サイト内よりご確認ください。<br>
                    <a
                        href="https://member.izone-official.com/passreset?client_id=HyHdYkn4bBFJkAFZcGsScJjKHXFZViNHK8uZ78qt">WIZ*ONEアカウント登録サイト</a><br>
                    ※WIZ*ONEアカウント登録サイトへ移動します。
                </p>

                <p id="wizone" class="p-faq-adjust-link"></p>
                <h3>WIZ*ONE盤CDについて</h3>

                <h4>◆WIZ*ONE盤CDとは</h4>
                <p>
                    WIZ*ONE盤CDとは、ご希望のメンバーと「IZ*ONE WithLIVE」を利用してトーク会やサイン会にご参加いただける「シリアルコード」が付いたIZ*ONEのCDです。一般のCDショップ等では販売は行っておらず、IZ*ONE JAPAN
                    OFFICIAL SHOPでのみご購入いただけます。<br>
                    ※一般のCDショップ等で販売されているCDは、通常盤CDや輸入盤CDです。<br>
                    ※IZ*ONE JAPAN OFFICIAL SHOPでは、WIZ*ONE盤CD、通常盤CDの両方を販売しております。<br>
                </p>

                <h4>◆WIZ*ONE盤CD申込み～購入までの流れ</h4>
                <p>
                    IZ*ONE JAPAN OFFICIAL SHOP内よりWIZ*ONE盤CD特設サイトへ移動し、ご希望の内容でお申込ください。<br>
                    各イベントの日程、メンバー、時間帯等はWIZ*ONE盤CD特設サイト内よりご確認ください。<br>
                    申込受付期間になると、WIZ*ONE盤CD特設サイトに「申込ページへ進む」が表示されお申込可能になります。<br>
                    WIZ*ONE盤CD購入までの流れは下記の通りです。<br>
                    ◆STEP1：WIZ*ONEアカウントご登録<br>
                    ◆STEP2：IZ*ONE JAPAN OFFICIAL SHOP内のWIZ*ONE盤CD特設サイトよりお申込<br>
                    ◆STEP3：申込期間後、お申込内容の抽選結果（全部または一部当選、もしくは全落選）ご案内<br>
                    ◆STEP4：全部または一部ご当選された方のみご購入<br>
                    ※WIZ*ONEアカウントご登録はこちらよりお手続きください。<br>
                    ※アカウントを複数登録しての各種IZ*ONEサービスのご利用は原則として禁止しております。<br>
                    複数アカウントでWIZ*ONE盤CDをお申込された際は、以後のご利用に制限を設けさせていただく場合がありますのでご注意ください。<br>
                    ※本イベントはお申込みいただいた際の会員登録者様以外の参加はできません。<br>
                    お子様分を親御様名義の会員IDでお申込み、ご友人分をまとめてお申込みいただくことはできませんので、ご注意ください。<br>
                </p>

                <h4>◆未成年・小学生以下の方のお申込</h4>
                <p>
                    事前の保護者同意や付添い保護者指定等をご対応の上お申込いただけます。<br>
                    WIZ*ONE盤CD特設サイト内の各種注意事項、またはよくある質問よりご確認ください。<br>
                    ※本イベントはお申込みいただいた際の会員登録者様以外参加できません。<br>
                    親御様がお子様の代理でお申込みをされる際は「お子様名義の会員ID」の取得が必要です。<br>
                </p>

                <h4>◆申込制限</h4>
                <p>
                    WIZ*ONE盤CDの申込は、受付タイミングにより都度制限が設けられます。<br>
                    例1）第1次申込受付：お1人様1回のみ申込可能。申込1回につき、1人10種類まで、1種あたり1枚まで(最大10枚まで)<br>
                    例2）第2次申込受付：お1人様2回のみ申込可能。申込1回につき、1人10種類まで、1種あたり2枚まで(最大20枚まで)<br>
                </p>

                <h4>◆申込み内容確認</h4>
                <p>
                    申込が完了すると、WIZ*ONEアカウントご登録のメールアドレス宛に、申込受付ご案内メールをお届けいたします。<br>
                    申込内容は、IZ*ONE JAPAN OFFICIAL SHOPマイページ内からもご確認いただけます。<br>
                    ※メール受信設定等を行われている方は「@izone-shop.com」「@izone-wizone-cd.com」のメールが受信できるようご対応ください。<br>
                </p>

                <h4>◆申込内容のキャンセル</h4>
                <p>
                    申込完了後にキャンセルをご希望の方は「マイページ内履歴より抽選開始前までにご自身でキャンセルお手続き」ください。<br>
                    お問合せでの申込キャンセルは受け付けておりませんのでご了承ください。<br>
                    なお、申込内容の変更ご要望にはご対応しておりませんこと併せてご了承ください。<br>
                </p>

                <h4>◆抽選結果の確認方法</h4>
                <p>
                    お申込内容の抽選結果は、抽選作業完了後にお届けする抽選結果ご案内メール、またはIZ*ONE JAPAN OFFICIAL SHOPマイページよりご確認いただけます。<br>
                    抽選結果は、申込内容の全部または一部に当選、もしくは全落選のいずれかとなります。<br>
                    お申込内容が全てご当選及びご購入いただけるわけではございませんことご了承ください。<br>
                    メールアドレスをご変更された際は、抽選結果ご案内やご購入手続きご案内等のメールは届かなくなりますのでご注意ください。<br>
                </p>

                <h4>◆支払い手続き期間の確認</h4>
                <p>
                    支払い手続き期間は、WIZ*ONE盤CD特設サイト、抽選結果ご案内メール、支払手続き開始ご案内メール、IZ*ONE JAPAN OFFICIAL SHOPマイページ内より、ご確認いただけます。<br>
                    支払い手続き開始ご案内メールは、最終の申込受付期間・抽選終了後にお支払い手続き可能期間になりましたらご当選されました方にお届けします。<br>
                </p>

                <h4>◆当選したWIZ*ONE盤CDのお支払い方法</h4>
                <p>
                    支払手続き開始ご案内メール内記載URL、またはIZ*ONE JAPAN OFFICIAL SHOPマイページ内よりご購入手続きいただけます。<br>
                    ※おまとめ支払い期間内の場合、期間内の全当選数をまとめてご購入手続きいただきます。<br>
                    ※当選されたWIZ*ONE盤CDは指定期間内にのみご購入可能です。<br>
                    ※落選分のWIZ*ONE盤CDはご購入いただけませんのでご了承ください。<br>
                    ※お支払い期間毎にお支払い方法に制限を設けさせていただく場合がございますので、お申込される際は必ず事前にご確認ください。（例．クレジットカード支払い、コンビニ支払い、のみなど）<br>
                </p>

                <h4>◆支払い期間後のWIZ*ONE盤CDの購入</h4>
                <p>
                    指定期間内にご購入手続きを完了されなかった場合、期間後のご購入は不可となり、ご当選権利は無効となりますのでご注意ください。<br>
                </p>

                <h4>◆当選したWIZ*ONE盤CDのキャンセル</h4>
                <p>
                    抽選結果確定後のキャンセルは、全部一部問わず一律お受けいたしません。<br>
                    おまとめ支払い期間内の全当選枚数をまとめて購入いただきますので、必ず購入可能な範囲内でお申込みいただきますようご注意ください。<br>
                </p>

                <h4>◆WIZ*ONE盤CDの配送</h4>
                <p>
                    WIZ*ONE盤は、おまとめ支払い期間のご購入分は枚数上限なく1配送分としてまとめて配送いたします。<br>
                    梱包や安全面の関係上、複数個口での配送となる場合がございますが、発生送料は1回分のみとなりますのでご安心ください。<br>
                    ※おまとめ配送は、申込み期間に応じて都度変更する場合がございますこと予めご了承ください。<br>
                    ※おまとめ配送は、同一IDによるご当選分のみの適用となります。<br>
                    ※納品書はCDと一緒にお届けいたします。<br>
                </p>

                <h4>◆イベント当日ご用意いただくもの</h4>
                <p>
                    シリアルコード偽造及び転売行為防止のため、イベント当日は「IZ*ONE WithLIVE」にて「購入者」と当日の「参加者」が同一人物であるかどうかの「本人照会」を以下2点で行います。<br>
※「IZ*ONE WithLIVE」に関しましては、WIZ*ONE盤CD特設サイト内よりご確認ください。<br>
※ご参加に必要なシリアルコードは、準備でき次第別途ご案内いたします。<br>
                    ①WIZ*ONE盤各種イベントシリアルコード<br>
                    ②主催者指定の「本人確認書類」1点または2点以上（詳細はWIZ*ONE盤CD特設サイト内各種注意事項、またはよくある質問よりご確認ください）<br>
                </p>

                <h4>◆各種注意事項</h4>
                <p>
                    シリアルコードの偽造・譲渡・転売行為の禁止、イベントにおける様々な制限や変更など、WIZ*ONE盤CD特設サイト内各種注意事項に記載しておりますのでご確認ください。<br>
                    お申込時に各種注意事項に同意の上お進みいただきますので申込前に必ず内容をご確認ください。<br>
                </p>

                <p id="payment" class="p-faq-adjust-link"></p>
                <h3>ご注文・お支払い方法</h3>

                <h4>◆ご注文方法</h4>
                <p>
                    ※シリアルコード付きWIZ*ONE盤CDのご購入方法は「WIZ*ONE盤CDについて」をご参照ください。<br>
                    ◆STEP1：商品一覧よりご希望の商品をお探しください。<br>
                    ◆STEP2：ご希望の商品を決定されましたら「カートに入れる」ボタンより商品をカートに入れてください。<br>
                    　※カート内商品は1時間後に自動的に削除されますのでご注意ください。<br>
                    ◆STEP3：カート内のご注文内容をご確認いただき「ご注文手続きへ進む」ボタンより購入手続きにお進みください。<br>
                    ◆STEP4：「WIZ*ONEアカウントID」「パスワード」でログインください。<br>
                    ◆STEP5：お届け先住所をご選択ください。<br>
                    　※「新しいお届け先を追加する」よりIZ*ONE JAPAN OFFICIAL SHOPでのご注文時にご使用いただけるご住所を追加登録いただけます。<br>
                    ◆STEP6：クレジットカード決済、コンビニ決済、代金引換よりご希望のお支払い方法をご選択いただき、お支払い方法によって必要事項を入力・選択ください。<br>
                    　※商品によってお支払い方法に制限がある場合がございます。<br>
                    ◆STEP7：表示ご注文内容にお間違いがございませんかご確認ください。<br>
                    　※ご注文完了後の変更やキャンセルはできません。<br>
                    ◆STEP8：「注文を確定する」ボタンよりご注文完了ください。ご注文完了と同時にご注文完了メールを自動配信いたします。<br>
                    　※ご注文完了メールが届かない際はマイページ注文履歴よりご確認ください。<br>
                    　※メール受信設定等を行われている方は「@izone-shop.com」のメールが受信できるようご対応ください。<br>
                    　※「コンビニ支払い」ご選択時は、お支払い番号をご注文完了メールまたは注文履歴よりご確認の上、ご選択店舗にてお支払いください。<br>
                </p>

                <h4>◆お支払い方法</h4>
                <p>
                    お支払い方法は、クレジットカード支払い、コンビニ支払い、代金引換からお選びいただけます。<br>
                    ご注文完了後、お支払い方法の変更はできませんのでご注意ください。<br>
                    また、WIZ*ONE盤CDはお支払い期間毎にお支払い方法に制限を設けさせていただく場合がございますので、お申込される際は必ず事前にご確認ください。（例．クレジットカード支払い、コンビニ支払い、のみなど）<br>
                </p>

                <h4>◆クレジットカード支払い</h4>
                <p>
                    下記のカードおよび下記の表示のある提携カードがご利用いただけます。<br>
                    「VISA」「Master」「JCB」「アメリカンエキスプレス」「Diner's Club」<br>
                    お支払い回数は一括払いのみとさせていただいており、手数料は発生いたしません。<br>
                    クレジットカードでご注文された際は、通常商品・予約商品を問わずご注文完了された時点での決済となります。<br>
                    ご利用日に対する引き落とし時期は、ご利用のカード会社の規程・契約内容によりお客様毎に異なります。<br>
                    なお、ご利用のカード会社でお取引が承認されない場合はご注文をキャンセルさせていただく場合がございますのでご了承ください。<br>
                </p>

                <h4>◆コンビ二支払い</h4>
                <p>
                    セブンイレブン、ローソン、ファミリーマート、ミニストップ、セイコーマート、デイリーヤマザキいずれかをご選択いただきお支払いください。<br>
                    コンビニ支払いは、別途「330円(税込)」のコンビニ決済手数料がかかります。<br>お支払い期限は、商品によって異なります。ご注文の際は十分にご確認ください。<br>
                    例：シリアルコード付きWIZ*ONE盤CDは注文完了日から2日間、通常盤CDは注文完了日から7日間、など<br>
                    ご注文完了後、ご選択いただきましたコンビニエンスストアにて商品代金+手数料+送料をお支払いください。<br>
                    お支払い期限までにご入金が確認できなかった場合、自動的にキャンセルとなります。<br>
                    お支払い総額が30万円（税込）を超える場合はコンビニ決済をご利用いただけません。<br>
                    WIZ*ONEアカウントご登録の電話番号が10桁または11桁以外の桁数でご登録された場合、コンビニ決済をご利用いただけない場合がございます。<br>
                </p>

                <h4>◆代金引換</h4>
                <p>
                    ご注文商品のお受け取り時に商品代金を配送業者にお支払いください。<br>
                    お支払いは現金のみとなり、お支払い総額が30万円（税込）を超える場合は代金引換をご利用いただけません。<br>
                    代金引換ご利用時は下記手数料が必要です。<br>
                    10,000円未満：330円(税込)<br>
                    10,000円以上～30,000円未満：440円(税込)<br>
                    30,000円以上～50,000円未満：660円(税込)<br>
                    50,000円以上～100,000円未満：660円(税込)+印紙代200円<br>
                    100,000円以上～300,000円まで：1,100円(税込)+印紙代200円<br>
                </p>

                <h4>◆送料</h4>
                <p>
                    １回の発送（おまとめ配送も含む）につき以下の地域別送料がかかります。<br>
                    北海道/福岡/大分/長崎/佐賀/熊本/宮崎/鹿児島：970円<br>
                    青森/秋田/岩手/滋賀/京都/大阪/奈良/和歌山/兵庫：870円<br>
                    茨城/栃木/群馬/埼玉/千葉/東京/神奈川/山梨：720円<br>
                    宮城/福島/山形/新潟/長野/石川/富山/福井/静岡/愛知/岐阜/三重：820円<br>
                    鳥取/島根/広島/岡山/山口/高知/香川/愛媛/徳島：920円<br>
                    沖縄：1,020円<br>
                    ※各送料は税込額です。<br>
                    ※日本国内への配送のみとさせていただいております。<br>
                </p>

                <p id="delivery" class="p-faq-adjust-link"></p>
                <h3>配送について</h3>

                <h4>◆配送業者</h4>
                <p>
                    シリアルコード付きWIZ*ONE盤CDは佐川急便株式会社よりお届けいたします。<br>
                    その他商品はヤマト運輸よりお届けいたします。<br>
                </p>

                <h4>◆お届け日・お届け時間の指定</h4>
                <p>
                    お届け日はご指定いただけません。<br>
                    配送時間帯はご注文時にご指定いただけますが、交通状況等により指定時間帯の配送をお約束するものではございませんことご了承ください。<br>
                    ※ご注文完了後の時間帯変更は出来ませんのでご注意ください。<br>
                    ※天候、お住まい地域、交通状況等によりお届けに数日かかる場合がございます。<br>
                </p>

                <h4>◆お届け目安</h4>
                <p>
                    予約商品に関しましては、商品ページに記載のお届け目安に合わせて配送いたします。<br>
                    その他商品は、ご注文完了（コンビニ決済は入金完了）された土日祝祭日・指定休業日を除く翌営業日から約7日間以内の配送となります。<br>
                    ※製造・出荷・配送状況によってお届けにお時間がかかる場合がございます。<br>
                    ※シリアルコード付きWIZ*ONE盤CDはおまとめ決済毎にお届け目安が異なります。ご注意ください。<br>
                </p>

                <h4>◆配送先の変更</h4>
                <p>
                    WIZ*ONEアカウントご登録住所以外への配送をご希望の際は、商品注文時に別途配送先をご登録いただけますのでご利用ください。<br>
                    ご注文完了後の配送先の変更は配送準備に入らせていただく前に限り、マイページより変更いただけます。<br>
                    番地、建物名、部屋番号などの入力漏れがないよう十分にご注意ください。<br>
                </p>

                <h4>◆配達時に不在の場合</h4>
                <p>
                    「ご不在票」に記載された配送業者の連絡先へお問い合わせください。<br>
                    ※配送業者の保管期間が過ぎた場合、発送元へ返送されます。<br>
                </p>

                <h4>◆不在等による商品の回収</h4>
                <p>
                    商品発送日から1週間以上商品を受取られなかった場合、商品は回収いたします。商品到着日ではなく商品発送日から1週間となりますのでご注意ください。<br>
                    商品回収後の再発送対応はいたしませんのでお早めの商品お受取りをお願いいたします。<br>
                    また、商品回収となりました際はお客様都合によるキャンセルとみなし、以後のご利用に制限を設けさせていただく場合がございます。<br>
                </p>

                <h4>◆出荷ご案内</h4>
                <p>
                    商品出荷時にWIZ*ONEアカウントご登録メールアドレスに商品出荷ご案内をお届けいたします。<br>
                    なお、マイページ内購入履歴の詳細からも出荷完了メールをご確認いただけます。<br>
                </p>

                <p id="cancel" class="p-faq-adjust-link"></p>
                <h3>キャンセル・交換について</h3>

                <h4>◆キャンセル</h4>
                <p>
                    お客様都合によるキャンセルは一切お受けしておりません。商品ご注文時にはご注意ください。<br>
                    ※WIZ*ONE盤CDのキャンセルに関しては「WIZ*ONE盤CDについて」よりご参照ください。<br>
                </p>

                <h4>◆返品・交換</h4>
                <p>
                    お届けした商品に破損や不良が見られた場合、または異なる商品が届いた場合に限り商品交換いたします。<br>
                    商品到着後７日以内にお問い合わせフォームよりご連絡をお願いいたします。<br>
                    商品到着から７日を過ぎた場合、商品交換はお受けできませんのでご注意ください。<br>
                    ※交換品のご用意ができない場合、返金とさせていただく場合がございます。<br>
                    ※不良内容によっては交換をお受けできない場合がございます。<br>
                </p>

                <h4>◆クーリング・オフ</h4>
                <p>
                    クーリングオフは訪問販売・電話勧誘販売等において消費者を保護するための制度です。<br>
                    IZ*ONE JAPAN OFFICIAL SHOP含む通信販売にクーリングオフは適用されませんのでご了承ください。<br>
                </p>

                <p id="other" class="p-faq-adjust-link"></p>
                <h3>その他</h3>

                <h4>◆SHA-2証明書移行対応</h4>
                <p>
                    IZ*ONE JAPAN OFFICIAL SHOPではサーバ証明書は「SHA-2証明書」を使用しております。<br>
                    「SHA-2証明書」に対応していないご利用環境からはIZ*ONE JAPAN OFFICIAL SHOPはご利用いただけませんためご了承ください。<br>
                    <br>
                    ※ご利用いただけない可能性の高いご利用環境<br>
                    主に、発売が2009年以前の携帯電話はご利用いただけない可能性が高く想定されます。<br>
                    端末毎の対応状況につきましては各携帯電話会社にお問い合わせください。<br>
                    また、パソコン環境においては「Windows XP SP2」以前のOS、「Internet Explorer 6.0
                    SP2」以下のブラウザ、も「SHA-2証明書」に対応しておりませんためご注意ください。<br>
                    <br>
                    ※「SHA-2証明書」とは、インターネット通信を安全にご利用いただくための通信を暗号化させる方式です。<br>
                </p>

                <h4>◆本ご利用ガイドについて</h4>
                <p>
                    IZ*ONE JAPAN OFFICIAL SHOPは「ご利用ガイド」の内容を予告なしに変更する場合がございます。<br>
                </p>

            </div>
        </div>
    </section>
</div></div>
<div class="js-to-page-top c-to-top-button glyphicon glyphicon-circle-arrow-up"></div>


<div id="footer" class="p-footer">
    <div class="p-footer__nav-list">
        <div class="p-footer__nav-list__column">
            <div class="p-footer__nav"
                 ng-model="footerNavServiceClosed"
                 ng-init="footerNavServiceClosed = true">
                <div class="p-footer__nav__head"
                     ng-click="footerNavServiceClosed = !footerNavServiceClosed"
                     ng-class="{'active': !footerNavServiceClosed}">
                    <span>Service</span>
                </div>
                <div class="p-footer__nav__link-list-wrapper" ng-class="{'p-footer__nav__link-list-wrapper--closed': footerNavServiceClosed}">
                    <div class="p-footer__nav__link-list" ng-class="{'p-footer__nav__link-list--closed': footerNavServiceClosed}">
                        <a class="p-footer__nav__link" href="registration.html">初めての方へ</a>
                        <a class="p-footer__nav__link" href="help-list.html">ご利用ガイド</a>
                        <a class="p-footer__nav__link" href="faq.html">よくあるご質問</a>
                        <a class="p-footer__nav__link" href="../selection/cart.html">カート</a>
                        <a class="p-footer__nav__link" href="../contact.html">お問い合わせ</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-footer__nav-list__column">
            <div class="p-footer__nav"
                 ng-model="footerNavAgreementAndOthersClosed"
                 ng-init="footerNavAgreementAndOthersClosed = true">
                <div class="p-footer__nav__head"
                     ng-click="footerNavAgreementAndOthersClosed = !footerNavAgreementAndOthersClosed"
                     ng-class="{'active': !footerNavAgreementAndOthersClosed}">
                    <span>Agreement / Others</span>
                </div>
                <div class="p-footer__nav__link-list-wrapper" ng-class="{'p-footer__nav__link-list-wrapper--closed': footerNavAgreementAndOthersClosed}">
                    <div class="p-footer__nav__link-list" ng-class="{'p-footer__nav__link-list--closed': footerNavAgreementAndOthersClosed}">
                        <a class="p-footer__nav__link" href="policy.html">WIZ*ONEアカウントサービス会員規約</a>
                        <a class="p-footer__nav__link" href="term.html">利用規約</a>
                        <a class="p-footer__nav__link" href="law.html">特定商取引に関する法律に基づく表示</a>
                        <a class="p-footer__nav__link" href="privacy.html">個人情報の取扱いに関して</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-footer__nav-list__column">
            <div class="p-footer__nav p-footer__nav--sns">
                <div class="p-footer__nav__head p-footer__nav__head--sns">
                    <span>SNS</span>
                </div>
                <div class="p-footer__nav__sns-wrapper p-footer__nav__link">
                    <div class="p-footer__nav__sns">
                        <div class="c-sns">
    <a href="http://cafe.daum.net/official-izone" target="_blank">
        <span class="c-sns__icon c-sns__icon--daum-cafe"></span>
    </a>
    <a href="https://twitter.com/official_izone" target="_blank">
        <span class="c-sns__icon c-sns__icon--twitter"></span>
    </a>
    <a href="https://www.youtube.com/channel/UCe_oTYByLWQYCUmgmOMU_xw" target="_blank">
        <span class="c-sns__icon c-sns__icon--youtube"></span>
    </a>
    <a href="https://www.facebook.com/official.izone/" target="_blank">
        <span class="c-sns__icon c-sns__icon--facebook"></span>
    </a>
    <a href="https://www.instagram.com/official_izone/" target="_blank">
        <span class="c-sns__icon c-sns__icon--instagram"></span>
    </a>
    <a href="https://channels.vlive.tv/C1B7AF/home" target="_blank">
        <span class="c-sns__icon c-sns__icon--v-live"></span>
    </a>
    <a href="https://www.weibo.com/officializone" target="_blank">
        <span class="c-sns__icon c-sns__icon--weibo"></span>
    </a>
</div>
                    </div>
                </div>
            </div>

            <div class="p-footer__nav p-footer__nav--banner" ng-controller="ImgUrlController as imgUrlCtrl">
                <div class="p-footer__nav__banner">
                    <div class="p-footer__nav__banner__row">
                        <div class="p-footer__nav__banner__row__column">
                            <a href="http://iz-one.co.kr/" target="_blank">
                                <img class="p-footer__nav__banner__row__column__img" ng-src="{{imgUrlCtrl.resourceUrl + 'memec/image/bnr_f_izone.png'}}" alt="official_banner">
                            </a>
                        </div>
                        <div class="p-footer__nav__banner__row__column">
                            <a href="https://www.izone-official.com/" target="_blank">
                                <img class="p-footer__nav__banner__row__column__img" ng-src="{{imgUrlCtrl.resourceUrl + 'memec/image/bnr_f_izone_jp.png'}}" alt="japan_official_banner">
                            </a>
                        </div>
                    </div>
                    <div class="p-footer__nav__banner__row">
                        <div class="p-footer__nav__banner__row__column">
                            <a href="https://shop.buyee.jp/izone-shop" target="_blank">
                                <img class="p-footer__nav__banner__row__column__img" ng-src="{{imgUrlCtrl.resourceUrl + 'memec/image/bnr_f_buyee.png'}}" alt="buyee_banner">
                            </a>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-footer__copyright">
        <p class="p-footer__copyright__text">
            <span class="p-footer__copyright__mark">&copy;</span><span>2018 OFF THE RECORD ENTERTAINMENT</span>
        </p>
        <div class="p-footer__copyright__note-wrapper">
            <p class="p-footer__copyright__note">
                <span>サイト内の文章、画像などの著作物はOFF THE RECORD ENTERTAINMENTに属します。</span>
                <span>複製、無断転載を禁止します。</span>
            </p>
        </div>
    </div>
</div>
</body>
</html>
