<!doctype html>
<html lang="ja" ng-app="memecApp.main">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="IZ*ONE(アイズワン)の日本公式通販サイト IZ*ONE JAPAN OFFICIAL SHOPの特定商取引に関する法律に基づく表示ページです。">
    <meta name="keywords" content="IZ*ONE JAPAN OFFICIAL SHOP,アイズワンジャパンオフィシャルショップ,IZ*ONE,IZONE,アイズワン,IZ*ONE グッズ,IZ*ONE CD,IZ*ONE メンバー,チャン・ウォニョン,宮脇咲良,チョ・ユリ,チェ・イェナ,アン・ユジン,矢吹奈子,クォン・ウンビ,カン・ヘウォン,本田仁美,キム・チェウォン,キム・ミンジュ,イ・チェヨン">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="特定商取引に関する法律に基づく表示 | IZ*ONE JAPAN OFFICIAL SHOP">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://izone-shop.com">
    <meta property="og:image" content="https://izone-shop.com/ogp_img.png">
    <meta property="og:site_name" content="IZ*ONE JAPAN OFFICIAL SHOP">
    <meta property="og:description" content="IZ*ONE(アイズワン)の日本公式通販サイト IZ*ONE JAPAN OFFICIAL SHOPの特定商取引に関する法律に基づく表示ページです。">
    <meta name="application-name" content="IZ*ONE JAPAN OFFICIAL SHOP">
    <link rel="manifest" href="../manifest.json">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="../favicons/apple-touch-icon-180x180-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../favicons/apple-touch-icon-152x152-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../favicons/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../favicons/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../favicons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="../favicons/apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../favicons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="../favicons/apple-touch-icon-60x60-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../favicons/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" href="../favicons/apple-touch-icon-57x57.png">

    <title>特定商取引に関する法律に基づく表示 | IZ*ONE JAPAN OFFICIAL SHOP</title>

    
    
    <!--AngularJS-->
    	<script type="text/javascript" src="../assets/js/angular.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/angular-resource.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/angular-cookies.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/angular-animate.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/angular-sanitize.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/angular-locale_ja-jp.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/angular-touch.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/ng-infinite-scroll.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/ui-bootstrap-tpls-1.3.2.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/index.js@1613975655"></script>
    <!--ALL-->
    	<script type="text/javascript" src="../assets/js/jquery-1.10.2.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/jquery-ui-1.10.2.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/default.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/slidebars.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/scroll-top.js@1613975599"></script>

    <!--各ページ個別-->
    	<link media="screen" type="text/css" rel="stylesheet" href="../assets/css/bootstrap.min.css@1613975599.css" />
	<link media="screen" type="text/css" rel="stylesheet" href="../assets/css/bootstrap-theme.min.css@1613975599.css" />
	<link type="text/css" rel="stylesheet" href="../assets/css/slidebars.css@1613975599.css" />
    <!--PCのみ-->
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/reset_pc.css@1613975599.css" />
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_style.css@1613975599.css" />
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_gsstyle.css@1613975599.css" />
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_form.css@1613975599.css" />
    <!--SPのみ-->
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/reset.css@1613975599.css" />
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/sp_style.css@1613975599.css" />
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/sp_gsstyle.css@1613975599.css" />
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/sp_form.css@1613975599.css" />
    <!--他のcssに影響されたくない全体最終適用css-->
    	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_login.css@1613975599.css" />
    	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/sp_login.css@1613975599.css" />
    	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_uibmodal.css@1613975599.css" />

    	<link type="text/css" rel="stylesheet" href="../assets/css/jquery-ui-1.10.2.min.css@1613975599.css" />
    	<link type="text/css" rel="stylesheet" href="../assets/css/izone/izone.css@1613975599.css" />
    	<link type="text/css" rel="stylesheet" href="../assets/css/whole.css@1613975599.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131006903-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131006903-1');
</script>

    
</head>
<body ng-controller="GlobalConfigController as globalConfigCtrl" class="ng-cloak c-section--aggregate" ng-cloak>

<div ng-controller="SearchPageRedirectController as searchPageRedirectCtrl">
    <div id="header" class="l-header p-header">
        <div class="l-header__nav l-header__nav--sns">
            <img ng-click="searchPageRedirectCtrl.hide = !searchPageRedirectCtrl.hide" class="l-header__nav--search__icon p-header__search__icon" src="../assets/img/izone/icon_serch.png" alt="cart">
            <div class="p-header__sns">
                <div class="c-sns">
    <a href="http://cafe.daum.net/official-izone" target="_blank">
        <span class="c-sns__icon c-sns__icon--daum-cafe"></span>
    </a>
    <a href="https://twitter.com/official_izone" target="_blank">
        <span class="c-sns__icon c-sns__icon--twitter"></span>
    </a>
    <a href="https://www.youtube.com/channel/UCe_oTYByLWQYCUmgmOMU_xw" target="_blank">
        <span class="c-sns__icon c-sns__icon--youtube"></span>
    </a>
    <a href="https://www.facebook.com/official.izone/" target="_blank">
        <span class="c-sns__icon c-sns__icon--facebook"></span>
    </a>
    <a href="https://www.instagram.com/official_izone/" target="_blank">
        <span class="c-sns__icon c-sns__icon--instagram"></span>
    </a>
    <a href="https://channels.vlive.tv/C1B7AF/home" target="_blank">
        <span class="c-sns__icon c-sns__icon--v-live"></span>
    </a>
    <a href="https://www.weibo.com/officializone" target="_blank">
        <span class="c-sns__icon c-sns__icon--weibo"></span>
    </a>
</div>
            </div>
        </div>
        <div class="l-header__logo">
            <a href="../mypage/top.html">
                <img class="l-header__img" src="../assets/img/izone/logo_1.png" alt="logo">
            </a>
        </div>
        <div class="l-header__nav l-header__nav--search c-search p-header__search">
            <form action="https://izone-shop.com/site-info/" onsubmit="return false;" ng-submit="searchPageRedirectCtrl.redirectToSearchPage()">
                <input type="search" id="inTextPc" class="c-search__text" placeholder="Search" ng-model="searchPageRedirectCtrl.searchKeyword">
                <div class="c-search__button" ng-click="searchPageRedirectCtrl.redirectToSearchPage()">
                    <img src="../assets/img/izone/icon_serch_pc.png" alt="logo">
                </div>
            </form>
        </div>
        <div class="l-header__nav l-header__nav--cart">
            <a href="../selection/cart.html">
                <img class="l-header__nav--cart__icon" src="../assets/img/izone/icon_cart.png" alt="cart">
            </a>
        </div>
        <div class="l-header__nav l-header__nav--menu p-header__menu"
             ng-controller="GlobalMenuController as globalMenuCtrl"
             ng-click="globalMenuCtrl.openMenu()">
            <img class="l-header__nav--menu__icon" src="../assets/img/izone/icon_menu.png" alt="menu">
        </div>
    </div>
    <div ng-hide="searchPageRedirectCtrl.hide" class="p-search p-header__search__icon">
        <form action="https://izone-shop.com/site-info/" onsubmit="return false;" ng-submit="searchPageRedirectCtrl.redirectToSearchPage()" class="c-search__form">
            <div class="c-search__button" ng-click="searchPageRedirectCtrl.redirectToSearchPage()">
                <img src="../assets/img/izone/icon_serch_pc.png" alt="logo">
            </div>
            <div class="c-search__textbox">
                <input type="search" id="inTextSp" class="c-search__text" placeholder="Search" ng-model="searchPageRedirectCtrl.searchKeyword">
            </div>
        </form>
    </div>
</div><div class="dummyHeader"></div><!-- 固定ヘッダ分の高さを確保 -->

<div class="c-buyee">
    <script type="text/javascript">
  (function() {
    var _buyee = { ac: 'izone-to-page' };
    var _bqs = {};
    _bqs['v'] = (new Date()).getTime();
    var vars = [];
    for (key in _bqs) {
      vars.push(key + '=' + _bqs[key]);
    }
    var e = document.createElement('script'); e.type = 'text/javascript'; e.defer = true;
    var scheme = 'https:' == document.location.protocol ? 'https' : 'http';
    e.src = scheme + '://banner.buyee.jp/script/' + _buyee['ac'] + '.js?' + vars.join('&');
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s);
  })();
</script>

<div id="for_izone-to-page" style="display: none; width: 0px; height: 0px;">
    <input type="hidden" id="h_izone-to-page" value="to-page" />
</div>
</div>

<div id="wrap">
    <div id="sb-site">
    <section id="orderArea">
        <h2 class="pageTitle">特定商取引に関する法律に基づく表示</h2>
        <div class="inner">
            <h3>販売業者の氏名（名称）・販売統括責任者・住所・電話番号</h3>
            <p>
                ・販売業者：モノセンス株式会社<br>
                ・販売統括責任者：中村 吉彦<br>
                ・住所：〒140-0001東京都品川区北品川4-7-35御殿山トラストタワー6階<br>
                ・電話番号：03-5739-3604<br><br>

                ※商品・通販に関するお問い合わせ等は下記「お問い合わせ先」へご連絡下さい。
            </p>
            <h3>お問い合わせ先</h3>
            <p>
                ・受付時間： 平日11：00～17：00<br>
                ・お問い合わせメールアドレス：info@izone-shop.com<br>
            </p>
            <h3>販売価格</h3>
            <p>
                ・商品代金は当サイトにおいて表示された代金（税込）です。<br>
                ・商品代金以外の必要代金は以下の通りです。<br>
                ・送料<br>
                通常配送：地域別送料<br>
                ・代金引換でご購入の場合、代引手数料。<br><br>

                [商品代金(税込)：代引手数料]<br>
                10,000円未満 ：330円(税込)<br>
                10,000円以上～30,000円未満 ：440円(税込)<br>
                30,000円以上～50,000円未満 ：660円(税込)<br>
                50,000円以上～100,000円未満 ：660円(税込)+印紙代200円<br>
                100,000円以上～300,000円まで ：1,100円(税込)+印紙代200円<br>
                ※300,000円以上の代引決済は出来ません。<br>
                ・コンビニ決済でご購入の場合、コンビニ決済手数料。<br>
                全国一律330円(税込)。<br>
                ※300,000円以上のコンビニ決済は出来ません。
            </p>
            <h3>申込みの有効期限</h3>
            <p>
                ・原則として受注確認（受注確認の為の自動送信メール発信）後、7日間とします。受注確認後、7日以内にご入金の確認ができない場合、ご注文はキャンセルとさせていただきます。
            </p>


            <h3>返品に関する事項</h3>
            <p>
                ・お客様のご都合による商品の返品、交換又はキャンセルは承っておりません。<br>
                ・商品が不良の場合、損傷がある場合又は品違いの場合等、お客様のご都合によらない場合については、送料弊社負担で交換・返品も承ります。<br>
                ・この場合､お客様は商品到着後7日間以内に弊社の指定する方法により､弊社に通知するものとし､お客様からの着払いによる返品後、弊社は良品の商品と交換します｡<br>
                ・当該商品の返送及び再送に要する送料等は､弊社にて負担するものとします｡<br>
                ・良品手配不可能な場合は商品の販売価格の合計金額を返済させていただきます。<br>
                ・クレジットカード決済でご購入またはコンビニ決済でご購入の場合、正当な理由がないにもかかわらず、商品が指定配達先に出荷（お客様が不在だった場合を含みます。）されてから1か月以内に、
                お客様側の都合により商品の引渡しが完了しない場合には、当該商品に係る取引はキャンセルされたものとみなすことができるものとします。<br>
                その場合、当社は当該商品を売却及びその他の方法により処分することができるものとし、 お客様には商品保管料実費および商品配送料をご負担いただきます。<br>
                ・代金引換でご購入の場合、正当な理由がないにもかかわらず、商品が指定配達先に出荷（お客様が不在だった場合を含みます。）されてから１週間以内にお客様側の都合により商品の引渡しが完了せず、
                その結果、商品代金、送料および代引手数料等の合計金額のお支払いがない場合には、当該商品に係る取引はキャンセルされたものとみなすことができるものとし、以降の再配送の対応は原則として受け付けません。<br>
                その場合、当社は当該商品を売却及びその他の方法により処分することができるものとし、お客様には商品保管料実費および商品配送料をご負担いただきます。
            </p>
            <h3>クーリング・オフに関して</h3>
            <p>
                ・クーリング・オフは、訪問販売・電話勧誘販売などにおいて消費者を保護するための制度です。<br>
                ・当サイトを含めた通信販売にクーリング・オフは適用されません。あらかじめご了承ください。
            </p>
            <h3>販売数量の制限等特別の販売条件</h3>
            <p>
                ・特に指定はございません（商品によって設定あり）。
            </p>
            <h3>商品の引渡時期</h3>
            <p>
                ・支払方法が代金引換の場合はご注文受付後、支払方法がクレジットカード及びコンビニ決済の場合は入金確認後、配送時期の記載がない商品は7日前後でお届けいたします。<br>
                ・天候不順・配送業者の都合・その他何らかの理由により、遅延する場合はメール等でお知らせいたします。<br>
                ・商品の配送は、日本国内に限らせていただきます。<br>
                ・土日祝祭日及び当サイト指定休業日は、出荷手配を行っておりません。あらかじめご了承下さい。<br>
                ・商品の配送は、ヤマト運輸にてお届けいたします。ただし、一部商品に限り、異なる配送業者にてお届けする場合もあります。
            </p>
            <h3>代金の支払い時期及び方法</h3>
            <p>
                ●代金引換<br>
                ・商品到着時に商品の販売価格の総額を配達員にお支払い下さい。<br>
                ・商品の販売価格の総額は以下の通りです。<br>
                商品の販売価格の総額＝商品代金合計＋送料＋代引手数料<br><br>

                ●クレジットカード<br>
                ・VISA・MASTER・JCB・Diners・AMEXをご使用いただけます。<br>
                ・ご購入時に商品の販売価格の総額をお支払いください。<br>
                ・お支払い回数は一括払いのみ承っております。あらかじめご了承ください。<br>
                ・お取引の安全のため、ご購入者とクレジットカード名義人が同一でない場合は、お取り扱いできません。<br>
                また、高額商品等一部の商品につきまして本人確認のご連絡をさせていただく場合がございます。<br>
                ・カード会社より決済承認を得られなかった場合、お電話もしくはメールにて、ご連絡を取らせて頂く場合がございますので、ご了承下さい。<br>
                ・その場合、お支払い方法を代金引換（現金）に変更していただく場合がございます。<br>
                ・カードの承認が取れない場合、ご注文はキャンセルとさせていただきますので、ご了承下さい。<br>
                ・当店ではセキュリティ上の配慮からクレジットカードご利用控はお送りしておりません。<br>
                カード会社から送付される、ご利用明細をご確認ください。<br>
                ・当店ではＳＳＬというシステムを利用しておりますので、カード番号は暗号化されて送信されます。ご安心下さい。<br><br>

                ●コンビニ決済<br>
                ・セブンイレブン、ファミリーマート、ローソン、ヤマザキデイリーストア、デイリーヤマザキ、ミニストップ、セイコーマートでお支払いいただけます。<br>
                ・ご注文完了メールにてご案内する払込票番号をご確認の上、お近くのコンビニにてご注文日により7日以内に商品の販売価格の総額をお支払い下さい。詳細は払込情報のお支払期限をご確認ください。<br>
                ・商品の販売価格の総額は以下の通りです。<br>
                商品の販売価格の総額＝商品代金合計＋送料＋コンビニ決済手数料<br>
                ・ご注文日より7日以内にご入金のない場合、ご注文はキャンセルとさせていただきますので、ご了承ください。
            </p>
            <h3>商品の隠れた瑕疵に関する販売業者の責任</h3>
            <p>
                お客様が弊社から購入した商品等に関して、弊社の責めに帰すべき事由又は商品等の隠れたる瑕疵に基づきお客様に損害が生じた場合、直接損害に限り、販売代金等を上限として損害を賠償します。「お問い合わせ先」までご連絡ください。
            </p>
        </div>
    </section>
</div>
</div>
<div class="js-to-page-top c-to-top-button glyphicon glyphicon-circle-arrow-up"></div>


<div id="footer" class="p-footer">
    <div class="p-footer__nav-list">
        <div class="p-footer__nav-list__column">
            <div class="p-footer__nav"
                 ng-model="footerNavServiceClosed"
                 ng-init="footerNavServiceClosed = true">
                <div class="p-footer__nav__head"
                     ng-click="footerNavServiceClosed = !footerNavServiceClosed"
                     ng-class="{'active': !footerNavServiceClosed}">
                    <span>Service</span>
                </div>
                <div class="p-footer__nav__link-list-wrapper" ng-class="{'p-footer__nav__link-list-wrapper--closed': footerNavServiceClosed}">
                    <div class="p-footer__nav__link-list" ng-class="{'p-footer__nav__link-list--closed': footerNavServiceClosed}">
                        <a class="p-footer__nav__link" href="registration.html">初めての方へ</a>
                        <a class="p-footer__nav__link" href="help-list.html">ご利用ガイド</a>
                        <a class="p-footer__nav__link" href="faq.html">よくあるご質問</a>
                        <a class="p-footer__nav__link" href="../selection/cart.html">カート</a>
                        <a class="p-footer__nav__link" href="../contact.html">お問い合わせ</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-footer__nav-list__column">
            <div class="p-footer__nav"
                 ng-model="footerNavAgreementAndOthersClosed"
                 ng-init="footerNavAgreementAndOthersClosed = true">
                <div class="p-footer__nav__head"
                     ng-click="footerNavAgreementAndOthersClosed = !footerNavAgreementAndOthersClosed"
                     ng-class="{'active': !footerNavAgreementAndOthersClosed}">
                    <span>Agreement / Others</span>
                </div>
                <div class="p-footer__nav__link-list-wrapper" ng-class="{'p-footer__nav__link-list-wrapper--closed': footerNavAgreementAndOthersClosed}">
                    <div class="p-footer__nav__link-list" ng-class="{'p-footer__nav__link-list--closed': footerNavAgreementAndOthersClosed}">
                        <a class="p-footer__nav__link" href="policy.html">WIZ*ONEアカウントサービス会員規約</a>
                        <a class="p-footer__nav__link" href="term.html">利用規約</a>
                        <a class="p-footer__nav__link" href="law.html">特定商取引に関する法律に基づく表示</a>
                        <a class="p-footer__nav__link" href="privacy.html">個人情報の取扱いに関して</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-footer__nav-list__column">
            <div class="p-footer__nav p-footer__nav--sns">
                <div class="p-footer__nav__head p-footer__nav__head--sns">
                    <span>SNS</span>
                </div>
                <div class="p-footer__nav__sns-wrapper p-footer__nav__link">
                    <div class="p-footer__nav__sns">
                        <div class="c-sns">
    <a href="http://cafe.daum.net/official-izone" target="_blank">
        <span class="c-sns__icon c-sns__icon--daum-cafe"></span>
    </a>
    <a href="https://twitter.com/official_izone" target="_blank">
        <span class="c-sns__icon c-sns__icon--twitter"></span>
    </a>
    <a href="https://www.youtube.com/channel/UCe_oTYByLWQYCUmgmOMU_xw" target="_blank">
        <span class="c-sns__icon c-sns__icon--youtube"></span>
    </a>
    <a href="https://www.facebook.com/official.izone/" target="_blank">
        <span class="c-sns__icon c-sns__icon--facebook"></span>
    </a>
    <a href="https://www.instagram.com/official_izone/" target="_blank">
        <span class="c-sns__icon c-sns__icon--instagram"></span>
    </a>
    <a href="https://channels.vlive.tv/C1B7AF/home" target="_blank">
        <span class="c-sns__icon c-sns__icon--v-live"></span>
    </a>
    <a href="https://www.weibo.com/officializone" target="_blank">
        <span class="c-sns__icon c-sns__icon--weibo"></span>
    </a>
</div>
                    </div>
                </div>
            </div>

            <div class="p-footer__nav p-footer__nav--banner" ng-controller="ImgUrlController as imgUrlCtrl">
                <div class="p-footer__nav__banner">
                    <div class="p-footer__nav__banner__row">
                        <div class="p-footer__nav__banner__row__column">
                            <a href="http://iz-one.co.kr/" target="_blank">
                                <img class="p-footer__nav__banner__row__column__img" ng-src="{{imgUrlCtrl.resourceUrl + 'memec/image/bnr_f_izone.png'}}" alt="official_banner">
                            </a>
                        </div>
                        <div class="p-footer__nav__banner__row__column">
                            <a href="https://www.izone-official.com/" target="_blank">
                                <img class="p-footer__nav__banner__row__column__img" ng-src="{{imgUrlCtrl.resourceUrl + 'memec/image/bnr_f_izone_jp.png'}}" alt="japan_official_banner">
                            </a>
                        </div>
                    </div>
                    <div class="p-footer__nav__banner__row">
                        <div class="p-footer__nav__banner__row__column">
                            <a href="https://shop.buyee.jp/izone-shop" target="_blank">
                                <img class="p-footer__nav__banner__row__column__img" ng-src="{{imgUrlCtrl.resourceUrl + 'memec/image/bnr_f_buyee.png'}}" alt="buyee_banner">
                            </a>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-footer__copyright">
        <p class="p-footer__copyright__text">
            <span class="p-footer__copyright__mark">&copy;</span><span>2018 OFF THE RECORD ENTERTAINMENT</span>
        </p>
        <div class="p-footer__copyright__note-wrapper">
            <p class="p-footer__copyright__note">
                <span>サイト内の文章、画像などの著作物はOFF THE RECORD ENTERTAINMENTに属します。</span>
                <span>複製、無断転載を禁止します。</span>
            </p>
        </div>
    </div>
</div>
</body>
</html>
