<!doctype html>
<html lang="ja" ng-app="memecApp.main">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="IZ*ONE(アイズワン)の日本公式通販サイト IZ*ONE JAPAN OFFICIAL SHOPの初めての方へページです。">
    <meta name="keywords" content="IZ*ONE JAPAN OFFICIAL SHOP,アイズワンジャパンオフィシャルショップ,IZ*ONE,IZONE,アイズワン,IZ*ONE グッズ,IZ*ONE CD,IZ*ONE メンバー,チャン・ウォニョン,宮脇咲良,チョ・ユリ,チェ・イェナ,アン・ユジン,矢吹奈子,クォン・ウンビ,カン・ヘウォン,本田仁美,キム・チェウォン,キム・ミンジュ,イ・チェヨン">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="初めての方へ | IZ*ONE JAPAN OFFICIAL SHOP">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://izone-shop.com">
    <meta property="og:image" content="https://izone-shop.com/ogp_img.png">
    <meta property="og:site_name" content="IZ*ONE JAPAN OFFICIAL SHOP">
    <meta property="og:description" content="IZ*ONE(アイズワン)の日本公式通販サイト IZ*ONE JAPAN OFFICIAL SHOPの初めての方へページです。">
    <meta name="application-name" content="IZ*ONE JAPAN OFFICIAL SHOP">
    <link rel="manifest" href="../manifest.json">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="../favicons/apple-touch-icon-180x180-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../favicons/apple-touch-icon-152x152-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../favicons/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../favicons/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../favicons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="../favicons/apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../favicons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="../favicons/apple-touch-icon-60x60-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../favicons/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" href="../favicons/apple-touch-icon-57x57.png">

    <title>初めての方へ | IZ*ONE JAPAN OFFICIAL SHOP</title>

    
    
    <!--AngularJS-->
    	<script type="text/javascript" src="../assets/js/angular.min.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/angular-resource.min.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/angular-cookies.min.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/angular-animate.min.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/angular-sanitize.min.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/angular-locale_ja-jp.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/angular-touch.min.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/ng-infinite-scroll.min.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/ui-bootstrap-tpls-1.3.2.min.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/index.js@1613981224"></script>
    <!--ALL-->
    	<script type="text/javascript" src="../assets/js/jquery-1.10.2.min.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/jquery-ui-1.10.2.min.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/default.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/slidebars.js@1613981170"></script>
    	<script type="text/javascript" src="../assets/js/scroll-top.js@1613981170"></script>

    <!--各ページ個別-->
    	<link media="screen" type="text/css" rel="stylesheet" href="../assets/css/bootstrap.min.css@1613981170.css" />
	<link media="screen" type="text/css" rel="stylesheet" href="../assets/css/bootstrap-theme.min.css@1613981170.css" />
	<link type="text/css" rel="stylesheet" href="../assets/css/slidebars.css@1613981170.css" />
<!--PCのみ-->
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/reset_pc.css@1613981170.css" />
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_style.css@1613981170.css" />
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_gsstyle.css@1613981170.css" />
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_form.css@1613981170.css" />
<!--SPのみ-->
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/reset.css@1613981170.css" />
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/sp_style.css@1613981170.css" />
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/sp_gsstyle.css@1613981170.css" />
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/sp_form.css@1613981170.css" />

    <!--他のcssに影響されたくない全体最終適用css-->
    	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_login.css@1613981170.css" />
    	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/sp_login.css@1613981170.css" />
    	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_uibmodal.css@1613981170.css" />

    	<link type="text/css" rel="stylesheet" href="../assets/css/jquery-ui-1.10.2.min.css@1613981170.css" />
    	<link type="text/css" rel="stylesheet" href="../assets/css/izone/izone.css@1613981170.css" />
    	<link type="text/css" rel="stylesheet" href="../assets/css/whole.css@1613981170.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131006903-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131006903-1');
</script>

    
</head>
<body ng-controller="GlobalConfigController as globalConfigCtrl" class="ng-cloak c-section--aggregate" ng-cloak>

<div ng-controller="SearchPageRedirectController as searchPageRedirectCtrl">
    <div id="header" class="l-header p-header">
        <div class="l-header__nav l-header__nav--sns">
            <img ng-click="searchPageRedirectCtrl.hide = !searchPageRedirectCtrl.hide" class="l-header__nav--search__icon p-header__search__icon" src="../assets/img/izone/icon_serch.png" alt="cart">
            <div class="p-header__sns">
                <div class="c-sns">
    <a href="http://cafe.daum.net/official-izone" target="_blank">
        <span class="c-sns__icon c-sns__icon--daum-cafe"></span>
    </a>
    <a href="https://twitter.com/official_izone" target="_blank">
        <span class="c-sns__icon c-sns__icon--twitter"></span>
    </a>
    <a href="https://www.youtube.com/channel/UCe_oTYByLWQYCUmgmOMU_xw" target="_blank">
        <span class="c-sns__icon c-sns__icon--youtube"></span>
    </a>
    <a href="https://www.facebook.com/official.izone/" target="_blank">
        <span class="c-sns__icon c-sns__icon--facebook"></span>
    </a>
    <a href="https://www.instagram.com/official_izone/" target="_blank">
        <span class="c-sns__icon c-sns__icon--instagram"></span>
    </a>
    <a href="https://channels.vlive.tv/C1B7AF/home" target="_blank">
        <span class="c-sns__icon c-sns__icon--v-live"></span>
    </a>
    <a href="https://www.weibo.com/officializone" target="_blank">
        <span class="c-sns__icon c-sns__icon--weibo"></span>
    </a>
</div>
            </div>
        </div>
        <div class="l-header__logo">
            <a href="../mypage/top.html">
                <img class="l-header__img" src="../assets/img/izone/logo_1.png" alt="logo">
            </a>
        </div>
        <div class="l-header__nav l-header__nav--search c-search p-header__search">
            <form action="https://izone-shop.com/site-info/" onsubmit="return false;" ng-submit="searchPageRedirectCtrl.redirectToSearchPage()">
                <input type="search" id="inTextPc" class="c-search__text" placeholder="Search" ng-model="searchPageRedirectCtrl.searchKeyword">
                <div class="c-search__button" ng-click="searchPageRedirectCtrl.redirectToSearchPage()">
                    <img src="../assets/img/izone/icon_serch_pc.png" alt="logo">
                </div>
            </form>
        </div>
        <div class="l-header__nav l-header__nav--cart">
            <a href="../selection/cart.html">
                <img class="l-header__nav--cart__icon" src="../assets/img/izone/icon_cart.png" alt="cart">
            </a>
        </div>
        <div class="l-header__nav l-header__nav--menu p-header__menu"
             ng-controller="GlobalMenuController as globalMenuCtrl"
             ng-click="globalMenuCtrl.openMenu()">
            <img class="l-header__nav--menu__icon" src="../assets/img/izone/icon_menu.png" alt="menu">
        </div>
    </div>
    <div ng-hide="searchPageRedirectCtrl.hide" class="p-search p-header__search__icon">
        <form action="https://izone-shop.com/site-info/" onsubmit="return false;" ng-submit="searchPageRedirectCtrl.redirectToSearchPage()" class="c-search__form">
            <div class="c-search__button" ng-click="searchPageRedirectCtrl.redirectToSearchPage()">
                <img src="../assets/img/izone/icon_serch_pc.png" alt="logo">
            </div>
            <div class="c-search__textbox">
                <input type="search" id="inTextSp" class="c-search__text" placeholder="Search" ng-model="searchPageRedirectCtrl.searchKeyword">
            </div>
        </form>
    </div>
</div><div class="dummyHeader"></div><!-- 固定ヘッダ分の高さを確保 -->

<div class="c-buyee">
    <script type="text/javascript">
  (function() {
    var _buyee = { ac: 'izone-to-page' };
    var _bqs = {};
    _bqs['v'] = (new Date()).getTime();
    var vars = [];
    for (key in _bqs) {
      vars.push(key + '=' + _bqs[key]);
    }
    var e = document.createElement('script'); e.type = 'text/javascript'; e.defer = true;
    var scheme = 'https:' == document.location.protocol ? 'https' : 'http';
    e.src = scheme + '://banner.buyee.jp/script/' + _buyee['ac'] + '.js?' + vars.join('&');
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s);
  })();
</script>

<div id="for_izone-to-page" style="display: none; width: 0px; height: 0px;">
    <input type="hidden" id="h_izone-to-page" value="to-page" />
</div>
</div>

<div id="wrap">
    <div ng-controller="RegistrationController as ctrl" class="p-registration">
    <h2 class="pageTitle">初めての方へ</h2>
    <div class="p-registration__site">
        <img class="p-registration__site__img" src="../assets/img/izone/logo.png" alt="logo">

        <p class="p-registration__site__description">
            IZ*ONE JAPAN OFFICIAL SHOPは、<br class="pc_only">
            グローバルガールズグループ『IZ*ONE』のオフィシャルショップです。<br class="pc_only">
            限定グッズやWIZ*ONE盤CDなどをお買い求めいただけます。
        </p>

        <p class="p-registration__site__description p-registration__site__description--emphasis">
            IZ*ONE JAPAN OFFICIAL SHOPのご利用にはWIZ*ONEアカウントご登録が必要です。
        </p>
    </div>

    <div class="p-registration__account">
        <span class="p-registration__account__title">
            WIZ*ONEアカウントとは？
        </span>

        <p class="p-registration__account__description">
            ※「WIZ*ONEアカウントサービス」は、<br class="pc_only">
            IZ*ONE JAPAN OFFICIAL SHOPやIZ*ONEチケットセンターなど<br class="pc_only">
            IZ*ONEの様々なサービスをご利用いただけるアカウントサービスです。
        </p>

        <a class="c-button c-button--gs p-registration__button"
           ng-href="{{ctrl.memRegURL}}"
           target="_blank">アカウント登録
        </a>
        <p class="p-registration__account__note">※WIZ*ONEアカウント登録ページへ移動します。</p>
    </div>

    <div class="u-center">
        <a class="c-button c-button--close c-button--gs p-registration__button"
           href="help-list.html">ご利用ガイドはこちら</a>
    </div>
</div>
</div>
<div class="js-to-page-top c-to-top-button glyphicon glyphicon-circle-arrow-up"></div>


<div id="footer" class="p-footer">
    <div class="p-footer__nav-list">
        <div class="p-footer__nav-list__column">
            <div class="p-footer__nav"
                 ng-model="footerNavServiceClosed"
                 ng-init="footerNavServiceClosed = true">
                <div class="p-footer__nav__head"
                     ng-click="footerNavServiceClosed = !footerNavServiceClosed"
                     ng-class="{'active': !footerNavServiceClosed}">
                    <span>Service</span>
                </div>
                <div class="p-footer__nav__link-list-wrapper" ng-class="{'p-footer__nav__link-list-wrapper--closed': footerNavServiceClosed}">
                    <div class="p-footer__nav__link-list" ng-class="{'p-footer__nav__link-list--closed': footerNavServiceClosed}">
                        <a class="p-footer__nav__link" href="registration.html">初めての方へ</a>
                        <a class="p-footer__nav__link" href="help-list.html">ご利用ガイド</a>
                        <a class="p-footer__nav__link" href="faq.html">よくあるご質問</a>
                        <a class="p-footer__nav__link" href="../selection/cart.html">カート</a>
                        <a class="p-footer__nav__link" href="../contact.html">お問い合わせ</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-footer__nav-list__column">
            <div class="p-footer__nav"
                 ng-model="footerNavAgreementAndOthersClosed"
                 ng-init="footerNavAgreementAndOthersClosed = true">
                <div class="p-footer__nav__head"
                     ng-click="footerNavAgreementAndOthersClosed = !footerNavAgreementAndOthersClosed"
                     ng-class="{'active': !footerNavAgreementAndOthersClosed}">
                    <span>Agreement / Others</span>
                </div>
                <div class="p-footer__nav__link-list-wrapper" ng-class="{'p-footer__nav__link-list-wrapper--closed': footerNavAgreementAndOthersClosed}">
                    <div class="p-footer__nav__link-list" ng-class="{'p-footer__nav__link-list--closed': footerNavAgreementAndOthersClosed}">
                        <a class="p-footer__nav__link" href="policy.html">WIZ*ONEアカウントサービス会員規約</a>
                        <a class="p-footer__nav__link" href="term.html">利用規約</a>
                        <a class="p-footer__nav__link" href="law.html">特定商取引に関する法律に基づく表示</a>
                        <a class="p-footer__nav__link" href="privacy.html">個人情報の取扱いに関して</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-footer__nav-list__column">
            <div class="p-footer__nav p-footer__nav--sns">
                <div class="p-footer__nav__head p-footer__nav__head--sns">
                    <span>SNS</span>
                </div>
                <div class="p-footer__nav__sns-wrapper p-footer__nav__link">
                    <div class="p-footer__nav__sns">
                        <div class="c-sns">
    <a href="http://cafe.daum.net/official-izone" target="_blank">
        <span class="c-sns__icon c-sns__icon--daum-cafe"></span>
    </a>
    <a href="https://twitter.com/official_izone" target="_blank">
        <span class="c-sns__icon c-sns__icon--twitter"></span>
    </a>
    <a href="https://www.youtube.com/channel/UCe_oTYByLWQYCUmgmOMU_xw" target="_blank">
        <span class="c-sns__icon c-sns__icon--youtube"></span>
    </a>
    <a href="https://www.facebook.com/official.izone/" target="_blank">
        <span class="c-sns__icon c-sns__icon--facebook"></span>
    </a>
    <a href="https://www.instagram.com/official_izone/" target="_blank">
        <span class="c-sns__icon c-sns__icon--instagram"></span>
    </a>
    <a href="https://channels.vlive.tv/C1B7AF/home" target="_blank">
        <span class="c-sns__icon c-sns__icon--v-live"></span>
    </a>
    <a href="https://www.weibo.com/officializone" target="_blank">
        <span class="c-sns__icon c-sns__icon--weibo"></span>
    </a>
</div>
                    </div>
                </div>
            </div>

            <div class="p-footer__nav p-footer__nav--banner" ng-controller="ImgUrlController as imgUrlCtrl">
                <div class="p-footer__nav__banner">
                    <div class="p-footer__nav__banner__row">
                        <div class="p-footer__nav__banner__row__column">
                            <a href="http://iz-one.co.kr/" target="_blank">
                                <img class="p-footer__nav__banner__row__column__img" ng-src="{{imgUrlCtrl.resourceUrl + 'memec/image/bnr_f_izone.png'}}" alt="official_banner">
                            </a>
                        </div>
                        <div class="p-footer__nav__banner__row__column">
                            <a href="https://www.izone-official.com/" target="_blank">
                                <img class="p-footer__nav__banner__row__column__img" ng-src="{{imgUrlCtrl.resourceUrl + 'memec/image/bnr_f_izone_jp.png'}}" alt="japan_official_banner">
                            </a>
                        </div>
                    </div>
                    <div class="p-footer__nav__banner__row">
                        <div class="p-footer__nav__banner__row__column">
                            <a href="https://shop.buyee.jp/izone-shop" target="_blank">
                                <img class="p-footer__nav__banner__row__column__img" ng-src="{{imgUrlCtrl.resourceUrl + 'memec/image/bnr_f_buyee.png'}}" alt="buyee_banner">
                            </a>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-footer__copyright">
        <p class="p-footer__copyright__text">
            <span class="p-footer__copyright__mark">&copy;</span><span>2018 OFF THE RECORD ENTERTAINMENT</span>
        </p>
        <div class="p-footer__copyright__note-wrapper">
            <p class="p-footer__copyright__note">
                <span>サイト内の文章、画像などの著作物はOFF THE RECORD ENTERTAINMENTに属します。</span>
                <span>複製、無断転載を禁止します。</span>
            </p>
        </div>
    </div>
</div>
</body>
</html>
