<!doctype html>
<html lang="ja" ng-app="memecApp.main">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="IZ*ONE(アイズワン)の日本公式通販サイト IZ*ONE JAPAN OFFICIAL SHOPのカートページです。">
    <meta name="keywords" content="IZ*ONE JAPAN OFFICIAL SHOP,アイズワンジャパンオフィシャルショップ,IZ*ONE,IZONE,アイズワン,IZ*ONE グッズ,IZ*ONE CD,IZ*ONE メンバー,チャン・ウォニョン,宮脇咲良,チョ・ユリ,チェ・イェナ,アン・ユジン,矢吹奈子,クォン・ウンビ,カン・ヘウォン,本田仁美,キム・チェウォン,キム・ミンジュ,イ・チェヨン">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="カート | IZ*ONE JAPAN OFFICIAL SHOP">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://izone-shop.com">
    <meta property="og:image" content="https://izone-shop.com/ogp_img.png">
    <meta property="og:site_name" content="IZ*ONE JAPAN OFFICIAL SHOP">
    <meta property="og:description" content="IZ*ONE(アイズワン)の日本公式通販サイト IZ*ONE JAPAN OFFICIAL SHOPのカートページです。">
    <meta name="application-name" content="IZ*ONE JAPAN OFFICIAL SHOP">
    <link rel="manifest" href="../manifest.json">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="../favicons/apple-touch-icon-180x180-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../favicons/apple-touch-icon-152x152-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../favicons/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../favicons/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../favicons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="../favicons/apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../favicons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="../favicons/apple-touch-icon-60x60-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../favicons/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" href="../favicons/apple-touch-icon-57x57.png">

    <title>カート | IZ*ONE JAPAN OFFICIAL SHOP</title>

    
    
    <!--AngularJS-->
    	<script type="text/javascript" src="../assets/js/angular.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/angular-resource.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/angular-cookies.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/angular-animate.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/angular-sanitize.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/angular-locale_ja-jp.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/angular-touch.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/ng-infinite-scroll.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/ui-bootstrap-tpls-1.3.2.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/index.js@1613975655"></script>
    <!--ALL-->
    	<script type="text/javascript" src="../assets/js/jquery-1.10.2.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/jquery-ui-1.10.2.min.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/default.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/slidebars.js@1613975599"></script>
    	<script type="text/javascript" src="../assets/js/scroll-top.js@1613975599"></script>

    <!--各ページ個別-->
    	<link media="screen" type="text/css" rel="stylesheet" href="../assets/css/bootstrap.min.css@1613975599.css" />
	<link media="screen" type="text/css" rel="stylesheet" href="../assets/css/bootstrap-theme.min.css@1613975599.css" />
	<link type="text/css" rel="stylesheet" href="../assets/css/slidebars.css@1613975599.css" />
<!--PCのみ-->
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/reset_pc.css@1613975599.css" />
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_style.css@1613975599.css" />
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_gsstyle.css@1613975599.css" />
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_form.css@1613975599.css" />
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_cart.css@1613975599.css" />
<!--SPのみ-->
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/reset.css@1613975599.css" />
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/sp_style.css@1613975599.css" />
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/sp_gsstyle.css@1613975599.css" />
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/sp_form.css@1613975599.css" />
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/sp_cart.css@1613975599.css" />
    <!--他のcssに影響されたくない全体最終適用css-->
    	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_login.css@1613975599.css" />
    	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/sp_login.css@1613975599.css" />
    	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="../assets/css/pc_uibmodal.css@1613975599.css" />

    	<link type="text/css" rel="stylesheet" href="../assets/css/jquery-ui-1.10.2.min.css@1613975599.css" />
    	<link type="text/css" rel="stylesheet" href="../assets/css/izone/izone.css@1613975599.css" />
    	<link type="text/css" rel="stylesheet" href="../assets/css/whole.css@1613975599.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131006903-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131006903-1');
</script>

    
</head>
<body ng-controller="GlobalConfigController as globalConfigCtrl" class="ng-cloak c-section--aggregate" ng-cloak>

<div ng-controller="SearchPageRedirectController as searchPageRedirectCtrl">
    <div id="header" class="l-header p-header">
        <div class="l-header__nav l-header__nav--sns">
            <img ng-click="searchPageRedirectCtrl.hide = !searchPageRedirectCtrl.hide" class="l-header__nav--search__icon p-header__search__icon" src="../assets/img/izone/icon_serch.png" alt="cart">
            <div class="p-header__sns">
                <div class="c-sns">
    <a href="http://cafe.daum.net/official-izone" target="_blank">
        <span class="c-sns__icon c-sns__icon--daum-cafe"></span>
    </a>
    <a href="https://twitter.com/official_izone" target="_blank">
        <span class="c-sns__icon c-sns__icon--twitter"></span>
    </a>
    <a href="https://www.youtube.com/channel/UCe_oTYByLWQYCUmgmOMU_xw" target="_blank">
        <span class="c-sns__icon c-sns__icon--youtube"></span>
    </a>
    <a href="https://www.facebook.com/official.izone/" target="_blank">
        <span class="c-sns__icon c-sns__icon--facebook"></span>
    </a>
    <a href="https://www.instagram.com/official_izone/" target="_blank">
        <span class="c-sns__icon c-sns__icon--instagram"></span>
    </a>
    <a href="https://channels.vlive.tv/C1B7AF/home" target="_blank">
        <span class="c-sns__icon c-sns__icon--v-live"></span>
    </a>
    <a href="https://www.weibo.com/officializone" target="_blank">
        <span class="c-sns__icon c-sns__icon--weibo"></span>
    </a>
</div>
            </div>
        </div>
        <div class="l-header__logo">
            <a href="../mypage/top.html">
                <img class="l-header__img" src="../assets/img/izone/logo_1.png" alt="logo">
            </a>
        </div>
        <div class="l-header__nav l-header__nav--search c-search p-header__search">
            <form action="https://izone-shop.com/selection/" onsubmit="return false;" ng-submit="searchPageRedirectCtrl.redirectToSearchPage()">
                <input type="search" id="inTextPc" class="c-search__text" placeholder="Search" ng-model="searchPageRedirectCtrl.searchKeyword">
                <div class="c-search__button" ng-click="searchPageRedirectCtrl.redirectToSearchPage()">
                    <img src="../assets/img/izone/icon_serch_pc.png" alt="logo">
                </div>
            </form>
        </div>
        <div class="l-header__nav l-header__nav--cart">
            <a href="cart.html">
                <img class="l-header__nav--cart__icon" src="../assets/img/izone/icon_cart.png" alt="cart">
            </a>
        </div>
        <div class="l-header__nav l-header__nav--menu p-header__menu"
             ng-controller="GlobalMenuController as globalMenuCtrl"
             ng-click="globalMenuCtrl.openMenu()">
            <img class="l-header__nav--menu__icon" src="../assets/img/izone/icon_menu.png" alt="menu">
        </div>
    </div>
    <div ng-hide="searchPageRedirectCtrl.hide" class="p-search p-header__search__icon">
        <form action="https://izone-shop.com/selection/" onsubmit="return false;" ng-submit="searchPageRedirectCtrl.redirectToSearchPage()" class="c-search__form">
            <div class="c-search__button" ng-click="searchPageRedirectCtrl.redirectToSearchPage()">
                <img src="../assets/img/izone/icon_serch_pc.png" alt="logo">
            </div>
            <div class="c-search__textbox">
                <input type="search" id="inTextSp" class="c-search__text" placeholder="Search" ng-model="searchPageRedirectCtrl.searchKeyword">
            </div>
        </form>
    </div>
</div><div class="dummyHeader"></div><!-- 固定ヘッダ分の高さを確保 -->

<div class="c-buyee">
    <script type="text/javascript">
  (function() {
    var _buyee = { ac: 'izone-to-page' };
    var _bqs = {};
    _bqs['v'] = (new Date()).getTime();
    var vars = [];
    for (key in _bqs) {
      vars.push(key + '=' + _bqs[key]);
    }
    var e = document.createElement('script'); e.type = 'text/javascript'; e.defer = true;
    var scheme = 'https:' == document.location.protocol ? 'https' : 'http';
    e.src = scheme + '://banner.buyee.jp/script/' + _buyee['ac'] + '.js?' + vars.join('&');
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s);
  })();
</script>

<div id="for_izone-to-page" style="display: none; width: 0px; height: 0px;">
    <input type="hidden" id="h_izone-to-page" value="to-page" />
</div>
</div>

<div id="wrap">
    <div ng-controller="CartController as ctrl" id="sb-site">
    <form method="post" action="cart.html" name="frm" id="frm">
        <input name="transition_token" value="6be5a9d7-d528-474e-a281-c297c51f463d" type="hidden" id="form_transition_token" />    </form>
    <section id="cartArea">
        <div class="inner">
            <h2 class="pageTitle">カート</h2>

            <div class="attention_border c-note p-cart__note">
                ※ご注文中に10分以上操作されなかった際は、自動的に手続きは中断されます。<br>
                ※カート内商品は1時間以上お手続きされなかった際は、自動的に削除されます。<br>
                ※カート内商品も常時在庫数が変動し完売する場合があります。
            </div>
                        <div ng-if="!ctrl.dispFlg" align="center"><img src="../assets/img/common/loading.svg" alt="loading"/></div>
            <div ng-if="ctrl.emptyMsg" ng-bind="ctrl.emptyMsg" class="message"></div>
            <!--カートここから-->
            <div ng-repeat="cart in ctrl.cartList" ng-if="ctrl.ticketProductIdList.indexOf(cart.items[0].product_id) == -1" id="cartBox">
                <div class="formBox p-cart">
                    <!--▼カートの中の商品一覧 -->
                    <div class="cartinarea clearfix" ng-value="{{cartIndex = $index}}">
                        <!--▼商品 -->
                        <div ng-bind="((cart.product_group.delivery_time) ? '【' + cart.product_group.delivery_time +  '】' : '') + cart.product_group.name.long" class="textTop p-cart__title"></div>
                        <div ng-repeat="error in cart.errors" ng-bind="ctrl.getErrorMessage(error)" class="attention u-text--emphasis"></div>
                        <div class="inner">
                            <div class="topTotal" >お買い上げ商品の合計金額は「<span class="c-price u-text--emphasis" ng-bind="(cart.total | currency: '':0) + '円'"></span>」です。
                            </div>
                            <div ng-repeat="item in cart.items" class="itemBox u-cursor-default">
                                <div class="productImg p-cart__img">
                                    <img ng-src="{{ctrl.createCartImgUrl(item.image.code)}}" alt="">
                                </div>
                                <div class="cartinContents">
                                    <div>
                                        <p>
                                            <em id="selectionCart{{cartIndex}}ItemName{{$index}}" ng-bind="item.name"></em><br>
                                            <span id="selectionCart{{cartIndex}}Item{{$index}}SKUAttr0" ng-if="item.SKU.attributes[0].value" ng-bind-html="item.SKU.attributes[0].value + '<br>'"></span>
                                            <span id="selectionCart{{cartIndex}}Item{{$index}}SKUAttr1" ng-if="item.SKU.attributes[1].value" ng-bind-html="item.SKU.attributes[1].value + '<br>'"></span>
                                            <span id="selectionCart{{cartIndex}}Item{{$index}}PriceWithTax" class="mini">価格:￥</span><span class="c-price">{{item.price_with_tax | currency: '':0}}</span> (税込)
                                        </p>
                                        <p class="btn_delete">
                                            <img id="selectionCart{{cartIndex}}Item{{$index}}DeleteBtn" src="../assets/img/cart/btn_delete.png" ng-click="ctrl.removeProduct(item)" class="pointer" width="23" height="23" alt="削除">
                                        </p>
                                    </div>
                                </div>
                                <ul>
                                    <li id="selectionCart{{cartIndex}}Item{{$index}}Quantity" class="quantity"><span class="mini">数量:</span>{{item.count}}</li>
                                    <li class="quantity_btn u-cursor-pointer">
                                        <img id="selectionCart{{cartIndex}}Item{{$index}}PlusBtn" src="../assets/img/cart/btn_plus.png" ng-click="ctrl.changeProductAmount(item, 1)" width="23" height="23" alt="＋">
                                    </li>
                                    <li class="quantity_btn u-cursor-pointer">
                                        <img id="selectionCart{{cartIndex}}Item{{$index}}MinusBtn" src="../assets/img/cart/btn_minus.png" ng-click="ctrl.changeProductAmount(item, -1)" width="23" height="23" alt="-">
                                    </li>
                                    <li class="result" id="selectionCart{{cartIndex}}Item{{$index}}SubTotal"><span class="mini">小計：￥</span><span class="c-price">{{item.subtotal | currency: '':0}}</span> (税込)</li>
                                </ul>
                            </div>
                        </div>
                        <!--▲商品 -->
                    </div>
                    <!--▲カートの中の商品一覧ここまで -->
                    <div class="totalBox">
                        <div id="selectionCart{{$index}}Total"><span class="mini">合計：￥</span><span class="price fb c-price u-text--emphasis">{{cart.total | currency: '':0}}</span><span class="mini u-text--emphasis"> (税込)</span></div>
                    </div>
                    <div ng-if="cart.total !== 0 && ctrl.checkBulkBuyingCondition(cart.errors)" class="btn_area_btm">
                        <p ng-if="cart.product_group.nekoposu_limit && cart.product_group.nekoposu_limit > 0 && cart.product_group.nekoposu_limit < ctrl.countCartItems(cart)" class="nekoposCaution">
                            ※上記商品は【{{cart.product_group.nekoposu_limit}}点以内】のご注文に限り、ネコポス配送をご利用いただけます。
                        </p>
                        <div class="u-center">
                            <input id="selectionCart{{$index}}NextBtn" type="button" ng-click="ctrl.onClick(cart.product_group.id)" value="ご購入手続きへ" name="confirm" class="c-button c-button--gs p-cart__button">
                        </div>
                        <p class="p-cart__purchase-note">※ご購入手続きいただくには、「WIZ*ONEアカウント」でログインいただく必要があります。</p>
                    </div>
                </div>
                <!--商品ここまで-->
            </div>
            <div class="inner u-center p-cart__top-page-link">
                <a class="c-button c-button--close c-button--gs p-cart__button" id="selectionCart{{$index}}ToTopBtn" ng-href="/top">お買い物を続ける</a>
            </div>
        </div>
    </section>
</div>
</div>
<div class="js-to-page-top c-to-top-button glyphicon glyphicon-circle-arrow-up"></div>


<div id="footer" class="p-footer">
    <div class="p-footer__nav-list">
        <div class="p-footer__nav-list__column">
            <div class="p-footer__nav"
                 ng-model="footerNavServiceClosed"
                 ng-init="footerNavServiceClosed = true">
                <div class="p-footer__nav__head"
                     ng-click="footerNavServiceClosed = !footerNavServiceClosed"
                     ng-class="{'active': !footerNavServiceClosed}">
                    <span>Service</span>
                </div>
                <div class="p-footer__nav__link-list-wrapper" ng-class="{'p-footer__nav__link-list-wrapper--closed': footerNavServiceClosed}">
                    <div class="p-footer__nav__link-list" ng-class="{'p-footer__nav__link-list--closed': footerNavServiceClosed}">
                        <a class="p-footer__nav__link" href="../site-info/registration.html">初めての方へ</a>
                        <a class="p-footer__nav__link" href="../site-info/help-list.html">ご利用ガイド</a>
                        <a class="p-footer__nav__link" href="../site-info/faq.html">よくあるご質問</a>
                        <a class="p-footer__nav__link" href="cart.html">カート</a>
                        <a class="p-footer__nav__link" href="../contact.html">お問い合わせ</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-footer__nav-list__column">
            <div class="p-footer__nav"
                 ng-model="footerNavAgreementAndOthersClosed"
                 ng-init="footerNavAgreementAndOthersClosed = true">
                <div class="p-footer__nav__head"
                     ng-click="footerNavAgreementAndOthersClosed = !footerNavAgreementAndOthersClosed"
                     ng-class="{'active': !footerNavAgreementAndOthersClosed}">
                    <span>Agreement / Others</span>
                </div>
                <div class="p-footer__nav__link-list-wrapper" ng-class="{'p-footer__nav__link-list-wrapper--closed': footerNavAgreementAndOthersClosed}">
                    <div class="p-footer__nav__link-list" ng-class="{'p-footer__nav__link-list--closed': footerNavAgreementAndOthersClosed}">
                        <a class="p-footer__nav__link" href="../site-info/policy.html">WIZ*ONEアカウントサービス会員規約</a>
                        <a class="p-footer__nav__link" href="../site-info/term.html">利用規約</a>
                        <a class="p-footer__nav__link" href="../site-info/law.html">特定商取引に関する法律に基づく表示</a>
                        <a class="p-footer__nav__link" href="../site-info/privacy.html">個人情報の取扱いに関して</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-footer__nav-list__column">
            <div class="p-footer__nav p-footer__nav--sns">
                <div class="p-footer__nav__head p-footer__nav__head--sns">
                    <span>SNS</span>
                </div>
                <div class="p-footer__nav__sns-wrapper p-footer__nav__link">
                    <div class="p-footer__nav__sns">
                        <div class="c-sns">
    <a href="http://cafe.daum.net/official-izone" target="_blank">
        <span class="c-sns__icon c-sns__icon--daum-cafe"></span>
    </a>
    <a href="https://twitter.com/official_izone" target="_blank">
        <span class="c-sns__icon c-sns__icon--twitter"></span>
    </a>
    <a href="https://www.youtube.com/channel/UCe_oTYByLWQYCUmgmOMU_xw" target="_blank">
        <span class="c-sns__icon c-sns__icon--youtube"></span>
    </a>
    <a href="https://www.facebook.com/official.izone/" target="_blank">
        <span class="c-sns__icon c-sns__icon--facebook"></span>
    </a>
    <a href="https://www.instagram.com/official_izone/" target="_blank">
        <span class="c-sns__icon c-sns__icon--instagram"></span>
    </a>
    <a href="https://channels.vlive.tv/C1B7AF/home" target="_blank">
        <span class="c-sns__icon c-sns__icon--v-live"></span>
    </a>
    <a href="https://www.weibo.com/officializone" target="_blank">
        <span class="c-sns__icon c-sns__icon--weibo"></span>
    </a>
</div>
                    </div>
                </div>
            </div>

            <div class="p-footer__nav p-footer__nav--banner" ng-controller="ImgUrlController as imgUrlCtrl">
                <div class="p-footer__nav__banner">
                    <div class="p-footer__nav__banner__row">
                        <div class="p-footer__nav__banner__row__column">
                            <a href="http://iz-one.co.kr/" target="_blank">
                                <img class="p-footer__nav__banner__row__column__img" ng-src="{{imgUrlCtrl.resourceUrl + 'memec/image/bnr_f_izone.png'}}" alt="official_banner">
                            </a>
                        </div>
                        <div class="p-footer__nav__banner__row__column">
                            <a href="https://www.izone-official.com/" target="_blank">
                                <img class="p-footer__nav__banner__row__column__img" ng-src="{{imgUrlCtrl.resourceUrl + 'memec/image/bnr_f_izone_jp.png'}}" alt="japan_official_banner">
                            </a>
                        </div>
                    </div>
                    <div class="p-footer__nav__banner__row">
                        <div class="p-footer__nav__banner__row__column">
                            <a href="https://shop.buyee.jp/izone-shop" target="_blank">
                                <img class="p-footer__nav__banner__row__column__img" ng-src="{{imgUrlCtrl.resourceUrl + 'memec/image/bnr_f_buyee.png'}}" alt="buyee_banner">
                            </a>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-footer__copyright">
        <p class="p-footer__copyright__text">
            <span class="p-footer__copyright__mark">&copy;</span><span>2018 OFF THE RECORD ENTERTAINMENT</span>
        </p>
        <div class="p-footer__copyright__note-wrapper">
            <p class="p-footer__copyright__note">
                <span>サイト内の文章、画像などの著作物はOFF THE RECORD ENTERTAINMENTに属します。</span>
                <span>複製、無断転載を禁止します。</span>
            </p>
        </div>
    </div>
</div>
</body>
</html>
