<!doctype html>
<html lang="ja" ng-app="memecApp.main">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="IZ*ONE(アイズワン)の日本公式通販サイト IZ*ONE JAPAN OFFICIAL SHOPのお問い合わせページです。">
    <meta name="keywords" content="IZ*ONE JAPAN OFFICIAL SHOP,アイズワンジャパンオフィシャルショップ,IZ*ONE,IZONE,アイズワン,IZ*ONE グッズ,IZ*ONE CD,IZ*ONE メンバー,チャン・ウォニョン,宮脇咲良,チョ・ユリ,チェ・イェナ,アン・ユジン,矢吹奈子,クォン・ウンビ,カン・ヘウォン,本田仁美,キム・チェウォン,キム・ミンジュ,イ・チェヨン">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="お問い合わせ | IZ*ONE JAPAN OFFICIAL SHOP">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://izone-shop.com">
    <meta property="og:image" content="https://izone-shop.com/ogp_img.png">
    <meta property="og:site_name" content="IZ*ONE JAPAN OFFICIAL SHOP">
    <meta property="og:description" content="IZ*ONE(アイズワン)の日本公式通販サイト IZ*ONE JAPAN OFFICIAL SHOPのお問い合わせページです。">
    <meta name="application-name" content="IZ*ONE JAPAN OFFICIAL SHOP">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="favicons/apple-touch-icon-180x180-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicons/apple-touch-icon-152x152-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicons/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicons/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="favicons/apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="favicons/apple-touch-icon-60x60-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="favicons/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" href="favicons/apple-touch-icon-57x57.png">

    <title>お問い合わせ | IZ*ONE JAPAN OFFICIAL SHOP</title>

    
    
    <!--AngularJS-->
    	<script type="text/javascript" src="assets/js/angular.min.js@1613975599"></script>
    	<script type="text/javascript" src="assets/js/angular-resource.min.js@1613975599"></script>
    	<script type="text/javascript" src="assets/js/angular-cookies.min.js@1613975599"></script>
    	<script type="text/javascript" src="assets/js/angular-animate.min.js@1613975599"></script>
    	<script type="text/javascript" src="assets/js/angular-sanitize.min.js@1613975599"></script>
    	<script type="text/javascript" src="assets/js/angular-locale_ja-jp.js@1613975599"></script>
    	<script type="text/javascript" src="assets/js/angular-touch.min.js@1613975599"></script>
    	<script type="text/javascript" src="assets/js/ng-infinite-scroll.min.js@1613975599"></script>
    	<script type="text/javascript" src="assets/js/ui-bootstrap-tpls-1.3.2.min.js@1613975599"></script>
    	<script type="text/javascript" src="assets/js/index.js@1613975655"></script>
    <!--ALL-->
    	<script type="text/javascript" src="assets/js/jquery-1.10.2.min.js@1613975599"></script>
    	<script type="text/javascript" src="assets/js/jquery-ui-1.10.2.min.js@1613975599"></script>
    	<script type="text/javascript" src="assets/js/default.js@1613975599"></script>
    	<script type="text/javascript" src="assets/js/slidebars.js@1613975599"></script>
    	<script type="text/javascript" src="assets/js/scroll-top.js@1613975599"></script>

    <!--各ページ個別-->
    	<link media="screen" type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css@1613975599.css" />
	<link media="screen" type="text/css" rel="stylesheet" href="assets/css/bootstrap-theme.min.css@1613975599.css" />
	<link type="text/css" rel="stylesheet" href="assets/css/slidebars.css@1613975599.css" />
    <!--PCのみ-->
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="assets/css/reset_pc.css@1613975599.css" />
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="assets/css/pc_style.css@1613975599.css" />
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="assets/css/pc_gsstyle.css@1613975599.css" />
	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="assets/css/pc_form.css@1613975599.css" />
    <!--SPのみ-->
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="assets/css/reset.css@1613975599.css" />
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="assets/css/sp_style.css@1613975599.css" />
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="assets/css/sp_gsstyle.css@1613975599.css" />
	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="assets/css/sp_form.css@1613975599.css" />
    <!--他のcssに影響されたくない全体最終適用css-->
    	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="assets/css/pc_login.css@1613975599.css" />
    	<link media="screen and (max-width: 960px)" type="text/css" rel="stylesheet" href="assets/css/sp_login.css@1613975599.css" />
    	<link media="screen and (min-width: 960px)" type="text/css" rel="stylesheet" href="assets/css/pc_uibmodal.css@1613975599.css" />

    	<link type="text/css" rel="stylesheet" href="assets/css/jquery-ui-1.10.2.min.css@1613975599.css" />
    	<link type="text/css" rel="stylesheet" href="assets/css/izone/izone.css@1613975599.css" />
    	<link type="text/css" rel="stylesheet" href="assets/css/whole.css@1613975599.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131006903-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131006903-1');
</script>

    
</head>
<body ng-controller="GlobalConfigController as globalConfigCtrl" class="ng-cloak c-section--aggregate" ng-cloak>

<div ng-controller="SearchPageRedirectController as searchPageRedirectCtrl">
    <div id="header" class="l-header p-header">
        <div class="l-header__nav l-header__nav--sns">
            <img ng-click="searchPageRedirectCtrl.hide = !searchPageRedirectCtrl.hide" class="l-header__nav--search__icon p-header__search__icon" src="assets/img/izone/icon_serch.png" alt="cart">
            <div class="p-header__sns">
                <div class="c-sns">
    <a href="http://cafe.daum.net/official-izone" target="_blank">
        <span class="c-sns__icon c-sns__icon--daum-cafe"></span>
    </a>
    <a href="https://twitter.com/official_izone" target="_blank">
        <span class="c-sns__icon c-sns__icon--twitter"></span>
    </a>
    <a href="https://www.youtube.com/channel/UCe_oTYByLWQYCUmgmOMU_xw" target="_blank">
        <span class="c-sns__icon c-sns__icon--youtube"></span>
    </a>
    <a href="https://www.facebook.com/official.izone/" target="_blank">
        <span class="c-sns__icon c-sns__icon--facebook"></span>
    </a>
    <a href="https://www.instagram.com/official_izone/" target="_blank">
        <span class="c-sns__icon c-sns__icon--instagram"></span>
    </a>
    <a href="https://channels.vlive.tv/C1B7AF/home" target="_blank">
        <span class="c-sns__icon c-sns__icon--v-live"></span>
    </a>
    <a href="https://www.weibo.com/officializone" target="_blank">
        <span class="c-sns__icon c-sns__icon--weibo"></span>
    </a>
</div>
            </div>
        </div>
        <div class="l-header__logo">
            <a href="mypage/top.html">
                <img class="l-header__img" src="assets/img/izone/logo_1.png" alt="logo">
            </a>
        </div>
        <div class="l-header__nav l-header__nav--search c-search p-header__search">
            <form action="mypage/top.html" onsubmit="return false;" ng-submit="searchPageRedirectCtrl.redirectToSearchPage()">
                <input type="search" id="inTextPc" class="c-search__text" placeholder="Search" ng-model="searchPageRedirectCtrl.searchKeyword">
                <div class="c-search__button" ng-click="searchPageRedirectCtrl.redirectToSearchPage()">
                    <img src="assets/img/izone/icon_serch_pc.png" alt="logo">
                </div>
            </form>
        </div>
        <div class="l-header__nav l-header__nav--cart">
            <a href="selection/cart.html">
                <img class="l-header__nav--cart__icon" src="assets/img/izone/icon_cart.png" alt="cart">
            </a>
        </div>
        <div class="l-header__nav l-header__nav--menu p-header__menu"
             ng-controller="GlobalMenuController as globalMenuCtrl"
             ng-click="globalMenuCtrl.openMenu()">
            <img class="l-header__nav--menu__icon" src="assets/img/izone/icon_menu.png" alt="menu">
        </div>
    </div>
    <div ng-hide="searchPageRedirectCtrl.hide" class="p-search p-header__search__icon">
        <form action="mypage/top.html" onsubmit="return false;" ng-submit="searchPageRedirectCtrl.redirectToSearchPage()" class="c-search__form">
            <div class="c-search__button" ng-click="searchPageRedirectCtrl.redirectToSearchPage()">
                <img src="assets/img/izone/icon_serch_pc.png" alt="logo">
            </div>
            <div class="c-search__textbox">
                <input type="search" id="inTextSp" class="c-search__text" placeholder="Search" ng-model="searchPageRedirectCtrl.searchKeyword">
            </div>
        </form>
    </div>
</div><div class="dummyHeader"></div><!-- 固定ヘッダ分の高さを確保 -->

<div class="c-buyee">
    <script type="text/javascript">
  (function() {
    var _buyee = { ac: 'izone-to-page' };
    var _bqs = {};
    _bqs['v'] = (new Date()).getTime();
    var vars = [];
    for (key in _bqs) {
      vars.push(key + '=' + _bqs[key]);
    }
    var e = document.createElement('script'); e.type = 'text/javascript'; e.defer = true;
    var scheme = 'https:' == document.location.protocol ? 'https' : 'http';
    e.src = scheme + '://banner.buyee.jp/script/' + _buyee['ac'] + '.js?' + vars.join('&');
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s);
  })();
</script>

<div id="for_izone-to-page" style="display: none; width: 0px; height: 0px;">
    <input type="hidden" id="h_izone-to-page" value="to-page" />
</div>
</div>

<div id="wrap">
    <div ng-controller="ContactController as ctrl" ng-init="ctrl.init()" id="sb-site">
    <section id="contactArea" class="p-contact">
        <h2 class="pageTitle">お問い合わせ</h2>
        <div class="inner">
            <div class="noteBox">
                <p class="contactTxt"><span class="p-contact__attention-icon">お問い合わせをされる前に！</span></p>
                <p>
                    ご注文方法、お支払い方法、キャンセル交換について、などのお問い合わせは以下「ご利用ガイド」「よくある質問」で解決いただける場合がございます。お問い合わせされる前に下記ご確認をお願いいたします。
                </p>
                <div class="btnBox mgT20">
                    <a id="contactToHelpBtn" href="site-info/help-list.html" class="button">
                        <i class="p-contact__icon--first"></i>
                        <span>ご利用ガイド</span>
                    </a>
                    <a id="contactToHelpCDBtn" href="site-info/faq.html" class="button">
                        <i class="p-contact__icon--question"></i>
                        <span>よくある質問</span>
                    </a>
                </div>
            </div>
            <div class="noteBox mgT20">
                <p class="contactTxt"><span class="p-contact__attention-icon">お問い合わせ先</span></p>
                <p class="mgT20">
                    各種グッズ類に関するお問い合わせは「<span class="pink">グッズ関連お問い合わせ</span>」より、ログインやパスワードなどアカウント登録情報に関するお問い合わせは「<span class="pink">アカウント関連お問い合わせ</span>」より、それぞれお問い合わせください。
                </p>
                <div class="btnBox mgT20">
                    <a id="contactToHelpBtn" ng-href="{{ctrl.goodsinquiryUrl}}" target="_blank" class="button">
                        <i class="p-contact__icon--goods"></i>
                        <span>グッズ関連<br>お問い合わせ</span>
                    </a>
                    <a id="top" ng-href="{{ctrl.inquiryUrl}}" target="_blank" class="button">
                        <i class="p-contact__icon--login"></i>
                        <span>アカウント関連<br>お問い合わせ</span>
                    </a>
                </div>
            </div>
            <div class="contactBox">
                <p class="contactTxt"><span class="p-contact__attention-icon">IZ*ONE JAPAN OFFICIAL SHOPの各種商品に関するお問い合わせ</span></p>
                                <dl class="form_entry">
                    <dt>お名前&nbsp;<span class="pink">※</span></dt>
                    <dd>
                        <p id="contactLastNameErr" ng-bind="ctrl.lastNameErr" class="pink"></p>
                        <p id="contactFirstNameErr" ng-bind="ctrl.firstNameErr" class="pink"></p>
                        <input id="contactLastName" type="text" name="name01" ng-model="ctrl.contact.name.last"
                               maxlength="50" style="" class="half" placeholder="姓">&nbsp;
                        <input id="contactFirstName" type="text" name="name02" ng-model="ctrl.contact.name.first"
                               maxlength="50" style="" class="half" placeholder="名">
                    </dd>
                    <dt>お名前(フリガナ)&nbsp;<span class="pink">※</span></dt>
                    <dd>
                        <p id="contactLastNameKanaErr" ng-bind="ctrl.lastNameKanaErr" class="pink"></p>
                        <p id="contactFirstNameKanaErr" ng-bind="ctrl.firstNameKanaErr" class="pink"></p>
                        <input id="contactLastNameKana" type="text" name="kana01" ng-model="ctrl.contact.name.kana.last"
                               maxlength="50" style="" class="half" placeholder="セイ">&nbsp;
                        <input id="contactFirstNameKana" type="text" name="kana02"
                               ng-model="ctrl.contact.name.kana.first" maxlength="50" style="" class="half"
                               placeholder="メイ">
                    </dd>
                    <dt>ご注文番号 / WIZ*ONE盤お申込み番号</dt>
                    <dd>
                        <input id="contactOrderId" type="text" class="wide" name="order_id"
                               ng-model="ctrl.contact.order_id" value="" maxlength="100" style="">
                        <span class="fs pink">
                            ※ご注文番号（数字7ケタ）または、WIZ*ONE盤お申込み番号(数字5ケタ-7ケタ)をご記入ください。
                        </span>
                    </dd>
                    <dt>メールアドレス&nbsp;<span class="pink">※</span></dt>
                    <dd>
                        <p id="contactFirstMailErr" ng-bind="ctrl.firstMailErr" class="pink"></p>
                        <input id="contactFirstMail" type="text" name="mail1" ng-model="ctrl.contact.email" style=""
                               maxlength="200" class="wide">
                        <p id="contactSecondMailErr" ng-bind="ctrl.secondMailErr" class="pink"></p>
                        <input id="contactSecondMail" type="text" name="mail2" ng-model="ctrl.mailConfirm" style=""
                               maxlength="200" class="wide" placeholder="確認のため2回入力してください">
                        <span class="fs pink">※ご回答メールをお受け取りいただけますよう、お問い合わせ前に「@izone-shop.com」メールを受信できるご設定をお願いします。</span>
                    </dd>
                    <dt>お問い合わせ内容&nbsp;<span class="pink">※</span><span class="fs">（全角1000字以下）</span></dt>
                    <dd>
                        <span id="contactBodyErr" ng-bind="ctrl.podyErr" class="pink"></span>
                        <textarea name="contents" id="contents" class="wide" ng-model="ctrl.contact.body" rows="4"
                                  cols="42" style="font-size: 100%;"></textarea>
                    </dd>
                    <dt>個人情報の取扱いに関して&nbsp;<span class="pink">※</span></dt>
                    <dd>
                        <div class="contact_kiyaku">
                            <div id="privacy_policy_txt">
                                <div class="privacy_warp">
                                    <h2>個人情報の取扱いに関して</h2>
                                    <h3>1.	事業者の名称、個人情報保護管理者の職名及び所属及び連絡先</h3>
                                    <p>
                                        株式会社Vernalossom<br>
                                        個人情報保護管理者 ：管理担当（コンプライアンス担当）<br>
                                        連絡先 ：東京都千代田区外神田6-1-8 思い出ビル内 プライバシーマーク推進事務局
                                    </p>

                                    <h3>2.	利用目的について</h3>
                                    <p>
                                        株式会社Vernalossom（以下「当社」といいます）は、個人情報を次の利用目的の範囲内で利用することを、個人情報の保護に関する法律（個人情報保護法）第18条第1項及びJIS Q15001に基づき公表します。<br>
                                        ・顧客情報<br>
                                        1) 当社が取り扱う商品、サービスに関するご案内<br>
                                        2) 当社の商品販売、サービスの提供、商品の送付<br>
                                        3) 当社が取り扱うサービスの品質向上を図るためアンケートを実施<br>
                                        4) 当社が提供する会員向けサービスへのログインなど、ユーザーの本人確認や個人特定<br>
                                        5) 上記1）～4）に付帯、関連するサービスの提供やご連絡<br>
                                        6) お客様からの問い合わせ、ご依頼等への対応<br>
                                        7）その他当社の利用規約等において別途定める利用目的<br>
                                        <br>
                                        ・取引先情報<br>
                                        1） 当社と取引先間で契約した業務の実施<br>
                                        2） 業務上の連絡<br>
                                        3） 情報や物品の授受<br>
                                        4） 取引先関係者を当社の取引先（第三者）へご紹介<br>
                                        <br>
                                        ・お問い合わせ者情報<br>
                                        1） お問い合わせ、依頼等への対応<br>
                                        <br>
                                        なお、予め明示・公表した利用目的の範囲を超えて、個人情報を利用する必要が生じた場合は、ご本人様等にその旨を、ご同意をいただいた上で利用します。
                                    </p>

                                    <h3>3.	第三者提供について</h3>
                                    <p>
                                        当社は、次の場合を除き、ご本人様の個人情報を第三者に開示または提供しません。<br>
                                        1) ご本人様の同意がある場合<br>
                                        2) 法令に基づく場合（法令上認められる場合を含みます。）<br>
                                        3) 人の生命、身体又は財産の保護のために必要であって、ご本人様の同意を取ることが困難な場合<br>
                                        4) 合併、会社分割、営業譲渡その他の事由によって事業の承継が行われる場合
                                    </p>

                                    <h3>4.	委託について</h3>
                                    <p>
                                        利用目的の達成に必要な範囲で、個人情報の取り扱いを委託する場合があります。<br>
                                        その場合は、当社が基準として定めた守秘義務契約を締結し、個人情報保護に万全を期します。
                                    </p>

                                    <h3>5.	廃棄について</h3>
                                    <p>
                                        当社が保有する個人情報は、当社の規定に従い、利用目的の達成後すみやかに、安全かつ確実な方法で廃棄または消去いたします。
                                    </p>

                                    <h3>6.	個人情報の利用目的の通知・開示･訂正･追加又は削除・利用の停止・消去又は提供の拒否権について</h3>
                                    <p>
                                        ご提供いただいた個人情報に関して、利用目的の通知、開示、訂正･追加又は削除、利用の停止、消去又は第三者への提供の停止を求めることができます。手続きについては、下記「12. 個人情報に関する苦情・相談およびお問い合せ」宛までご連絡ください。<br>
                                        なお、請求は原則としてご本人様からの請求とし、未成年者からの請求は、個人情報の内容により保護者等による請求が必要になる場合があります。<br>
                                        なお、以下のa)、b)、c)のいずれかに該当する場合は開示を、ｄ）に該当する場合は利用停止等を、e)に該当する場合は第三者への提供の停止を、それぞれ行なうことはできませんが、そのときは、ご本人様に遅滞なくその旨を通知するとともに、理由を説明するように努めるものといたします。<br>
                                        a) ご本人様又は第三者の生命，身体，財産その他の権利利益を害するおそれがある場合<br>
                                        b) 当該事業者の業務の適正な実施に著しい支障を及ぼすおそれがある場合<br>
                                        c) 法令に違反することとなる場合<br>
                                        d) 利用停止等に多額の費用を要する場合その他の利用停止等を行うことが困難な場合であって、本人の権利利益を保護するため必要なこれに代わるべき措置をとるとき<br>
                                        e) 第三者への提供の停止に多額の費用を要する場合その他の第三者への提供を停止することが困難な場合であって、本人の権利利益を保護するため必要なこれに代わるべき措置をとるとき
                                    </p>

                                    <h3>7.	提供の任意性について</h3>
                                    <p>
                                        個人情報の提供は任意となりますが、ご提供頂けない場合は、お問い合わせ・サービスの提供等への対応ができないことがございますのでご了承ください。
                                    </p>

                                    <h4>8.	クッキー（Cookie）の利用について</h4>
                                    <p>
                                        当社の運営管理するインターネットサイト及びその他のサービス（以下、「本サイト等」といいます。）では、クッキーを利用しているページがあります。<br>
                                        1) 当社は、本サイト等の利用状況の分析や、適正なサービスの提供等をするため、クッキー等の情報を使用する場合があります。<br>
                                        2) 会員登録制のサービスにおいては、クッキー等の情報を基に、お客様ごとにカスタマイズしたサービス提供のために、お客様を識別する情報と関連づける場合があります。
                                    </p>

                                    <h3>9.	個人情報を本人から直接書面以外による方法で取得した場合の通知事項</h3>
                                    <p>
                                        委託元より取得した受託業務で取り扱う個人情報は、受託業務の為にのみ利用します。
                                    </p>

                                    <h3>10.	免責</h3>
                                    <p>
                                        本サイト等からのリンク先のウェブサイトにおけるお客様の個人情報の安全確保については、当社は責任を負うことができません。お客様ご自身でご確認いただきますようお願いいたします。また、パスワードや登録情報の保持は、お客様ご自身の責任で行ってください。オンライン接続しているときには情報の取扱いに十分ご注意ください。
                                    </p>

                                    <h3>11.	改訂について</h3>
                                    <p>
                                        本ページ「個人情報の取扱いに関して」は、よりいっそうお客様の個人情報の保護を図るため、もしくは法令の制定や変更などに伴い、適宜見直しを行います。定期的に最新の内容をご確認されることをお勧めします。<br>
                                        当社は、本ページ「個人情報の取扱いに関して」の一部または全部を改訂することがあります。重要な変更がある場合には、本サイト上でお知らせします。
                                    </p>

                                    <h3>12.	個人情報に関する苦情・相談およびお問い合わせ</h3>
                                    <p>
                                        ご本人様ご自身の個人情報について、また個人情報保護全般に関するお問い合わせなどがございましたら下記までご連絡下さい。<br>
                                        株式会社Vernalossom 個人情報相談窓口<br>
                                        email : info@vernalossomprivacy.com<br>
                                        ※こちらは、ご本人様ご自身の個人情報に関する苦情・相談およびお問い合わせへの受付であり、他のお問い合わせについては受け付けておりません。
                                    </p>

                                    <br>

                                    <p>当社が対象事業者となっている「認定個人情報保護団体」の名称及び苦情の解決の申し出先<br>
                                        団体名　一般財団法人 日本情報経済社会推進協会 （JIPDEC)<br>
                                        担当　　プライバシーマーク推進センター  個人情報保護苦情相談室<br>
                                        TEL　　03 - 5860 - 7565 ／ 0120 - 700 - 779<br>
                                        住所　　〒106-0032  東京都港区六本木1-9-9　六本木ファーストビル内
                                    </p>

                                    <br>

                                    <p align="right">
                                        付則　2018年12月28日制定・施行<br>
                                        2019年7月2日改定<br>
                                        2020年4月1日改定<br>
                                        株式会社Vernalossom
                                    </p>
                                </div>
                            </div>
                            <div class="btnCenter">
                                <label>
                                    <p id="contactPrivacyErr" ng-bind="ctrl.PrivacyErr" class="pink"></p>
                                    <input id="contactPrivacy" name="privacy" ng-model="ctrl.privacy" type="checkbox"
                                           value="1">
                                    同意する
                                </label>
                            </div>
                        </div>
                    </dd>
                    <div class="btn_area u-center">
                        <input id="contactSubmitBtn" type="submit" name="submit-button" ng-click="ctrl.confirm()"
                               value="確認ページへ" class="btnBlue c-button c-button--gs">
                    </div>
                    <p class="pink center mgT20">*お問い合わせ内容によって回答にお時間をいただく場合がございます。<br>*土日祝祭日または指定休業日にお問い合わせいただいた際は翌営業日以降のご対応となります。</p>
                </dl>
            </div>
        </div>
    </section>
</div>
</div>
<div class="js-to-page-top c-to-top-button glyphicon glyphicon-circle-arrow-up"></div>


<div id="footer" class="p-footer">
    <div class="p-footer__nav-list">
        <div class="p-footer__nav-list__column">
            <div class="p-footer__nav"
                 ng-model="footerNavServiceClosed"
                 ng-init="footerNavServiceClosed = true">
                <div class="p-footer__nav__head"
                     ng-click="footerNavServiceClosed = !footerNavServiceClosed"
                     ng-class="{'active': !footerNavServiceClosed}">
                    <span>Service</span>
                </div>
                <div class="p-footer__nav__link-list-wrapper" ng-class="{'p-footer__nav__link-list-wrapper--closed': footerNavServiceClosed}">
                    <div class="p-footer__nav__link-list" ng-class="{'p-footer__nav__link-list--closed': footerNavServiceClosed}">
                        <a class="p-footer__nav__link" href="site-info/registration.html">初めての方へ</a>
                        <a class="p-footer__nav__link" href="site-info/help-list.html">ご利用ガイド</a>
                        <a class="p-footer__nav__link" href="site-info/faq.html">よくあるご質問</a>
                        <a class="p-footer__nav__link" href="selection/cart.html">カート</a>
                        <a class="p-footer__nav__link" href="contact.html">お問い合わせ</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-footer__nav-list__column">
            <div class="p-footer__nav"
                 ng-model="footerNavAgreementAndOthersClosed"
                 ng-init="footerNavAgreementAndOthersClosed = true">
                <div class="p-footer__nav__head"
                     ng-click="footerNavAgreementAndOthersClosed = !footerNavAgreementAndOthersClosed"
                     ng-class="{'active': !footerNavAgreementAndOthersClosed}">
                    <span>Agreement / Others</span>
                </div>
                <div class="p-footer__nav__link-list-wrapper" ng-class="{'p-footer__nav__link-list-wrapper--closed': footerNavAgreementAndOthersClosed}">
                    <div class="p-footer__nav__link-list" ng-class="{'p-footer__nav__link-list--closed': footerNavAgreementAndOthersClosed}">
                        <a class="p-footer__nav__link" href="site-info/policy.html">WIZ*ONEアカウントサービス会員規約</a>
                        <a class="p-footer__nav__link" href="site-info/term.html">利用規約</a>
                        <a class="p-footer__nav__link" href="site-info/law.html">特定商取引に関する法律に基づく表示</a>
                        <a class="p-footer__nav__link" href="site-info/privacy.html">個人情報の取扱いに関して</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-footer__nav-list__column">
            <div class="p-footer__nav p-footer__nav--sns">
                <div class="p-footer__nav__head p-footer__nav__head--sns">
                    <span>SNS</span>
                </div>
                <div class="p-footer__nav__sns-wrapper p-footer__nav__link">
                    <div class="p-footer__nav__sns">
                        <div class="c-sns">
    <a href="http://cafe.daum.net/official-izone" target="_blank">
        <span class="c-sns__icon c-sns__icon--daum-cafe"></span>
    </a>
    <a href="https://twitter.com/official_izone" target="_blank">
        <span class="c-sns__icon c-sns__icon--twitter"></span>
    </a>
    <a href="https://www.youtube.com/channel/UCe_oTYByLWQYCUmgmOMU_xw" target="_blank">
        <span class="c-sns__icon c-sns__icon--youtube"></span>
    </a>
    <a href="https://www.facebook.com/official.izone/" target="_blank">
        <span class="c-sns__icon c-sns__icon--facebook"></span>
    </a>
    <a href="https://www.instagram.com/official_izone/" target="_blank">
        <span class="c-sns__icon c-sns__icon--instagram"></span>
    </a>
    <a href="https://channels.vlive.tv/C1B7AF/home" target="_blank">
        <span class="c-sns__icon c-sns__icon--v-live"></span>
    </a>
    <a href="https://www.weibo.com/officializone" target="_blank">
        <span class="c-sns__icon c-sns__icon--weibo"></span>
    </a>
</div>
                    </div>
                </div>
            </div>

            <div class="p-footer__nav p-footer__nav--banner" ng-controller="ImgUrlController as imgUrlCtrl">
                <div class="p-footer__nav__banner">
                    <div class="p-footer__nav__banner__row">
                        <div class="p-footer__nav__banner__row__column">
                            <a href="http://iz-one.co.kr/" target="_blank">
                                <img class="p-footer__nav__banner__row__column__img" ng-src="{{imgUrlCtrl.resourceUrl + 'memec/image/bnr_f_izone.png'}}" alt="official_banner">
                            </a>
                        </div>
                        <div class="p-footer__nav__banner__row__column">
                            <a href="https://www.izone-official.com/" target="_blank">
                                <img class="p-footer__nav__banner__row__column__img" ng-src="{{imgUrlCtrl.resourceUrl + 'memec/image/bnr_f_izone_jp.png'}}" alt="japan_official_banner">
                            </a>
                        </div>
                    </div>
                    <div class="p-footer__nav__banner__row">
                        <div class="p-footer__nav__banner__row__column">
                            <a href="https://shop.buyee.jp/izone-shop" target="_blank">
                                <img class="p-footer__nav__banner__row__column__img" ng-src="{{imgUrlCtrl.resourceUrl + 'memec/image/bnr_f_buyee.png'}}" alt="buyee_banner">
                            </a>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-footer__copyright">
        <p class="p-footer__copyright__text">
            <span class="p-footer__copyright__mark">&copy;</span><span>2018 OFF THE RECORD ENTERTAINMENT</span>
        </p>
        <div class="p-footer__copyright__note-wrapper">
            <p class="p-footer__copyright__note">
                <span>サイト内の文章、画像などの著作物はOFF THE RECORD ENTERTAINMENTに属します。</span>
                <span>複製、無断転載を禁止します。</span>
            </p>
        </div>
    </div>
</div>
<script type="text/javascript">
<!--
var vgHost='chat3-a1.chatdealer.jp',vgProtocol='https',vgPort='443',vgAtxt='MZ2rLChat3-a1',vgSid=4;
(function(){try{
var ins=document.createElement('script'),dt=new Date,tg=document.getElementsByTagName('script')[0];
ins.type='text/javascript';ins.async=!0;ins.setAttribute('charset','utf-8');
ins.src=vgProtocol+'://'+vgHost+':'+vgPort+'/chat/client.js?'+dt.getTime();tg.parentNode.insertBefore(ins,tg);
}catch(e){console.log(e);}})();
//-->
</script>
</body>
</html>
