@font-face {
	font-family: 'SpoqaSansNumber';
	src: url('SpoqaHanSansBold.eot');
	src: url('SpoqaHanSansBold.eot?#iefix') format('embedded-opentype'),
	url('SpoqaHanSansBold.woff2') format('woff2'),
	url('SpoqaHanSansBold.woff') format('woff'),
	url('SpoqaHanSansBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SpoqaSansNumber';
	src: url('SpoqaHanSansLight.eot');
	src: url('SpoqaHanSansLight.eot?#iefix') format('embedded-opentype'),
	url('SpoqaHanSansLight.woff2') format('woff2'),
	url('SpoqaHanSansLight.woff') format('woff'),
	url('SpoqaHanSansLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SpoqaSansNumber';
	src: url('SpoqaHanSansRegular.eot');
	src: url('SpoqaHanSansRegular.eot?#iefix') format('embedded-opentype'),
	url('SpoqaHanSansRegular.woff2') format('woff2'),
	url('SpoqaHanSansRegular.woff') format('woff'),
	url('SpoqaHanSansRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
